.complaint-published {
  font-family: 'Noto Sans', sans-serif;
  padding: 30px 0;
}
.complaint-published__title {
  text-align: center;
  margin-bottom: 46px;
  letter-spacing: 0.51px;
  color: #152C43;
  font-size: 32px;
  line-height: 1.35;
  font-weight: bold;
}
.complaint-published__picture {
  margin: 0 auto 15px;
}
.complaint-published__list {
  font-size: 21px;
  line-height: 1.33;
  letter-spacing: 0.17px;
  color: #152C43;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  text-align: center;
  margin: 0 0 64px;
}
.complaint-published__item {
  margin-bottom: 17px;
}
.complaint-published__item::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: #3566B8;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
          box-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
}
.complaint-published__buttons {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.complaint-published__buttons-column {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .complaint-published__title {
    font-size: 19px;
    line-height: 1.21;
  }
  .complaint-published__picture {
    width: 187px;
    height: auto;
    margin-bottom: 48px;
  }
  .complaint-published__list {
    line-height: 1.35;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .complaint-published__item {
    margin-bottom: 13px;
  }
}
