.form-block {
    position: relative;

    &__box {
        position: relative;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 30px;
        transform: translateY(-50%);
        background-color: white;
        letter-spacing: 0.53px;
        color: #152C43;
        font-size: 16px;
        line-height: 1.25;
        padding: 0 3px;
        margin: 0 20px;
        transition: 0.1s ease-out;
        transform-origin: left top;
        pointer-events: none;
    }

    &__inp {
        font-size: 16px;
        outline: none;
        border: 1px solid #d6d6e1;
        height: 56px;
        border-radius: 5px;
        padding: 0 10px 0 23px;
        letter-spacing: 0.15px;
        color: #152C43;
        transition: 0.1s ease-out;
        width: 100%;

        &:focus {
            border-color: #1B73E8;
            box-shadow: 0 0 1px 1px #1B73E8;
        }

        &_with-icon {
            padding-right: 45px;
        }
    }

    &__t-area {
        font-size: 16px;
        outline: none;
        border: 1px solid #d6d6e1;
        height: 220px;
        border-radius: 5px;
        padding: 21px 23px 10px;
        letter-spacing: 0.15px;
        color: #152C43;
        transition: 0.1s ease-out;
        width: 100%;
        resize: none;
        line-height: 1.5;

        &:focus {
            border: 1px solid #1B73E8;
            box-shadow: 0 0 1px 1px #1B73E8;
        }

        &-hint {
            display: flex;
            justify-content: space-between;
        }

        &-text {
            font-size: 13px;
            line-height: 1.25;
            font-weight: 300;
            color: #152C43;
        }

        &-counter {
            font-size: 15px;
            line-height: 1.26;
            text-shadow: 0 1px 1px #4040400B;
            margin-left: 10px;
        }

        &-num {
            color: #1B73E8;
        }
    }

    &__row_error-size &__t-area {
        height: 336px;
    }

    &__row_error-size &__t-area-text {
        color: #1B73E8;
    }

    &__sign {
        visibility: hidden;
    }

    &__inp:focus + &__label,
    &__t-area:focus + &__label {
        letter-spacing: 0.43px;
        color: #1B73E8;
        font-size: 13px;
        line-height: 1.23;
        top: 0;
        transform: translateY(-50%);
        left: 4px;
    }

    &__inp:focus + &__label &__sign,
    &__t-area:focus + &__label &__sign,
    &__inp:not(:placeholder-shown) + &__label &__sign,
    &__t-area:not(:placeholder-shown) + &__label &__sign {
        visibility: visible;
    }

    &__inp:not(:placeholder-shown) + &__label,
    &__t-area:not(:placeholder-shown) + &__label {
        top: 0;
        font-size: 13px;
        transform: translateY(-50%);
        left: 4px;
    }

    &__hint {
        min-height: 24px;
        color: #152C43;
        font-size: 13px;
        font-weight: 300;
        padding-top: 5px;
        padding-bottom: 8px;
    }

    &__row_error &__hint {
        color: #B00020;
    }

    &__row_error &__inp:focus + &__label,
    &__row_error &__label {
        top: 0;
        transform: translateY(-50%);
        color: #B00020;
        font-size: 13px;
        letter-spacing: 0.43px;
        line-height: 1.23;
        left: 4px;
    }

    &__row_error &__inp {
        border-color: #1B73E8;
        box-shadow: 0 0 1px 1px #1B73E8;
    }

    &__row_error &__hint {
        display: block;
    }

    &__btn {
        &_edit {
            width: 16px;
            height: 16px;
            cursor: pointer;
            display: block;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.002' height='16.002'%3E%3Cpath d='M12.981 0a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191L13.577.247A.839.839 0 0012.981 0zm-3.3 2.948L0 12.633V16h3.369l9.685-9.685z' fill='rgba(21,44,67,.32)'/%3E%3C/svg%3E") center no-repeat;
        }

        &_eye {
            width: 22px;
            height: 16px;
            cursor: pointer;
            display: block;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.268' height='16.132'%3E%3Cpath d='M11.02.055c-8 0-11 8-11 8s3 8 11 8 11-8 11-8-3-8-11-8zm0 2c5.276 0 7.944 4.267 8.808 6-.865 1.717-3.553 6-8.808 6-5.276 0-7.944-4.267-8.808-6 .865-1.714 3.552-6 8.808-6zm0 2a4 4 0 104 4 4 4 0 00-4-4zm0 2a2 2 0 11-2 2 2 2 0 012-2z' fill='%2377779d' opacity='.297'/%3E%3C/svg%3E") center no-repeat;
        }
    }

    &__inp_with-icon ~ &__btn_edit {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -8px;
    }

    &__inp_with-icon ~ &__btn_eye {
        position: absolute;
        right: 19px;
        top: 50%;
        margin-top: -8px;
    }

    &__inp:focus ~ &__btn_edit {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.002' height='16.002'%3E%3Cpath d='M12.981 0a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191L13.577.247A.839.839 0 0012.981 0zm-3.3 2.948L0 12.633V16h3.369l9.685-9.685z' fill='%233566B8'/%3E%3C/svg%3E");
    }

    &__dropdown {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 1px;
        background: #FFFFFF;
        box-shadow: 0 3px 6px #dddddd;
        border-radius: 5px;
        z-index: 10;
        padding: 10px 0;

        &-list {
            max-height: 170px;
            overflow: auto;
        }

        &-link {
            letter-spacing: 0.15px;
            color: #152C43;
            font-size: 16px;
            line-height: 1.5;
            padding: 5px 25px 6px;
            display: block;

            &:hover {
                background: #becee8;
                text-decoration: none;
            }
        }
    }

    &__tooltip {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 3px 6px #e2e2e8;
        border-radius: 12px;
        z-index: 1;
        text-align: left;
        width: 300px;
        padding: 18px 16px 23px;
        border: 1px solid #dbdbe4;

        &_left {
            top: 0;
            left: 100%;
            border-radius: 0 12px 12px 12px;
            margin-left: 27px;

            &::after {
                width: 0;
                content: "";
                position: absolute;
                top: 0;
                right: 100%;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 0;
                border-color: transparent #ffffff transparent transparent;
            }

            &::before {
                width: 0;
                content: "";
                position: absolute;
                top: -1px;
                right: 100%;
                height: 0;
                border-style: solid;
                border-width: 0 12px 12px 0;
                border-color: transparent #dbdbe4 transparent transparent;
            }
        }

        &-title {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.24px;
            line-height: 1.2;
            color: #152C43;
            margin-bottom: 10px;

            &::before {
                content: "?";
                width: 16px;
                height: 16px;
                display: inline-block;
                background: #3566b8;
                border-radius: 50%;
                color: #fff;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                margin-right: 6px;
                vertical-align: middle;
                text-align: center;
                position: relative;
                top: -2px;
            }
        }

        &-text {
            font-size: 14px;
            line-height: 1.3;
            letter-spacing: 0.22px;
            color: #152C43;
        }

        &-list {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.3;
            letter-spacing: 0.22px;
            color: #152C43;
            padding-top: 14px;

            li {
                position: relative;
                padding-left: 16px;
                margin-bottom: 8px;

                &::before {
                    content: "";
                    position: absolute;
                    background: #3566B8;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    left: 0;
                    top: 5px;
                }
            }
        }
    }
}

/* check-item */
.check-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;

    &__label {
        padding: 0 0 0 32px;
        cursor: pointer;
    }

    &__dot,
    &__label {
        display: inline-block;
        vertical-align: middle;
    }

    &__name {
        font-size: 13px;
        line-height: 1.3;
        font-weight: 300;
        color: #152C43;
    }

    &__link {
        color: #1B73E8;
        font-size: 13px;
        line-height: 1.3;
        font-weight: 300;
    }

    &__dot {
        width: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        height: 20px;
        border-radius: 3px;
        background: #fff;
        border: 2px solid #b5b5b5;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 20px;
            height: 20px;
            background: url("../i/icon-check.png") center no-repeat;
            left: 0;
            transition: 0.1s;
            display: none;
        }
    }

    :checked + &__dot {
        background-color: #3566B8;
        border-color: #3566B8;
    }

    :checked + &__dot::before {
        display: block;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 0;
    }
}

@media (max-width: 1280px) {
    .form-block {
        &__tooltip {
            left: 12px;
            margin-left: 0;
            margin-top: 8px;
            width: auto;
            right: 0;
            top: 100%;

            &_bottom-mobile {
                margin-top: 0;
                margin-bottom: 17px;
                top: inherit;
                bottom: 100%;
                border-radius: 12px 12px 12px 0;

                &::after {
                    width: 0;
                    content: "";
                    position: absolute;
                    top: inherit;
                    bottom: 0;
                    right: 100%;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 10px 10px;
                    border-color: transparent transparent #ffffff transparent;
                }

                &::before {
                    width: 0;
                    content: "";
                    position: absolute;
                    top: inherit;
                    bottom: -1px;
                    right: 100%;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 12px 12px;
                    border-color: transparent transparent #dbdbe4 transparent;
                }
            }

            &_right-mobile {
                right: 100%;
                left: inherit;
                margin-top: 0;
                margin-right: 20px;
                width: 200px;
                border-radius: 12px 0 12px 12px;

                &::after {
                    width: 0;
                    content: "";
                    position: absolute;
                    top: inherit;
                    top: 0;
                    left: 100%;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 0;
                    border-color: #ffffff transparent transparent transparent;
                }

                &::before {
                    width: 0;
                    content: "";
                    position: absolute;
                    top: inherit;
                    top: -1px;
                    left: 100%;
                    height: 0;
                    border-style: solid;
                    border-width: 12px 12px 0 0;
                    border-color: #dbdbe4 transparent transparent transparent;
                }
            }

            &-title {
                font-size: 15px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-block {
        &__label {
            margin-left: 15px;
        }

        &__inp {
            padding-left: 17px;
        }

        &__t-area {
            padding-left: 17px;

            &-text {
                font-size: 10px;
            }

            &-counter {
                font-size: 9px;
            }
        }

        &__inp:focus + &__label,
        &__t-area:focus + &__label {
            left: 0;
        }

        &__inp:not(:placeholder-shown) + &__label,
        &__t-area:not(:placeholder-shown) + &__label,
        &__row_error &__inp:focus + &__label,
        &__row_error &__label {
            left: 0;
        }
    }
}
