.header-page {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
}
.header-page__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 23px;
  position: relative;
}

.logo {
  margin-right: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn-navi {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.8' height='23.8'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%239daac7;stroke-linecap:round;stroke-width:2.8px%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M1.4 1.4h28M1.4 12.4h28M1.4 22.4h28'/%3E%3C/svg%3E") center no-repeat;
}

@media (max-width: 767px) {
  .header-page {
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-page__wrap {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .logo__img {
    height: 32px;
  }

  .btn-navi {
    display: block;
  }
}
