.header-page {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
    z-index: 10;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 23px;
        position: relative;
    }

    &__navi {
        background: rgba(253, 206, 12, 1);
        box-shadow: 4px 6px 2px rgba(64, 64, 64, 0.16);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 300px;
        padding: 20px;
        display: none;

        &_opened {
            display: block;
        }
    }

    &__btn {
        width: 30px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;

        &-line {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: #9daac7;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 3px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 14px;
            }

            &:nth-child(4) {
                top: 24px;
            }
        }

        &_opened &-line {
            &:nth-child(1) {
                top: 18px;
                width: 0;
                left: 50%;
            }

            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 18px;
                width: 0;
                left: 50%;
            }
        }
    }
}

.logo {
    margin-right: auto;
    flex-shrink: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    .header-page {
        margin-bottom: 0;
        box-shadow: none;

        &__wrap {
            padding-top: 28px;
            padding-bottom: 28px;
        }

        &__btn {
            display: block;
        }
    }

    .logo {
        &__img {
            height: 32px;
        }
    }
}
