.hint-block {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.hint-block__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 24px;
  background: #3566B8;
  cursor: pointer;
}
.hint-block__dropdown {
  position: absolute;
  width: 295px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px #e2e2e8;
          box-shadow: 0 3px 6px #e2e2e8;
  border-radius: 12px;
  padding: 18px 16px 23px;
  border: 1px solid #dbdbe4;
  z-index: 1;
  text-align: left;
}
.hint-block__dropdown_right {
  right: 34px;
  top: 34px;
  border-radius: 12px 0 12px 12px;
}
.hint-block__dropdown_right::after {
  width: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
.hint-block__dropdown_right::before {
  width: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: #dbdbe4 transparent transparent transparent;
}
.hint-block__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 1.2;
  color: #152C43;
  margin-bottom: 10px;
}
.hint-block__title::before {
  content: "?";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #3566b8;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-right: 6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: -2px;
}
.hint-block__text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.22px;
  color: #152C43;
}

@media (max-width: 767px) {
  .hint-block__dropdown {
    width: 250px;
  }
  .hint-block__dropdown_right {
    right: 40px;
    top: 12px;
  }
}
