.steps-block {
  margin-bottom: 50px;
}
.steps-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps-block__item {
  padding-right: 64px;
  position: relative;
}
.steps-block__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  height: 2px;
  margin-top: -1px;
  background: #3566B8;
}
.steps-block__item:last-child {
  padding-right: 0;
}
.steps-block__item_active::before {
  background: rgba(21, 44, 67, 0.32);
}
.steps-block__item_disabled::before {
  background: rgba(21, 44, 67, 0.32);
}
.steps-block__box {
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 50%;
  background-color: #3566B8;
  -webkit-box-shadow: 0 3px 6px #fafafa;
          box-shadow: 0 3px 6px #fafafa;
  position: relative;
}
.steps-block__item_active .steps-block__box {
  background-color: #ffba00;
}
.steps-block__item_disabled .steps-block__box {
  background-color: #dfe7f4;
}

@media (max-width: 767px) {
  .steps-block {
    margin-bottom: 19px;
  }
  .steps-block__item {
    padding-right: 46px;
  }
  .steps-block__item:last-child {
    padding-right: 0;
  }
  .steps-block__box {
    width: 40px;
    height: 40px;
  }
}
