.steps-block {
  margin-bottom: 50px;
}
.steps-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps-block__item {
  padding-right: 64px;
  position: relative;
}
.steps-block__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  height: 2px;
  margin-top: -1px;
  background: #3566B8;
}
.steps-block__item:last-child {
  padding-right: 0;
}
.steps-block__item_active::before {
  background: rgba(21, 44, 67, 0.32);
}
.steps-block__item_disabled::before {
  background: rgba(21, 44, 67, 0.32);
}
.steps-block__box {
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 50%;
  background-color: #3566B8;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.steps-block__icon {
  width: 56px;
  height: 56px;
  display: block;
}
.steps-block__icon_i1 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35.176' height='31.004'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='35.176' height='31.004' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.243'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(-.001 .003)' filter='url(%23a)'%3E%3Cpath d='M33.522 27.438L18.14.795a.671.671 0 00-1.116 0L1.586 27.536a.652.652 0 000 .643.648.648 0 00.558.322h30.89a.643.643 0 00.487-1.063zM16.613 10.66a.219.219 0 01.231-.231h1.478a.217.217 0 01.229.231v9.3a.217.217 0 01-.229.231h-1.478a.219.219 0 01-.231-.231zm1.985 13.3a.216.216 0 01-.229.229H16.8a.216.216 0 01-.229-.229v-1.688a.216.216 0 01.229-.229h1.571a.215.215 0 01.229.229z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.steps-block__icon_i2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.393' height='28.003'%3E%3Cpath d='M6.392 0A3.348 3.348 0 109.74 3.348 3.353 3.353 0 006.392 0zM.609 8.523A.608.608 0 000 9.132v3.653a.608.608 0 00.609.609h3.044v9.74H.609a.608.608 0 00-.609.609v3.653a.608.608 0 00.609.609h12.175a.608.608 0 00.609-.609v-3.655a.608.608 0 00-.609-.609H9.74v-14a.608.608 0 00-.609-.609z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
}
.steps-block__icon_i3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36.893' height='30.999'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='36.893' height='30.999' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M3.6.5a2.1 2.1 0 00-2.1 2.1v6.745h33.893V2.6A2.1 2.1 0 0033.3.5zm2.321 2.947a1.474 1.474 0 11-1.474 1.474 1.474 1.474 0 011.474-1.474zm4.421 0a1.474 1.474 0 11-1.474 1.474 1.474 1.474 0 011.474-1.474zm3.684 0h17.683v2.947H14.026zM1.5 10.815v16.947a.736.736 0 00.737.738h32.419a.736.736 0 00.737-.737V10.815zm8.82 2.947a1.168 1.168 0 011.066.422 1.277 1.277 0 011.114 1.143 3.331 3.331 0 01.056.646 4.143 4.143 0 01-.178 1.186.5.5 0 01.178.5c-.061.53-.272.665-.406.676a2.02 2.02 0 01-.682 1.165c0 .353-.012.622.022 1.009.408 1.13 3.148.814 3.274 2.993v.573H5.921v-.573c.127-2.179 2.877-1.863 3.285-2.993.034-.387.022-.656.022-1.009a2.023 2.023 0 01-.691-1.173c-.133-.012-.342-.146-.4-.676a.5.5 0 01.178-.5 4.833 4.833 0 01-.18-1.186 3.071 3.071 0 01.069-.645 1.946 1.946 0 012.116-1.557zm8.863 1.474h11.789v1.474H19.183zm0 3.684h11.789v1.474H19.183zm0 3.684h9.578v1.474h-9.578z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.steps-block__icon_i4 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.193' height='31.001'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='29.193' height='31.001' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg transform='translate(.004)' filter='url(%23a)'%3E%3Cpath d='M25.764.5a1.149 1.149 0 00-1.186 1.186 1.186 1.186 0 102.372 0A1.149 1.149 0 0025.764.5zM13.377 1.744a6.14 6.14 0 00-4.978 2.12c-1.244 1.619-1.49 4.156-.681 7.331a1.948 1.948 0 00-.447 1.556 2.53 2.53 0 001.128 2.178 6.226 6.226 0 001.361 2.878v.311c0 .622 0 1.181-.058 1.867-.374.87-1.49 1.366-2.858 1.925-2.241.933-5.041 2.115-5.289 5.911l-.059.679h23.762v-.68c-.248-3.733-3.048-4.978-5.289-5.911-1.308-.559-2.484-1.055-2.858-1.925-.063-.685-.058-1.244-.058-1.867v-.311a6.226 6.226 0 001.361-2.878 2.687 2.687 0 001.128-2.178 2.027 2.027 0 00-.369-1.556c.374-1.244 1.05-4.4-.194-6.456a3.542 3.542 0 00-2.431-1.633 3.813 3.813 0 00-3.171-1.361zm10.578 2.489v1.245H25.2V11.7h-1.245v1.244h3.735V11.7h-1.246V4.233z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.steps-block__icon_i5 {
  background: center no-repeat;
}
.steps-block__item_active .steps-block__box {
  background-color: #ffba00;
}
.steps-block__item_disabled .steps-block__box {
  background-color: #dfe7f4;
}
.steps-block__item_disabled .steps-block__icon {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .steps-block {
    margin-bottom: 19px;
  }
  .steps-block__item {
    padding-right: 46px;
  }
  .steps-block__item:last-child {
    padding-right: 0;
  }
  .steps-block__box, .steps-block__icon {
    width: 40px;
    height: 40px;
  }
  .steps-block__icon {
    background-size: 60% auto;
  }
}
