.steps-form {
    padding-bottom: 50px;

    &__title {
        font-size: 22px;
        letter-spacing: 0.18px;
        color: #152C43;
        font-weight: 600;
        margin: 0;
        text-align: center;
        margin-bottom: 26px;
    }

    &__text &__title {
        margin-bottom: 0;
    }

    &__section {
        margin-bottom: 57px;
    }

    &__subtext {
        letter-spacing: 0.14px;
        color: #152C43;
        text-shadow: 0 1px 1px #404040;
        font-size: 17px;
        line-height: 1.235;
        text-align: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_center {
            justify-content: center;
        }

        &_questions {
            margin-bottom: 68px;
        }
    }

    &__text {
        margin: 0 0 20px;
    }

    &__form-row {
        display: flex;
        max-width: 770px;
        margin: 0 auto;
        justify-content: space-between;

        .form-block__row {
            flex: 0 0 48%;
            max-width: 48%;
            margin-bottom: 8px;
        }
    }

    &__btn {
        display: block;
        transition: all .2s ease-in-out;
        color: #fff;
        width: 80px;
        height: 80px;
        font-size: 21px;
        background: #3566b8;
        border-radius: 50%;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.17px;
        line-height: 80px;
        text-transform: uppercase;
        margin: 0 20px;

        &:hover {
            transform: scale(1.1);
            text-decoration: none;
            font-size: 24px;
        }

        &_active {
            opacity: 0.5;
            font-size: 24px;
            height: 88px;
            width: 88px;
            line-height: 88px;

            &:hover {
                transform: scale(1);
            }
        }
    }

    &__prev,
    &__next {
        font-size: 14px;
        letter-spacing: 0.22px;
        padding: 10px 16px 11px;
        display: block;
        line-height: 1.35;

        &:hover {
            text-decoration: none;
        }
    }

    &__prev {
        color: #3566B8;
        padding-left: 0;
        padding-right: 0;

        &:hover {
            opacity: 0.8;
        }
    }

    &__next {
        color: #fff;
        background: #3566B8;
        border-radius: 5px;
    }

    &_step-0 {
        padding-top: 32px;

        .upload-block,
        .form-block__row {
            max-width: 576px;
            margin-left: auto;
            margin-right: auto;
        }

        .upload-block {
            padding-bottom: 15px;
        }

        .steps-form__buttons:last-child {
            max-width: 542px;
            margin: 0 auto;
        }
    }

    &_step-2 {
        padding-top: 70px;

        .steps-form__title {
            margin-bottom: 8px;
        }

        .steps-form__text {
            margin-bottom: 50px;
        }

        .steps-form__buttons:last-child {
            max-width: 542px;
            margin: 48px auto 0;
        }

        .steps-form__buttons + .steps-form__buttons {
            margin-top: 180px;
        }

        .steps-form__title + .form-block__row {
            margin-top: 24px;
        }

        .form-block__row {
            max-width: 576px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_step-3 {
        padding-top: 111px;

        .steps-form__text {
            text-align: center;
        }

        .steps-form__title {
            margin-bottom: 5px;
            display: inline-block;
            vertical-align: middle;
            padding: 0 30px;
            position: relative;

            .hint-block {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -12px;
            }
        }

        .form-block__row {
            max-width: 364px;
            margin-left: auto;
            margin-right: auto;
        }

        .check-item {
            max-width: 510px;
            margin: 0 auto 65px;
            text-align: center;
        }

        .btn-p {
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media (max-width: 767px) {
    .steps-form {
        &__title {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 24px;
        }

        &__section {
            margin-bottom: 18px;
        }

        &__subtext {
            font-size: 14px;
            line-height: 1.21;
        }

        &__form-row {
            flex-wrap: wrap;

            .form-block__row {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        &__btn {
            width: 64px;
            height: 64px;
            line-height: 64px;
            font-size: 21px;
            margin: 0 24px;

            &:hover {
                transform: scale(1);
                text-decoration: none;
                font-size: 21px;
            }
        }

        &__buttons {
            &:last-child {
                padding-left: 40px;
                padding-right: 40px;
            }

            &_questions {
                margin-bottom: 63px;
            }
        }

        &_step-0 {
            .upload-block {
                padding-bottom: 25px;
            }

            .steps-form__buttons:last-child {
                padding-top: 63px;
            }
        }

        &_step-2 {
            padding-top: 30px;

            .steps-form__text {
                margin-bottom: 58px;
            }

            .steps-form__buttons + .steps-form__buttons {
                margin-top: 160px;
            }
        }

        &_step-3 {
            padding-top: 29px;

            .steps-form__buttons:last-child {
                padding: 0;
            }
        }
    }
}
