// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family: 'Noto Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "white-block.css",
"form-block.css",
"buttons.css",
"complaint-published.css",
"header.css",
"hint-block.css",
"upload-block.css",
"steps.css",
"steps-form.css",
"fonts.css";

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.2;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Proxima Nova';
    background: #fff;
    font-size: 14px;
    margin: 0;
    color: #000;
    font-weight: 400;
}

button,
input,
select,
textarea {
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000;
}

input,
select,
textarea {
    font-weight: 300;
}

select:-moz-focusring {
    text-shadow: 0 0 0 #000;
    color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.container {
    max-width: 1230px;
}



a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: #000;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0 0 20px 25px;
    list-style-type: decimal;
    list-style-position: outside;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 10px 20px;
    border: 1px solid #000;
}

hr {
    height: 0;
    border: none;
    margin: 0 0 40px;
    background: #e6e6df;
    height: 1px;
}

p {
    margin: 0;
}

.hidden {
    overflow: hidden;
}


.img-fluid {
    max-width: 100%;
    display: block;
    height: auto;
}

.main {
    width: 100%;
    margin: 0 auto;
    background: #FAFAFA;
    min-height: 100%;
}

.container-wrap {
    max-width: 1340px;
    min-width: 320px;
    padding: 0 15px 1px;
    margin: 0 auto;
}



// popup
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #b3b3b3;
}

.popup {
    position: absolute;
    left: 50%;
    top: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 900px;
    margin-left: -450px;
    padding: 80px 50px 24px;

    &__ins {
        max-width: 530px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        margin: 0 0 17px;
        font-size: 22px;
        letter-spacing: 0.18px;
        color: #152C43;
        font-weight: 600;
        line-height: 1.23;
    }

    &_recovery &__title {
        margin-bottom: 57px;
    }

    &__subtext {
        text-align: center;
        margin: 0 0 32px;
        letter-spacing: 0.14px;
        color: #152C43;
        font-size: 17px;
        line-height: 1.25;
    }

    &__text-recovery {
        font-size: 14px;
        color: #152C43;
        font-weight: 300;
        line-height: 1.4;
        margin: 0 0 39px;
        text-align: center;

        &-link {
            color: #3566B8;
            font-weight: 600;
            margin-left: 10px;
        }
    }

    &__or {
        text-align: center;
        margin: 55px 0;
        line-height: 1.34;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            width: 100%;
            background: #d6d6e1;
        }

        &-text {
            background: #fff;
            color: #152C43;
            font-size: 14px;
            position: relative;
            padding: 0 12px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .form-block__row {
        max-width: 362px;
        margin: 0 auto;
    }

    &__buttons {
        text-align: center;
        margin-bottom: 39px;
    }

    &_recovery &__buttons {
        padding-top: 12px;
    }

    &__btn-close {
        position: absolute;
        right: 23px;
        top: 34px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: transform .3s ease-out;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.081' height='32.001'%3E%3Cpath d='M2.509 0L.081 2.428 13.612 15.96 0 29.598l2.4 2.4 13.64-13.611L29.652 32l2.429-2.428L18.469 15.96 32.001 2.428 29.572 0 16.04 13.531z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;

        &:hover {
            transform: rotate(90deg);
        }
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 19px;
    }

    &__msg {
        text-align: center;
        max-width: 80%;
        margin: 0 auto 30px;

        &-img {
            margin: 0 auto 45px;
        }

        &-title {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 0.18px;
            color: #152C43;
            line-height: 1.25;
            margin: 0 0 33px;
        }

        &-text {
            letter-spacing: 0.14px;
            color: #152C43;
            font-size: 17px;
            line-height: 1.3;
        }
    }
}

@media (max-width: 1024px) {
    .popup {
        margin-left: 0;
        width: auto;
        right: 15px;
        left: 15px;
    }
}

@media (max-width: 767px) {
    .popup {
        padding: 64px 20px 76px;

        &__btn-close {
            width: 24px;
            height: 24px;
            top: 24px;
            right: 17px;
        }

        &__or {
            margin: 33px 0 30px;

            &::before {
                left: -20px;
                right: -20px;
                width: auto;
            }
        }

        &__msg {
            max-width: 100%;
            margin-bottom: 19px;

            &-title {
                font-size: 18px;
            }

            &-text {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 375px) {
    .popup {
        &_register {
            .btn-p {
                &_submit {
                    padding-left: 0;
                    padding-right: 0;
                    width: 100%;
                }
            }
        }
    }

}

// social-block
.social-block {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        margin: 0 16px;
    }

    &__link {
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;

        &_fb {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='74'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='74' height='74' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='3' result='b'/%3E%3CfeFlood flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Ccircle cx='28' cy='28' r='28' transform='translate(9 6)' fill='%231977f3'/%3E%3C/g%3E%3Cpath d='M47.828 42.03l1.238-8.081h-7.75v-5.243c0-2.209 1.081-4.367 4.556-4.367h3.525v-6.878a42.948 42.948 0 00-6.257-.546c-6.383 0-10.557 3.867-10.557 10.875v6.159h-7.099v8.081h7.1v19.53a28.045 28.045 0 004.366.338 28.532 28.532 0 004.367-.338V42.03z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
        }

        &_vk {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56'%3E%3Cpath d='M28 56.001a28.007 28.007 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.826 27.826 0 01-10.9 2.2zm4.07-22.9c.594 0 1.677.283 4.221 2.736.85.85 1.493 1.565 2.011 2.141l.01.01c1.24 1.381 1.806 2.013 2.943 2.013h4.237a1.626 1.626 0 001.358-.5 1.428 1.428 0 00.106-1.3c-.414-1.3-2.038-3.237-3.572-4.965-.507-.6-1.156-1.232-1.678-1.741a13.1 13.1 0 01-1.241-1.311c-.627-.808-.453-1.161 0-1.885.213-.3 5.177-7.339 5.7-9.737a1.253 1.253 0 00-.072-1.134 1.44 1.44 0 00-1.208-.427h-4.238a1.835 1.835 0 00-1.847 1.2 35.582 35.582 0 01-5.2 8.662c-1.014 1.01-1.456 1.3-1.977 1.3-.228 0-.659-.253-.659-1.212v-8.39c0-1.121-.339-1.558-1.208-1.558h-6.66a1.017 1.017 0 00-1.078.973 1.631 1.631 0 00.507 1.017 4.739 4.739 0 011.175 3.108v6.241c0 1.373-.254 1.614-.787 1.614-.7 0-1.92-1.268-3.264-3.391a39.319 39.319 0 01-3.74-7.918c-.385-1.113-.766-1.646-1.893-1.646H9.778c-1.289 0-1.454.641-1.454 1.2 0 1.247 1.585 6.895 6.688 14.048a19.721 19.721 0 006.093 5.76 13.638 13.638 0 006.833 1.992c2.808 0 3.024-.683 3.024-1.647v-3.8c0-1.242.276-1.453 1.108-1.453z' fill='%232787f5'/%3E%3C/svg%3E") center no-repeat;
        }

        &_tw {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55.999' height='56.002'%3E%3Cpath d='M28 56.001a28.008 28.008 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.822 27.822 0 01-10.9 2.2zM14.4 38.022a.149.149 0 00-.139.1.148.148 0 00.059.173 17.169 17.169 0 0026.428-14.467c0-.241 0-.478-.014-.7a12.209 12.209 0 002.958-3.089.145.145 0 00-.01-.175.148.148 0 00-.112-.052.141.141 0 00-.059.013 11.8 11.8 0 01-2.763.838A6.1 6.1 0 0042.9 17.63a.145.145 0 00-.049-.159.147.147 0 00-.166-.012 11.8 11.8 0 01-3.676 1.419 6.138 6.138 0 00-10.428 5.463 16.927 16.927 0 01-12.04-6.19.146.146 0 00-.112-.054h-.013a.146.146 0 00-.115.072 6.14 6.14 0 001.479 7.88 5.887 5.887 0 01-2.139-.691.147.147 0 00-.072-.019.142.142 0 00-.072.02.145.145 0 00-.074.123v.078a6.151 6.151 0 004.311 5.858 5.859 5.859 0 01-2.038-.03h-.027a.146.146 0 00-.141.19 6.115 6.115 0 005.324 4.238 11.81 11.81 0 01-7.026 2.291 12.083 12.083 0 01-1.41-.083z' fill='%231da1f2'/%3E%3C/svg%3E") center no-repeat;
        }

        &_in {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56'%3E%3Cpath d='M28 56.001a28.007 28.007 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.826 27.826 0 01-10.9 2.2zm5.617-27.8a3 3 0 013 3v12h6V30.174a7.854 7.854 0 00-7.5-7.97 8.66 8.66 0 00-3.316.717l-.046.018c-.358.132-.729.27-1.136.4v-1.138h-6v21h6v-12a3 3 0 012.998-3zm-18-6v21h6v-21zm0-9v6h6v-6z' fill='%232867b2'/%3E%3C/svg%3E") center no-repeat;
        }
    }
}

@media (max-width: 767px) {
    .social-block {
        &__item {
            margin: 0 10px;
        }

        &__link {
            width: 40px;
            height: 40px;
            background-size: auto 40px;
        }
    }
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
    }

    &__ring {
        display: inline-block;
        position: relative;
        width: 132px;
        height: 132px;

        &-circle {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 112px;
            height: 112px;
            margin: 10px;
            border: 10px solid #3566B8;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #3566B8 transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }

            &:nth-child(2) {
                animation-delay: -0.3s;
            }

            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

// .error-msg
.msg-box {
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    padding: 0 20px;
    z-index: 11;

    &__text {
        max-width: 800px;
        margin: 0 auto;
        box-shadow: 0 4px 8px #d8d8d8;
        border-radius: 4px;
        padding: 14px 24px;
        letter-spacing: 0.24px;
        font-size: 15px;
        line-height: 1.2;
        position: relative;

        &_error {
            background: #F44336;
            color: #fff;
            padding-left: 48px;

            &::before {
                content: "";
                position: absolute;
                left: 24px;
                top: 50%;
                width: 16px;
                height: 16px;
                margin-top: -8px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8 0a8 8 0 108 8 8.012 8.012 0 00-8-8zm0 1.6A6.4 6.4 0 111.6 8 6.388 6.388 0 018 1.6zM7.2 4v4.8h1.6V4zm0 6.4V12h1.6v-1.6z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
            }
        }
    }
}


// company
.company {
    display: flex;
    max-width: 800px;
    margin: 0 auto 30px;

    &__avatar {
        border-radius: 8px;
        background: #fff;
        width: 179px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        align-items: center;
        height: 152px;
        box-shadow: 0 3px 6px #000000;
    }

    &__column {
        margin-left: 50px;
    }

    &__btn-edit {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M20.98 7.999a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191l-2.178-2.177a.839.839 0 00-.596-.247zm-3.3 2.948l-9.681 9.685v3.367h3.369l9.685-9.685z' fill='%233566b8'/%3E%3Cg stroke='%233566b8' fill='none'%3E%3Ccircle cx='16' cy='16' r='16' stroke='none'/%3E%3Ccircle cx='16' cy='16' r='15.5'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
    }

    &__title {
        font-size: 32px;
        letter-spacing: 0.51px;
        color: #152C43;
        line-height: 1.22;
        font-weight: bold;
    }

    &__data {
        letter-spacing: 0.24px;
        color: #152C43;
        font-size: 15px;
        line-height: 1.2;
        position: relative;
        padding-left: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
        }

        &_local {
            &::before {
                width: 12px;
                height: 18px;
                margin-top: -9px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.997' height='17.996'%3E%3Cpath d='M6 0a6.006 6.006 0 00-6 6c0 5.291 5.485 11.6 5.717 11.868A.372.372 0 006 18a.386.386 0 00.281-.129C6.513 17.6 12 11.177 12 6a6.006 6.006 0 00-6-6zm0 4.124a2.249 2.249 0 11-2.249 2.249A2.25 2.25 0 016 4.124z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;
            }
        }

        &_phone {
            &::before {
                width: 18px;
                height: 18px;
                margin-top: -9px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.997' height='17.999'%3E%3Cpath d='M14.737 18.002h-.019c-3.074-.1-6.676-3.081-9.157-5.564S.097 6.349-.003 3.289c-.035-1.074 2.6-2.983 2.627-3a1.268 1.268 0 011.754.125c.219.288 2.212 3.316 2.429 3.66a1.441 1.441 0 01-.089 1.419c-.155.3-.67 1.2-.911 1.622a21.5 21.5 0 002.371 2.7 21.535 21.535 0 002.7 2.373 86.54 86.54 0 011.622-.911 1.448 1.448 0 011.411-.093c.368.225 3.386 2.232 3.664 2.426a1.049 1.049 0 01.414.773 1.514 1.514 0 01-.286.986c-.014.027-1.906 2.633-2.966 2.633z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;
            }
        }

        &_site {
            &::before {
                width: 18px;
                height: 18px;
                margin-top: -9px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.998' height='17.998'%3E%3Cpath d='M8.999 0a9 9 0 109 9 9 9 0 00-9-9zm0 .783A8.216 8.216 0 11.783 9 8.21 8.21 0 018.999.783zm-.391.834c-1.014.25-1.912 1.451-2.488 3.158a14.278 14.278 0 002.483.278zm.783 0v3.436a14.412 14.412 0 002.485-.272c-.572-1.71-1.471-2.914-2.486-3.164zm-2.575.277a7.437 7.437 0 00-3.239 2.035 9.756 9.756 0 001.775.662 7.507 7.507 0 011.463-2.697zm4.368 0a7.512 7.512 0 011.465 2.7 9.132 9.132 0 001.771-.667 7.435 7.435 0 00-3.237-2.033zm3.748 2.645a9.725 9.725 0 01-2.067.809 14.7 14.7 0 01.429 3.26h3.12a7.382 7.382 0 00-1.483-4.07zm-11.868 0a7.382 7.382 0 00-1.478 4.065h3.12a14.676 14.676 0 01.43-3.266 10.358 10.358 0 01-2.073-.795zm2.838.983a13.891 13.891 0 00-.413 3.082h3.12V5.835a15.075 15.075 0 01-2.708-.309zm6.2.006a15.139 15.139 0 01-2.707.3V8.6h3.12a13.889 13.889 0 00-.417-3.068zM1.585 9.39a7.382 7.382 0 001.482 4.069 9.725 9.725 0 012.067-.809 14.7 14.7 0 01-.429-3.26zm3.9 0a13.888 13.888 0 00.413 3.076 15.139 15.139 0 012.707-.3V9.39zm3.9 0v2.772a15.066 15.066 0 012.706.309 13.89 13.89 0 00.414-3.082zm3.9 0a14.676 14.676 0 01-.43 3.266 10.358 10.358 0 012.072.8 7.382 7.382 0 001.478-4.065zM8.6 12.945a14.412 14.412 0 00-2.485.272c.571 1.71 1.47 2.914 2.485 3.164zm.783 0v3.436c1.014-.25 1.912-1.451 2.483-3.158a14.277 14.277 0 00-2.476-.278zM5.35 13.4a9.132 9.132 0 00-1.771.671A7.435 7.435 0 006.815 16.1a7.512 7.512 0 01-1.465-2.7zm7.3.007a7.508 7.508 0 01-1.463 2.7 7.439 7.439 0 003.233-2.039 9.756 9.756 0 00-1.774-.661z' fill='%233566b8'/%3E%3C/svg%3E") no-repeat;
            }
        }

        &_link {
            color: #1B73E8;
        }
    }

    &__img {
        max-width: 100%;
        display: block;
        height: auto;
    }
}

/* footer */

/* media */
@media (min-width: 1650px) {}
@media (max-width: 1600px) {}
@media (min-width: 1440px) {}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 1100px) {
    /* header */
    /* content */
    /* footer */
}
@media (max-width: 992px) {
    /* header */


    /* content */

    /* footer */

}
@media (max-width: 991px) {
    /* header */
    /* content */
    /* footer */
}
@media (max-width: 768px) {}
@media (max-width: 767px) {
    .main {
        background: #fff;
    }
}
@media (max-width: 576px) {}
@media (max-width: 420px) {}
@media (max-width: 374px) {}
@media (max-width: 355px) {}
