// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-family: 'Noto Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "white-block.css",
"form-block.css",
"buttons.css",
"complaint-published.css",
"header.css",
"hint-block.css",
"upload-block.css",
"steps-form.css";

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
    background: #fff;
    font-size: 14px;
    margin: 0;
    color: #000;
    font-weight: 400;
}

button,
input,
select,
textarea {
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000;
}

input,
select,
textarea {
    font-weight: 300;
}

select:-moz-focusring {
    text-shadow: 0 0 0 #000;
    color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.container {
    max-width: 1230px;
}



a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: #000;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0 0 20px 25px;
    list-style-type: decimal;
    list-style-position: outside;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 10px 20px;
    border: 1px solid #000;
}

hr {
    height: 0;
    border: none;
    margin: 0 0 40px;
    background: #e6e6df;
    height: 1px;
}

p {
    margin: 0;
}

.hidden {
    overflow: hidden;
}


.img-fluid {
    max-width: 100%;
    display: block;
    height: auto;
}

.main {
    width: 100%;
    margin: 0 auto;
    background: #FAFAFA;
    min-height: 100%;
}

.container-wrap {
    max-width: 1340px;
    min-width: 320px;
    padding: 0 15px 1px;
    margin: 0 auto;
}











/* footer */

/* media */
@media (min-width: 1650px) {}
@media (max-width: 1600px) {}
@media (min-width: 1440px) {}
@media (max-width: 1440px) {}
@media (max-width: 1200px) {}
@media (max-width: 1100px) {
    /* header */
    /* content */
    /* footer */
}
@media (max-width: 992px) {
    /* header */


    /* content */

    /* footer */

}
@media (max-width: 991px) {
    /* header */
    /* content */
    /* footer */
}
@media (max-width: 768px) {}
@media (max-width: 767px) {
    .main {
        background: #fff;
    }
}
@media (max-width: 576px) {}
@media (max-width: 420px) {}
@media (max-width: 374px) {}
@media (max-width: 355px) {}
