.upload-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;

    &__col {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 6px;
        flex-wrap: wrap;
    }

    &__btn {
        position: relative;
        flex-shrink: 0;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 5px;
        background: #3566b8 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.982' height='38.545'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='28.982' height='38.545' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M17.914 2.494a5.841 5.841 0 00-7.458 3.478L4.237 23.056a8 8 0 1015.035 5.473l5.721-15.718-2.732-.995-5.721 15.718a5.091 5.091 0 01-9.57-3.483l6.22-17.084a2.91 2.91 0 115.467 1.99L13.433 23.31a.728.728 0 11-1.367-.498l4.727-12.986-2.734-.995-4.727 12.986a3.637 3.637 0 106.835 2.488L21.39 9.952a5.841 5.841 0 00-3.477-7.458z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
    }

    &__item {
        background: #e6e9eb;
        border-radius: 21px;
        letter-spacing: 0.15px;
        color: #152C43;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        padding: 8px;
        margin-right: 6px;
        margin-bottom: 5px;
    }

    &__photo {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: yellow;
    }

    &__name {
        margin: 0 7px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        background-color: black;
    }

    .form-block__tooltip {
        top: 36px;
    }
}

@media (max-width: 767px) {
    .upload-block {
        .form-block__tooltip {
            display: none !important;
        }

        &__btn {
            width: 42px;
            height: 42px;
            background-size: auto 19px;
        }

        &__col {
            padding-right: 0;
        }

        &__item {
            margin-right: 8px;
        }

        &__name {
            letter-spacing: 0.11px;
            font-size: 12px;
            line-height: 1.5;
            margin: 0 10px;
        }

        &__icon {
            width: 18px;
            height: 18px;
        }
    }
}
