extends layout/main

block title
    | Title

block content
    .page-container__ins
        include modules/main-slide
        include modules/resolved-complaints
        include modules/last-complaints
        include modules/recently-companies
        include modules/help-info
        include modules/confirmed-company
        include modules/most-complaints
