@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url(nd-fonts.css);
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.2;
  font-family: 'Proxima Nova';
  background: #fff;
  font-size: 14px;
  margin: 0;
  color: #000;
  font-weight: 400;
}

button,
input,
select,
textarea {
  outline: none;
  font-family: 'Proxima Nova';
  font-size: 18px;
  color: #000;
}

select:-moz-focusring {
  text-shadow: 0 0 0 #000;
  color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

dl,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0 0 20px 25px;
  list-style-type: decimal;
  list-style-position: outside;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 10px 20px;
  border: 1px solid #000;
}

hr {
  height: 0;
  border: none;
  margin: 0 0 40px;
  background: #e6e6df;
  height: 1px;
}

p {
  margin: 0;
}
