.page-container__main {
  width: 100%;
  margin: 0 auto;
  background: #f5f5f7;
  min-height: 100%;
}
.page-container__ins {
  padding-top: 96px;
}
.page-container__wrap {
  max-width: 1340px;
  min-width: 320px;
  padding: 0 15px 1px;
  margin: 0 auto;
}

/* media */
@media (max-width: 767px) {
  .page-container__main {
    background: #fff;
  }
  .page-container__main_bg {
    background: #f5f5f7;
  }
  .page-container__ins {
    padding-top: 65px;
  }
}
