.comment {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px rgba(64, 64, 64, 0.16);
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 40px 40px 15px;

    &_last {
        padding: 24px 16px 15px;
    }

    &_resolved {
        padding: 32px 16px 12px;
    }

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 24px;

        &_center {
            justify-content: center;
        }
    }

    &_resolved &__header {
        margin-bottom: 7px;
    }

    &_last &__header {
        margin-bottom: 18px;
    }

    &__logo {
        background: url(../../i/avatar-company.svg) center no-repeat;
        background-size: cover;
        box-shadow: 0 0 4px rgba(64, 64, 64, 0.16);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 12px;
    }

    &_resolved &__logo,
    &_last &__logo {
        width: 40px;
        height: 40px;
        margin-right: 9px;
    }

    &__subtitle {
        letter-spacing: 0.14px;
        color: #152C43;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.34;

        &-selected {
            color: #CC0000;
            font-weight: bold;
        }

        &:hover {
            text-decoration: none;
        }

        .tooltip {
            top: -10px;
        }
    }

    &_resolved &__subtitle {
        font-size: 21px;
        line-height: 1.35;
        letter-spacing: 0.17px;

        &:hover {
            text-decoration: underline;
        }
    }

    &_last &__subtitle {
        font-size: 15px;
        line-height: 1.3;

        .tooltip {
            top: -6px;
        }
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;

        &_start {
            align-items: flex-start;
            margin-bottom: 8px;
        }

        &_center {
            justify-content: center;
        }
    }

    &_last &__row {
        margin-bottom: 13px;
    }

    &__ava {
        background: #283C4F;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        flex-shrink: 0;
        background: url(../../i/avatar-user.svg) center no-repeat;
        background-size: cover;
        margin-right: 12px;
    }

    &_last &__ava {
        width: 40px;
        height: 40px;
        margin-right: 9px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__bottom &__column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 4px;

        &-link {
            font-weight: 600;
            letter-spacing: 0.14px;
            color: #152C43;
            font-size: 18px;

            &:hover {
                text-decoration: none;
            }
        }

        .tooltip {
            top: -10px;
        }
    }

    &_last &__name {
        font-size: 15px;
        line-height: 1.2;

        .tooltip {
            top: -6px;
        }
    }

    &__row_start &__name-link {
        font-size: 16px;
    }

    &__category {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.13px;
        color: #566777;
        padding-left: 22px;
        position: relative;
        transition: all 0.4s ease;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -7px;
            width: 14px;
            height: 14px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC4wMDIiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNC4wMDIgMTQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM1NjY3Nzc7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMiw1VjdIMTZWNVptMCw2djJIMTZWMTFabTAsNnYySDE2VjE3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIgLTUpIi8+PC9zdmc+');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:hover {
            color: rgba(21, 44, 67, 1);
            text-decoration: none;

            &:before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC4wMDIiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNC4wMDIgMTQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiMxNTJDNDM7fTwvc3R5bGU+PC9kZWZzPjxwYXRoIGNsYXNzPSJhIiBkPSJNMiw1VjdIMTZWNVptMCw2djJIMTZWMTFabTAsNnYySDE2VjE3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIgLTUpIi8+PC9zdmc+DQo=');
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &_resolved &__category,
    &_last &__category {
        font-size: 14px;
        line-height: 1.3;

        &::before {
            width: 12px;
            height: 12px;
            margin-top: -6px;
        }
    }

    &__subitem {
        display: flex;
        justify-content: align;
        flex-direction: row;
        margin-left: 28px;

        &-text {
            letter-spacing: 0.13px;
            color: #566777;
            font-size: 16px;
            line-height: 1.3;
            margin-right: 10px;
        }
    }

    &__link {
        font-size: 16px;
        letter-spacing: 0.13px;
        color: #566777;
        line-height: 1.3;
        position: relative;
        padding-left: 30px;
        transition: all 0.4s ease;
        display: block;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 21px;
            margin-top: -11px;
        }

        &_speech {
            &::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMi42NjciIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMi42NjcgMjEiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOm5vbmU7c3Ryb2tlOiM1NjY3Nzc7b3BhY2l0eTowLjk5Nzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMi44MzMsM0M2Ljg1LDMsMiw3LjEsMiwxMi4xNjdhOC4zMyw4LjMzLDAsMCwwLDIuNTA4LDUuODYxYy4wMzIuMDc5LjgzNCwyLjE0NS0xLjU0Myw0LjI1MWEuNDE3LjQxNywwLDAsMCwuMzc0LjcxMSwxMS4wODMsMTEuMDgzLDAsMCwwLDUuNy0yLjI0OCwxMi41MzksMTIuNTM5LDAsMCwwLDMuOC41OTFjNS45ODMsMCwxMC44MzMtNC4xLDEwLjgzMy05LjE2N1MxOC44MTcsMywxMi44MzMsM1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjUgLTIuNSkiLz48L3N2Zz4=');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMi42NjciIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMi42NjcgMjEiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOm5vbmU7c3Ryb2tlOiMxNTJDNDM7b3BhY2l0eToxO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTEyLjgzMywzQzYuODUsMywyLDcuMSwyLDEyLjE2N2E4LjMzLDguMzMsMCwwLDAsMi41MDgsNS44NjFjLjAzMi4wNzkuODM0LDIuMTQ1LTEuNTQzLDQuMjUxYS40MTcuNDE3LDAsMCwwLC4zNzQuNzExLDExLjA4MywxMS4wODMsMCwwLDAsNS43LTIuMjQ4LDEyLjUzOSwxMi41MzksMCwwLDAsMy44LjU5MWM1Ljk4MywwLDEwLjgzMy00LjEsMTAuODMzLTkuMTY3UzE4LjgxNywzLDEyLjgzMywzWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEuNSAtMi41KSIvPjwvc3ZnPg0K');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &_thumbs-up {
            &::before {
                width: 22px;
                height: 18px;
                margin-top: -9px;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS45OTIiIGhlaWdodD0iMTkuNDk5IiB2aWV3Qm94PSIwIDAgMjEuOTkyIDE5LjQ5OSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzU2Njc3Nzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMy41NjcsMS42MTNhMS40MzEsMS40MzEsMCwwLDAtMS4wMDguNDIxTDcuMjgyLDcuMzIyYTEuOTA3LDEuOTA3LDAsMCwwLS41NTcsMS4zNDdWMTguMmExLjkwOCwxLjkwOCwwLDAsMCwxLjkwOCwxLjkwOGg4LjU4YTEuOTA5LDEuOTA5LDAsMCwwLDEuNzU0LTEuMTU1bDIuODctNi42ODFhMS45MDksMS45MDksMCwwLDAsLjE1NS0uNzUzVjkuNjE2YTEuOTA4LDEuOTA4LDAsMCwwLTEuOTA4LTEuOTA4SDE0LjAyM2wuOTQ5LTQuMzU1YTEuNDM0LDEuNDM0LDAsMCwwLTEuNDA1LTEuNzM5Wk0xLjk1NCw4LjY2MkEuOTU1Ljk1NSwwLDAsMCwxLDkuNjE2djkuNTQyYS45NTUuOTU1LDAsMCwwLC45NTQuOTU0SDMuODYzYS45NTUuOTU1LDAsMCwwLC45NTQtLjk1NFY5LjYxNmEuOTU1Ljk1NSwwLDAsMC0uOTU0LS45NTRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC41IC0xLjExMykiLz48L3N2Zz4=');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS45OTIiIGhlaWdodD0iMTkuNDk5IiB2aWV3Qm94PSIwIDAgMjEuOTkyIDE5LjQ5OSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzE1MkM0Mzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMy41NjcsMS42MTNhMS40MzEsMS40MzEsMCwwLDAtMS4wMDguNDIxTDcuMjgyLDcuMzIyYTEuOTA3LDEuOTA3LDAsMCwwLS41NTcsMS4zNDdWMTguMmExLjkwOCwxLjkwOCwwLDAsMCwxLjkwOCwxLjkwOGg4LjU4YTEuOTA5LDEuOTA5LDAsMCwwLDEuNzU0LTEuMTU1bDIuODctNi42ODFhMS45MDksMS45MDksMCwwLDAsLjE1NS0uNzUzVjkuNjE2YTEuOTA4LDEuOTA4LDAsMCwwLTEuOTA4LTEuOTA4SDE0LjAyM2wuOTQ5LTQuMzU1YTEuNDM0LDEuNDM0LDAsMCwwLTEuNDA1LTEuNzM5Wk0xLjk1NCw4LjY2MkEuOTU1Ljk1NSwwLDAsMCwxLDkuNjE2djkuNTQyYS45NTUuOTU1LDAsMCwwLC45NTQuOTU0SDMuODYzYS45NTUuOTU1LDAsMCwwLC45NTQtLjk1NFY5LjYxNmEuOTU1Ljk1NSwwLDAsMC0uOTU0LS45NTRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC41IC0xLjExMykiLz48L3N2Zz4NCg==');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &_active::before,
            &_active:hover::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS45OTIiIGhlaWdodD0iMTkuNDk5IiB2aWV3Qm94PSIwIDAgMjEuOTkyIDE5LjQ5OSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzE1MkM0MztzdHJva2U6IzE1MkM0Mzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMy41NjcsMS42MTNhMS40MzEsMS40MzEsMCwwLDAtMS4wMDguNDIxTDcuMjgyLDcuMzIyYTEuOTA3LDEuOTA3LDAsMCwwLS41NTcsMS4zNDdWMTguMmExLjkwOCwxLjkwOCwwLDAsMCwxLjkwOCwxLjkwOGg4LjU4YTEuOTA5LDEuOTA5LDAsMCwwLDEuNzU0LTEuMTU1bDIuODctNi42ODFhMS45MDksMS45MDksMCwwLDAsLjE1NS0uNzUzVjkuNjE2YTEuOTA4LDEuOTA4LDAsMCwwLTEuOTA4LTEuOTA4SDE0LjAyM2wuOTQ5LTQuMzU1YTEuNDM0LDEuNDM0LDAsMCwwLTEuNDA1LTEuNzM5Wk0xLjk1NCw4LjY2MkEuOTU1Ljk1NSwwLDAsMCwxLDkuNjE2djkuNTQyYS45NTUuOTU1LDAsMCwwLC45NTQuOTU0SDMuODYzYS45NTUuOTU1LDAsMCwwLC45NTQtLjk1NFY5LjYxNmEuOTU1Ljk1NSwwLDAsMC0uOTU0LS45NTRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC41IC0xLjExMykiLz48L3N2Zz4NCg==');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &:hover {
            color: rgba(21, 44, 67, 1);
            text-decoration: none;
        }
    }

    &__data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__info {
        letter-spacing: 0.12px;
        color: rgba(95, 99, 104, 0.64);
        font-size: 15px;
        line-height: 1.3;
        margin-right: 7px;
        position: relative;
        transition: all .2s ease-in-out;

        &-time {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }

        &_active &-date {
            opacity: 0;
            visibility: hidden;
        }

        &_active &-time {
            display: block;
        }
    }

    &_resolved &__info {
        font-size: 14px;
        line-height: 1.3;
    }

    &_last &__info {
        font-size: 13px;
        line-height: 1.3;
    }

    &__time-post {
        letter-spacing: 0.12px;
        color: rgba(95, 99, 104, 0.64);
        font-size: 14px;
        line-height: 1.3;
        font-size: 14px;
    }

    &__row_start &__column {
        padding-top: 7px;
    }

    &__location {
        color: rgba(95, 99, 104, 0.64);
        line-height: 1.33;
        letter-spacing: 0.12px;
        font-size: 15px;
        position: relative;
        padding-left: 13px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 9px;
            height: 14px;
            margin-top: -7px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Ljk5OCIgaGVpZ2h0PSIxMi45OTciIHZpZXdCb3g9IjAgMCA4Ljk5OCAxMi45OTciPjxkZWZzPjxzdHlsZT4uYXtvcGFjaXR5OjAuNjQzO30uYntmaWxsOm5vbmU7c3Ryb2tlOiM1ZjYzNjg7fTwvc3R5bGU+PC9kZWZzPjxnIGNsYXNzPSJhIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOC41IC0wLjUpIj48cGF0aCBjbGFzcz0iYiIgZD0iTTEzLDFBNCw0LDAsMCwwLDksNWMwLDMuNTI3LDMuNjU2LDcuNzM0LDMuODEyLDcuOTEyQS4yNDguMjQ4LDAsMCwwLDEzLDEzYS4yNTcuMjU3LDAsMCwwLC4xODctLjA4NkMxMy4zNDIsMTIuNzMxLDE3LDguNDUxLDE3LDVBNCw0LDAsMCwwLDEzLDFabTAsMi43NDlhMS41LDEuNSwwLDEsMS0xLjUsMS41QTEuNSwxLjUsMCwwLDEsMTMsMy43NDlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjwvZz48L3N2Zz4=');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:hover {
            color: #5F6368;
            text-decoration: none;
        }
    }

    &_last &__location {
        font-size: 13px;
        line-height: 1.3;
    }

    &__buttons {
        margin-bottom: 25px;
    }

    &__btn {
        &-more,
        &-less {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 0.14px;
            color: #152C43;
            font-size: 18px;
            font-weight: 500;
            padding-right: 22px;
            transition: all 0.4s ease;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 15px;
                height: 12px;
                margin-top: -6px;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC45NzciIGhlaWdodD0iMTEuMDAyIiB2aWV3Qm94PSIwIDAgMTQuOTc3IDExLjAwMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzE1MmM0Mzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMi40NzYsNC45MywxMS4zMDgsNi4xbDMuNTU2LDMuNTU2SDN2MS41NTZIMTQuODY0bC0zLjU1NiwzLjU1NiwxLjE2NywxLjE2Nyw1LjUtNS41WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMgLTQuOTMpIi8+PC9zdmc+');
                background-position: right center;
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.4s ease;
            }

            &:hover::before {
                right: -2px;
            }
        }

        &-less {
            display: none;
        }
    }

    &__buttons_active &__btn-less {
        display: inline-block;
    }

    &__buttons_active &__btn-more {
        display: none;
    }

    &__text {
        letter-spacing: 0.22px;
        color: #152C43;
        font-size: 18px;
        line-height: 1.35;
        margin-bottom: 8px;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        position: relative;
        text-overflow: ellipsis;
        display: -webkit-box;

        &_active {
            height: auto;
            -webkit-line-clamp: auto;
            text-overflow: inherit;
            display: block;
        }
    }

    _:-ms-fullscreen, :root &__text {
        height: 95px;
    }

    _:-ms-fullscreen, :root &__text_active {
        height: auto;
    }

    &__descr {
        margin-bottom: 3px;
        letter-spacing: 0.16px;
        color: #152C43;
        font-size: 16px;
        line-height: 1.3;
    }

    &__line {
        height: 2px;
        background: #CCCDCF;
        margin: -10px 0 15px;
        position: relative;
    }

    &__sublink {
        display: block;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.13px;
        color: #152C43;
        line-height: 1.35;
        text-align: center;
        margin-bottom: 15px;
    }

    &__icon {
        margin: 0 auto 32px;
        width: 48px;
        height: 48px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OC4wMDMiIGhlaWdodD0iNDguMDAzIiB2aWV3Qm94PSIwIDAgNDguMDAzIDQ4LjAwMyI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzY0YWYzNzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0yNiwyQTI0LDI0LDAsMSwwLDUwLDI2LDIzLjk2OSwyMy45NjksMCwwLDAsMjYsMlptMCw0LjhBMTkuMDU0LDE5LjA1NCwwLDAsMSw0NS4yLDI2LDE5LjA1NCwxOS4wNTQsMCwwLDEsMjYsNDUuMiwxOS4wNTQsMTkuMDU0LDAsMCwxLDYuOCwyNiwxOS4wNTQsMTkuMDU0LDAsMCwxLDI2LDYuOFptMTAuMywxMC4zLTE1LjEsMTUuMS01LjUtNS41TDEyLjMsMzAuMSwyMS4yLDM5LDM5LjcsMjAuNVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIC0yKSIvPjwvc3ZnPg==');
        background-position: center;
        background-repeat: no-repeat;
    }

    &__article {
        letter-spacing: 0.19px;
        color: rgba(21, 44, 67, 1);
        font-size: 16px;
        line-height: 1.35;
        margin-bottom: 11px;
    }
}

@media (max-width: 767px) {
    .comment {
        margin-bottom: 16px;
        padding: 24px 16px 15px;

        &__subtitle {
            font-size: 15px;

            .tooltip {
                top: -8px;
            }
        }

        &__ava,
        &__logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        &__name {
            &-link {
                font-size: 15px;
            }

            .tooltip {
                top: -8px;
            }
        }

        &__info {
            font-size: 13px;
            letter-spacing: 0.1px;
        }

        &__row {
            margin-bottom: 12px;
        }

        &__location {
            font-size: 13px;
            padding-left: 13px;

            &::before {
                $size: 11px;
                width: 7px;
                height: $size;
                margin-top: - ($size / 2);
            }
        }

        &__text {
            font-size: 16px;
        }

        &__buttons {
            margin-bottom: 16px;
        }

        &__btn {
            &-more,
            &-less {
                font-size: 16px;
                padding-right: 18px;

                &::before {
                    $size: 9px;
                    width: 12px;
                    height: $size;
                    margin-top: - ($size / 2);
                }
            }
        }

        &__category {
            letter-spacing: 0.11px;
            font-size: 14px;
            padding-left: 20px;

            &::before {
                width: 12px;
                height: 12px;
                margin-top: -6px;
            }
        }

        &__subitem {
            font-size: 14px;
            margin-left: 19px;

            &-text {
                display: none;
            }
        }

        &__link {
            font-size: 14px;
            letter-spacing: 0.11px;

            &_speech {
                padding-left: 26px;

                &::before {
                    width: 18px;
                    height: 18px;
                    margin-top: -10px;
                }
            }

            &_thumbs-up {
                padding-left: 27px;

                &::before {
                    width: 19px;
                    height: 18px;
                    margin-top: -10px;
                }
            }
        }

        &__row_start &__name-link {
            letter-spacing: 0.11px;
            font-size: 14px;
        }

        &__descr {
            letter-spacing: 0.14px;
            font-size: 14px;
        }

        &__time-post {
            letter-spacing: 0.1px;
            font-size: 13px;
        }
    }
}
