.comment {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px rgba(64, 64, 64, 0.16);
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 40px 40px 15px;

    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 24px;
    }

    &__logo {
        background: url(../../i/avatar-company.svg) center no-repeat;
        background-size: cover;
        box-shadow: 0 0 4px #40404029;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 12px;
    }

    &__subtitle {
        letter-spacing: 0.14px;
        color: #152C43;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.34;

        &-selected {
            color: #CC0000;
            font-weight: bold;
        }

        &:hover {
            text-decoration: none;
        }

        .tooltip {
            top: -10px;
        }
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;

        &_start {
            align-items: flex-start;
            margin-bottom: 8px;
        }
    }

    &__ava {
        background: #283C4F;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        flex-shrink: 0;
        background: url(../../i/avatar-user.svg) center no-repeat;
        background-size: cover;
        margin-right: 12px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    &__bottom &__column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 4px;

        &-link {
            font-weight: 600;
            letter-spacing: 0.14px;
            color: #152C43;
            font-size: 18px;

            &:hover {
                text-decoration: none;
            }
        }

        .tooltip {
            top: -10px;
        }
    }

    &__row_start &__name-link {
        font-size: 16px;
    }

    &__category {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.13px;
        color: #566777;
        padding-left: 22px;
        position: relative;
        transition: all 0.4s ease;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -7px;
            width: 14px;
            height: 14px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.002' height='14'%3E%3Cpath d='M0 0v2h14V0zm0 6v2h14V6zm0 6v2h14v-2z' fill='%23566777'/%3E%3C/svg%3E") center no-repeat;
            background-size: contain;
        }

        &:hover {
            color: rgba(21, 44, 67, 1);
            text-decoration: none;

            &:before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.002' height='14'%3E%3Cpath d='M0 0v2h14V0zm0 6v2h14V6zm0 6v2h14v-2z' fill='%23152C43'/%3E%3C/svg%3E") center no-repeat;
            }
        }
    }

    &__subitem {
        display: flex;
        justify-content: align;
        flex-direction: row;
        margin-left: 28px;

        &-text {
            letter-spacing: 0.13px;
            color: #566777;
            font-size: 16px;
            line-height: 1.3;
            margin-right: 10px;
        }
    }

    &__link {
        font-size: 16px;
        letter-spacing: 0.13px;
        color: #566777;
        line-height: 1.3;
        position: relative;
        padding-left: 30px;
        transition: all 0.4s ease;
        display: block;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 21px;
            margin-top: -11px;
        }

        &_speech {
            &::before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.667' height='21'%3E%3Cpath d='M11.333.5C5.35.5.5 4.6.5 9.667a8.33 8.33 0 002.508 5.861c.032.079.834 2.145-1.543 4.251a.417.417 0 00.374.711 11.083 11.083 0 005.7-2.248 12.539 12.539 0 003.8.591c5.983 0 10.833-4.1 10.833-9.167S17.317.5 11.333.5z' fill='none' stroke='%23566777' opacity='.997'/%3E%3C/svg%3E") center no-repeat;
                background-size: contain;
            }

            &:hover::before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.667' height='21'%3E%3Cpath d='M11.333.5C5.35.5.5 4.6.5 9.667a8.33 8.33 0 002.508 5.861c.032.079.834 2.145-1.543 4.251a.417.417 0 00.374.711 11.083 11.083 0 005.7-2.248 12.539 12.539 0 003.8.591c5.983 0 10.833-4.1 10.833-9.167S17.317.5 11.333.5z' fill='none' stroke='%23152C43' opacity='.997'/%3E%3C/svg%3E") center no-repeat;
                background-size: contain;
            }
        }

        &_thumbs-up {
            &::before {
                width: 22px;
                height: 18px;
                margin-top: -9px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.992' height='19.499'%3E%3Cpath d='M13.067.5a1.431 1.431 0 00-1.008.421L6.782 6.209a1.907 1.907 0 00-.557 1.347v9.531a1.908 1.908 0 001.908 1.908h8.58a1.909 1.909 0 001.754-1.155l2.87-6.681a1.909 1.909 0 00.155-.753V8.503a1.908 1.908 0 00-1.908-1.908h-6.061l.949-4.355A1.434 1.434 0 0013.067.501zM1.454 7.549a.955.955 0 00-.954.954v9.542a.955.955 0 00.954.954h1.909a.955.955 0 00.954-.954V8.503a.955.955 0 00-.954-.954z' fill='none' stroke='%23566777'/%3E%3C/svg%3E") center no-repeat;
                background-size: contain;
            }

            &:hover::before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.992' height='19.499'%3E%3Cpath d='M13.067.5a1.431 1.431 0 00-1.008.421L6.782 6.209a1.907 1.907 0 00-.557 1.347v9.531a1.908 1.908 0 001.908 1.908h8.58a1.909 1.909 0 001.754-1.155l2.87-6.681a1.909 1.909 0 00.155-.753V8.503a1.908 1.908 0 00-1.908-1.908h-6.061l.949-4.355A1.434 1.434 0 0013.067.501zM1.454 7.549a.955.955 0 00-.954.954v9.542a.955.955 0 00.954.954h1.909a.955.955 0 00.954-.954V8.503a.955.955 0 00-.954-.954z' fill='none' stroke='%23152C43'/%3E%3C/svg%3E") center no-repeat;
                background-size: contain;
            }

            &_active::before,
            &_active:hover::before {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.992' height='18.499'%3E%3Cpath d='M12.567 0a1.431 1.431 0 00-1.008.421L6.282 5.709a1.907 1.907 0 00-.557 1.347v9.531a1.908 1.908 0 001.908 1.908h8.58a1.909 1.909 0 001.754-1.155l2.87-6.681a1.909 1.909 0 00.155-.753V8.003a1.908 1.908 0 00-1.908-1.908h-6.061l.949-4.355A1.434 1.434 0 0012.567.001zM.954 7.049A.955.955 0 000 8.003v9.542a.955.955 0 00.954.954h1.909a.955.955 0 00.954-.954V8.003a.955.955 0 00-.954-.954z' fill='%23152c43'/%3E%3C/svg%3E") center no-repeat;
                background-size: contain;
            }
        }

        &:hover {
            color: rgba(21, 44, 67, 1);
            text-decoration: none;
        }
    }

    &__data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__info {
        letter-spacing: 0.12px;
        color: rgba(95, 99, 104, 0.64);
        font-size: 15px;
        line-height: 1.3;
        margin-right: 7px;
        position: relative;
        transition: all .2s ease-in-out;

        &-time {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }

        &_active &-date {
            opacity: 0;
            visibility: hidden;
        }

        &_active &-time {
            display: block;
        }
    }

     &__time-post {
        letter-spacing: 0.12px;
        color: rgba(95, 99, 104, 0.64);
        font-size: 14px;
        line-height: 1.3;
        font-size: 14px;
    }

    &__row_start &__column {
        padding-top: 7px;
    }

    &__location {
        color: rgba(95, 99, 104, 0.64);
        line-height: 1.33;
        letter-spacing: 0.12px;
        font-size: 15px;
        position: relative;
        padding-left: 13px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 9px;
            height: 14px;
            margin-top: -7px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.998' height='12.997'%3E%3Cpath d='M4.5.5a4 4 0 00-4 4c0 3.527 3.656 7.734 3.812 7.912a.248.248 0 00.188.088.257.257 0 00.187-.086C4.842 12.231 8.5 7.951 8.5 4.5a4 4 0 00-4-4zm0 2.749a1.5 1.5 0 11-1.5 1.5 1.5 1.5 0 011.5-1.5z' fill='none' stroke='%235f6368' opacity='.643'/%3E%3C/svg%3E") center no-repeat;
            background-size: contain;
        }

        &:hover {
            color: #5F6368;
            text-decoration: none;
        }
    }

    &__buttons {
        margin-bottom: 25px;
    }

    &__btn {
        &-more,
        &-less {
            display: inline-block;
            vertical-align: middle;
            letter-spacing: 0.14px;
            color: #152C43;
            font-size: 18px;
            font-weight: 500;
            padding-right: 22px;
            transition: all 0.4s ease;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 15px;
                height: 12px;
                margin-top: -6px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.977' height='11.002'%3E%3Cpath d='M9.476 0L8.308 1.17l3.556 3.556H0v1.556h11.864L8.308 9.838l1.167 1.167 5.5-5.5z' fill='%23152c43'/%3E%3C/svg%3E") right center no-repeat;
                background-size: contain;
                transition: all 0.4s ease;
            }

            &:hover::before {
                right: -2px;
            }
        }

        &-less {
            display: none;
        }
    }

    &__buttons_active &__btn-less {
        display: inline-block;
    }

    &__buttons_active &__btn-more {
        display: none;
    }

    &__text {
        letter-spacing: 0.22px;
        color: #152C43;
        font-size: 18px;
        line-height: 1.35;
        margin-bottom: 8px;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        position: relative;
        text-overflow: ellipsis;
        display: -webkit-box;

        &_active {
            height: auto;
            -webkit-line-clamp: auto;
            text-overflow: inherit;
            display: block;
        }
    }

    _:-ms-fullscreen, :root &__text {
        height: 95px;
    }

    _:-ms-fullscreen, :root &__text_active {
        height: auto;
    }

    &__descr {
        margin-bottom: 3px;
        letter-spacing: 0.16px;
        color: #152C43;
        font-size: 16px;
        line-height: 1.3;
    }

    &__line {
        height: 2px;
        background: #CCCDCF;
        margin: -10px 0 15px;
        position: relative;
    }
}

@media (max-width: 1023px) {
    .comment {

    }
}

@media (max-width: 767px) {
    .comment {
        margin-bottom: 16px;
        padding: 24px 16px 15px;

        &__subtitle {
            font-size: 15px;

            .tooltip {
                top: -8px;
            }
        }

        &__ava,
        &__logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        &__name {
            &-link {
                font-size: 15px;
            }

            .tooltip {
                top: -8px;
            }
        }

        &__info {
            font-size: 13px;
            letter-spacing: 0.1px;
        }

        &__row {
            margin-bottom: 12px;
        }

        &__location {
            font-size: 13px;
            padding-left: 13px;

            &::before {
                $size: 11px;
                width: 7px;
                height: $size;
                margin-top: - ($size / 2);
            }
        }

        &__text {
            font-size: 16px;
        }

        &__buttons {
            margin-bottom: 16px;
        }

        &__btn {
            &-more,
            &-less {
                font-size: 16px;
                padding-right: 18px;

                &::before {
                    $size: 9px;
                    width: 12px;
                    height: $size;
                    margin-top: - ($size / 2);
                }
            }
        }

        &__category {
            letter-spacing: 0.11px;
            font-size: 14px;
            padding-left: 20px;

            &::before {
                width: 12px;
                height: 12px;
                margin-top: -6px;
            }
        }

        &__subitem {
            font-size: 14px;
            margin-left: 19px;

            &-text {
                display: none;
            }
        }

        &__link {
            font-size: 14px;
            letter-spacing: 0.11px;

            &_speech {
                padding-left: 26px;

                &::before {
                    width: 18px;
                    height: 18px;
                    margin-top: -10px;
                }
            }

            &_thumbs-up {
                padding-left: 27px;

                &::before {
                    width: 19px;
                    height: 18px;
                    margin-top: -10px;
                }
            }
        }

        &__row_start &__name-link {
            letter-spacing: 0.11px;
            font-size: 14px;
        }

        &__descr {
            letter-spacing: 0.14px;
            font-size: 14px;
        }

        &__time-post {
            letter-spacing: 0.1px;
            font-size: 13px;
        }
    }
}

@media (max-width: 374px) {
    .comment {

    }
}
