.popup {
    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(64, 64, 64, 0.4);
        z-index: 12;
    }

    &__box {
        position: absolute;
        width: 528px;
        background: #FFFFFF;
        box-shadow: 0 0 24px rgba(64, 64, 64, 0.16);
        border-radius: 16px;
        padding: 30px 75px 32px;
        z-index: 13;
        top: 160px;
        left: 50%;
        transform: translate3d(-50%,0,0);

        &_w4 {
            width: 482px;
            padding-left: 56px;
            padding-right: 56px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 21px;
        letter-spacing: 0.17px;
        color: rgba(21, 44, 67, 1);
        line-height: 1.52;
        text-align: center;
        margin-bottom: 13px;
    }

    &__buttons {
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &_left {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__buttons &__btn {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__avatar {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 21px auto 25px;
    }

    &__avatar &__btn_upload {
        position: absolute;
        right: 8px;
        bottom: 0;
    }

    &__hint {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: scale3d(.2,.2,1);
        transition: all .1s ease-in-out;
        opacity: 0;
        padding-top: 3px;

        &-text {
            transform: translate3d(-50%,0,0);
            letter-spacing: 0.12px;
            color: rgba(194, 200, 205, 1);
            text-shadow: 0 1px 1px rgba(64, 64, 64, 0.16);
            font-size: 10px;
            background: rgba(40, 60, 79, 1);
            border-radius: 2px;
            padding: 2px 5px;
            position: absolute;
            top: 100%;
            left: 50%;
            white-space: nowrap;
        }
    }

    &__btn:hover &__hint {
        opacity: 1;
        transform: scale3d(1,1,1);
    }

    &__btn {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &_close {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 23px;
            right: 23px;
            background: url(../../i/icon-close.png) center no-repeat;
            background-size: contain;
        }

        &_submit {
            border: 1px solid rgba(53, 102, 184, 1);
            border-radius: 6px;
            font-size: 18px;
            letter-spacing: 0.14px;
            color: rgba(53, 102, 184, 1);
            padding: 8px 23px;
            background: #fff;
        }

        &_width {
            width: 100%;
            text-align: center;
        }

        &_upload {
            position: relative;
            background-color: #3566B8;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOC4yODgiIGhlaWdodD0iMTYuMDAyIiB2aWV3Qm94PSIwIDAgMTguMjg4IDE2LjAwMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xOS43NjQsNy4wNDhIMTcuM2ExLjE0MiwxLjE0MiwwLDAsMS0xLjEyNS0uOTQxbC0uMTUzLS44NTJBMS41MjQsMS41MjQsMCwwLDAsMTQuNTE4LDRIOS43N2ExLjUyMywxLjUyMywwLDAsMC0xLjUsMS4yNTRsLS4xNTMuODUzYTEuMTQyLDEuMTQyLDAsMCwxLTEuMTI1Ljk0MUg0LjUyNEExLjUyNCwxLjUyNCwwLDAsMCwzLDguNTcydjkuOTA2QTEuNTI0LDEuNTI0LDAsMCwwLDQuNTI0LDIwaDE1LjI0YTEuNTI0LDEuNTI0LDAsMCwwLDEuNTI0LTEuNTI0VjguNTcyQTEuNTI0LDEuNTI0LDAsMCwwLDE5Ljc2NCw3LjA0OFptLTcuNjIsMTAuNjY4YTQuNTcyLDQuNTcyLDAsMSwxLDQuNTcyLTQuNTcyQTQuNTcyLDQuNTcyLDAsMCwxLDEyLjE0NCwxNy43MTZabTAtMS41MjRhMy4wNDgsMy4wNDgsMCwxLDEsMy4wNDgtMy4wNDhBMy4wNDgsMy4wNDgsMCwwLDEsMTIuMTQ0LDE2LjE5MloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zIC00KSIvPjwvc3ZnPg==');
            background-position: 7px center;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }

        &_quit {
            border: 1px solid #CC0000;
            border-radius: 6px;
            font-size: 18px;
            letter-spacing: 0.14px;
            color: #CC0000;
            padding: 8px 23px 9px;
            font-weight: 600;
        }

        &_edit-pass {
            font-size: 14px;
            height: 48px;
            width: 48px;
            line-height: 48px;
            color: rgba(53, 102, 184, 0.72);
            position: absolute;
            right: 0;
            top: 0;
            background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNS45OTciIGhlaWdodD0iMTUuOTk3IiB4bWxuczp2PSJodHRwczovL3ZlY3RhLmlvL25hbm8iPjxwYXRoIGQ9Ik0xMy42NCAwYTIuMzUgMi4zNSAwIDAgMC0xLjY2Ni42OWwtLjcuNyAzLjMzMiAzLjMzMi43LS43Yy42NzUtLjY3NC44NzctMS42ODguNTEyLTIuNTY4UzE0LjU5My0uMDAxIDEzLjY0LS4wMDF6TTkuMzg4IDMuMjc1TC42MzUgMTIuMDMyIDAgMTUuOTk3bDMuOTY4LS42MzMgOC43NTMtOC43NTZ6IiBmaWxsPSIjNmM5MGNiIi8+PC9zdmc+') center no-repeat;
        }

        &_back {
            position: absolute;
            top: 35px;
            left: 35px;
            width: 28px;
            height: 20px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNC41MDEiIGhlaWdodD0iMTcuOTk5IiB2aWV3Qm94PSIwIDAgMjQuNTAxIDE3Ljk5OSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzM1NjZiODt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xMiw0LjkzbDEuOTA5LDEuOTA5TDguMDkxLDEyLjY1NkgyNy41VjE1LjJIOC4wOTFsNS44MTcsNS44MTdMMTIsMjIuOTI5bC05LTlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMyAtNC45MykiLz48L3N2Zz4=');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__icon {
        margin: 0 auto 33px;
        display: block;
    }

    &__form {
        display: block;
        width: 300px;
        margin: 0 auto;

        &_left {
            margin-left: 0;
        }
    }

    &__row {
        margin-bottom: 17px;

        &-wrap {
            position: relative;
        }
    }

    &__row-wrap &__input {
        padding-right: 50px;
    }

    &__label {
        color: rgba(21, 44, 67, 1);
        font-size: 16px;
        display: block;
        margin-bottom: 4px;
    }

    &__input {
        font-size: 16px;
        padding: 0 10px 0 15px;
        height: 48px;
        width: 100%;
        background: #fff;
        color: #152C43;
        border: 1px solid rgba(196, 196, 196, 1);
        border-radius: 8px;
    }

    ::-webkit-input-placeholder {
        color: #C4C4C4;
    }

    ::-moz-placeholder {
        color: #C4C4C4;
    }

    :-ms-input-placeholder {
        color: #C4C4C4;
    }

    :-moz-placeholder {
        color: #C4C4C4;
    }

    &__text {
        text-align: center;
        font-size: 16px;
        line-height: 1.35;
        color: #152C43;
    }
}

@media (max-width: 767px) {
    .popup {
        margin-left: 0;

        &__box {
            width: auto;
            left: 15px;
            right: 15px;
            transform: translate3d(0, 0, 0);
            padding-left: 33px;
            padding-right: 33px;
            padding-bottom: 24px;
            top: 120px;
        }

        &__icon {
            height: auto;
            margin-bottom: 24px;

            &_email {
                width: 48px;
            }

            &_lock {
                width: 59px;
            }
        }

        &__title {
            letter-spacing: 0.14px;
            font-size: 18px;
            line-height: 1.5;
        }

        &__form {
            width: auto;
        }

        &__text {
            font-size: 14px;
        }

        &__btn {
            &_close {
                width: 21px;
                height: 21px;
                right: 19px;
                top: 19px;
            }

            &_quit,
            &_submit {
                font-size: 16px;
                letter-spacing: 0.13px;
                padding-top: 9px;
                padding-bottom: 9px;
            }

            &_edit-pass {
                height: 44px;
            }

            &_back {
                width: 25px;
                height: 18px;
                top: 34px;
                left: 24px;
            }
        }

        &__label {
            font-size: 14px;
        }

        &__input {
            height: 44px;
            font-size: 14px;
        }

        &__avatar {
            margin: 0 auto 26px;
        }
    }
}
