.profile {
    width: 720px;
    margin: 0 auto;

    &__block {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
        border-radius: 16px;
        padding: 33px 33px 0;
        margin-bottom: 32px;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        position: relative;
        padding-top: 17px;
    }

    &__hint {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: scale3d(.2,.2,1);
        transition: all .1s ease-in-out;
        opacity: 0;

        &-text {
            transform: translate3d(-50%,0,0);
            letter-spacing: 0.12px;
            color: rgba(194, 200, 205, 1);
            text-shadow: 0 1px 1px rgba(64, 64, 64, 0.16);
            font-size: 10px;
            background: rgba(40, 60, 79, 1);
            border-radius: 2px;
            padding: 2px 5px;
            position: absolute;
            top: 100%;
            left: 50%;
            white-space: nowrap;
        }
    }

    &__btn-edit {
        display: block;
        width: 59px;
        height: 59px;
        background: url(../../i/icon-edit-profile.svg) center no-repeat;
        background-size: contain;
        position: relative;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;

        &_hide {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__ava {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: url(../../i/avatar-user.svg) center no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    &__reputation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.14px;
        color: rgba(21, 44, 67, 1);
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;

        &-subtitle {
            letter-spacing: 0.14px;
            color: rgba(21, 44, 67, 1);
            font-size: 18px;
            margin-bottom: 8px;
        }

        &-quan {
            padding: 43px 0 0;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0Mi4wMDQiIGhlaWdodD0iNDAuMDAzIiB2aWV3Qm94PSIwIDAgNDIuMDA0IDQwLjAwMyI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmY2EyODt9LmJ7ZmlsbDojZjlhODI1O308L3N0eWxlPjwvZGVmcz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMyAtNCkiPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjQsNGw3LDEzLDE0LDJMMzUsMjlsMiwxNUwyNCwzNywxMSw0NGwyLTE1TDMsMTlsMTQtMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDApIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0yNCwyNWw3LThMMjQsNFptMjEtNkwyNCwyNWwxMSw0Wk0zNyw0NCwyNCwyNVYzN1pNMTMsMjksMTEsNDQsMjQsMjVaTTMsMTlsMjEsNi03LThaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjwvZz48L3N2Zz4=');
            background-position: center top;
            background-repeat: no-repeat;
            position: relative;
            font-weight: 600;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .tooltip {
            top: -9px;
        }
    }

    &__location {
        position: relative;
        padding-left: 24px;
        letter-spacing: 0.13px;
        color: rgba(86, 103, 119, 1);
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 13px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -11px;
            width: 15px;
            height: 22px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4Ljk5OCIgaGVpZ2h0PSIxMi45OTciIHZpZXdCb3g9IjAgMCA4Ljk5OCAxMi45OTciPjxkZWZzPjxzdHlsZT4uYXtvcGFjaXR5OjAuNjQzO30uYntmaWxsOm5vbmU7c3Ryb2tlOiM1ZjYzNjg7fTwvc3R5bGU+PC9kZWZzPjxnIGNsYXNzPSJhIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOC41IC0wLjUpIj48cGF0aCBjbGFzcz0iYiIgZD0iTTEzLDFBNCw0LDAsMCwwLDksNWMwLDMuNTI3LDMuNjU2LDcuNzM0LDMuODEyLDcuOTEyQS4yNDguMjQ4LDAsMCwwLDEzLDEzYS4yNTcuMjU3LDAsMCwwLC4xODctLjA4NkMxMy4zNDIsMTIuNzMxLDE3LDguNDUxLDE3LDVBNCw0LDAsMCwwLDEzLDFabTAsMi43NDlhMS41LDEuNSwwLDEsMS0xLjUsMS41QTEuNSwxLjUsMCwwLDEsMTMsMy43NDlaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwKSIvPjwvZz48L3N2Zz4=');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__since {
        position: relative;
        padding-left: 30px;
        letter-spacing: 0.13px;
        color: rgba(86, 103, 119, 1);
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 12px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -11px;
            width: 22px;
            height: 22px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS4wMDUiIGhlaWdodD0iMjEuMDA1IiB2aWV3Qm94PSIwIDAgMjEuMDA1IDIxLjAwNSI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzU2Njc3Nzt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik0yMi4xODYsNEg1LjgxOUExLjgxOCwxLjgxOCwwLDAsMCw0LDUuODE5VjIyLjE4NkExLjgxOCwxLjgxOCwwLDAsMCw1LjgxOSwyNEgyMi4xODZBMS44MTgsMS44MTgsMCwwLDAsMjQsMjIuMTg2VjUuODE5QTEuODE4LDEuODE4LDAsMCwwLDIyLjE4Niw0Wk02LjcyOCwyMS4yNzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSw2LjcyOCwyMS4yNzdabTAtMy42MzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSw2LjcyOCwxNy42NFptMy42MzcsMy42MzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxMC4zNjUsMjEuMjc3Wm0wLTMuNjM3YS45MDkuOTA5LDAsMSwxLC45MDktLjkwOUEuOTEuOTEsMCwwLDEsMTAuMzY1LDE3LjY0Wm0wLTMuNjM3YS45MDkuOTA5LDAsMSwxLC45MDktLjkwOUEuOTEuOTEsMCwwLDEsMTAuMzY1LDE0Wk0xNCwyMS4yNzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxNCwyMS4yNzdabTAtMy42MzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxNCwxNy42NFpNMTQsMTRhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxNCwxNFptMy42MzcsNy4yNzVhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxNy42NCwyMS4yNzdabTAtMy42MzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwxNy42NCwxNy42NFptLS45MDktNC41NDdBLjkwOS45MDksMCwxLDEsMTcuNjQsMTQsLjkxLjkxLDAsMCwxLDE2LjczLDEzLjA5M1ptNC41NDcsNC41NDdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwyMS4yNzcsMTcuNjRabTAtMy42MzdhLjkwOS45MDksMCwxLDEsLjkwOS0uOTA5QS45MS45MSwwLDAsMSwyMS4yNzcsMTRabS45MDktNC41NDdINS44MTlWNS44MTlIMjIuMTg2WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMuNSAtMy41KSIvPjwvc3ZnPg==');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__name {
        letter-spacing: 0.51px;
        color: rgba(21, 44, 67, 1);
        font-weight: bold;
        font-size: 32px;
        font-weight: bold;
        line-height: 1.35;
        margin-bottom: 11px;
    }

    &__info {
        display: flex;
        justify-content: center;
        flex-direction: row;
        letter-spacing: 0.13px;
        font-size: 16px;
        line-height: 1.3;

        &-status {
            color: rgba(53, 102, 184, 1);
            cursor: pointer;
        }

        &-date {
            color: rgba(86, 103, 119, 1);
            display: none;
            padding-left: 29px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 22px;
                height: 22px;
                margin-top: -11px;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDpub25lO3N0cm9rZTojNTY2Nzc3O308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTEzLDNBMTAsMTAsMCwxLDAsMjMsMTMsMTAsMTAsMCwwLDAsMTMsM1ptLjgzMywxMC44MzNINy4xNjJBLjgyOS44MjksMCwwLDEsNi4zMzMsMTN2LS4wMDlhLjgyOC44MjgsMCwwLDEsLjgyOS0uODI4aDVWNS41QS44MjkuODI5LDAsMCwxLDEzLDQuNjY3SDEzYS44MjguODI4LDAsMCwxLC44MjguODI5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIuNSAtMi41KSIvPjwvc3ZnPg==');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &_active &-status {
            display: none;
        }

        &_active &-date {
            display: block;
        }
    }

    &__tabs {
        padding-top: 48px;

        &-navi {
            display: flex;
            justify-content: center;
            flex-direction: row;
            position: relative;
        }

        &-link {
            letter-spacing: 0.17px;
            color: rgba(86, 103, 119, 1);
            font-weight: 600;
            font-size: 21px;
            line-height: 1.33;
            padding: 7px 0 7px 24px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid #CCCDCF;

            &:hover {
                text-decoration: none;
                color: rgba(21, 44, 67, 1);
            }

            &_active {
                color: rgba(21, 44, 67, 1);
                border-color: #566777;
            }
        }

        &-quan {
            font-size: 12px;
            letter-spacing: 0.1px;
            color: rgba(86, 103, 119, 1);
            text-align: center;
            min-width: 24px;
            height: 24px;
            border: 1px solid rgba(86, 103, 119, 1);
            border-radius: 50%;
            line-height: 24px;
            padding: 0 2px;
            font-weight: normal;
            flex-shrink: 0;
            margin-left: 3px;
            position: relative;
            top: -14px;
            display: block;
        }

        &-content {
            display: none;

            &_active {
                display: block;
            }
        }
    }

    &__btn-msg {
        margin-top: 16px;
        letter-spacing: 0.14px;
        background: #3566B8;
        border-radius: 24px;
        display: inline-block;
        vertical-align: middle;
        padding: 8px 17px 8px 40px;
        font-size: 18px;
        line-height: 1.35;
        color: #FCFCFC;
        position: relative;
        transition: all 0.2s ease;

        &::before {
            content: "";
            position: absolute;
            left: 16px;
            top: 50%;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNi42MzYiIGhlaWdodD0iMTUuOTk2IiB2aWV3Qm94PSIwIDAgMTYuNjM2IDE1Ljk5NiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2ZmZjt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik05LjAzOCwzQzUuMTUxLDMsMiw1Ljg2NSwyLDkuNGE2LjExNCw2LjExNCwwLDAsMCwyLjE3Miw0LjYxNSwzLjU2LDMuNTYsMCwwLDEtMS4zMjUsMS44aDBhLjMyLjMyLDAsMCwwLC4xODEuNjExLDUuMSw1LjEsMCwwLDAsMy4xMzUtMS4xOTUsNy42LDcuNiwwLDAsMCwyLjg3Ni41NjJjMy44ODcsMCw3LjAzOC0yLjg2NSw3LjAzOC02LjRTMTIuOTI1LDMsOS4wMzgsM1pNNi40NzksNy40NzlIMTEuNmEuNjQuNjQsMCwwLDEsMCwxLjI4SDYuNDc5YS42NC42NCwwLDAsMSwwLTEuMjhabTAsMi41NTloMy44MzlhLjY0LjY0LDAsMSwxLDAsMS4yOEg2LjQ3OWEuNjQuNjQsMCwxLDEsMC0xLjI4Wm0xMC43MzUuNzQ2YTguMSw4LjEsMCwwLDEtNy4zMjQsNi4yNTIsNS40OTEsNS40OTEsMCwwLDAsMy42MjgsMS4zMiw1LjczNyw1LjczNywwLDAsMCwxLjkxLS4zMjYsNC45NDEsNC45NDEsMCwwLDAsMi44MjQuOTU5LjMxOS4zMTksMCwwLDAsLjE3Ni0uNjEyLDMuNzM0LDMuNzM0LDAsMCwxLTEuMTg3LTEuNDMyLDQuMDcxLDQuMDcxLDAsMCwwLS4wMjYtNi4xNloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIC0zKSIvPjwvc3ZnPg==');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:hover {
            background: #4070C1;
            text-decoration: none;
        }
    }
}

@media (min-width: 992px) {
    .profile {
        &__reputation-quan:hover &__hint,
        &__btn-edit:hover &__hint {
            opacity: 1;
            transform: scale3d(1,1,1);
        }
    }
}

@media (max-width: 767px) {
    .profile {
        padding-top: 23px;
        background: #F5F5F7;
        width: 100%;

        &__block {
            padding: 17px 17px 0;
            margin-bottom: 24px;
        }

        &__header {
            padding-top: 31px;
            margin-bottom: 12px;
        }

        &__ava {
            width: 80px;
            height: 80px;
        }

        &__reputation {
            &-subtitle {
                font-size: 16px;
                letter-spacing: 0.13px;
                margin-bottom: 3px;
            }

            &-quan {
                background-size: 34px auto;
                background-position: center top;
                font-size: 15px;
                letter-spacing: 0.12px;
                padding-top: 33px;
            }
        }

        &__name {
            font-size: 21px;
            letter-spacing: 0.34px;
        }

        &__location {
            font-size: 14px;
            letter-spacing: 0.11px;
            margin-bottom: 11px;
            padding-left: 20px;

            &::before {
                $size: 17px;
                width: 11px;
                height: $size;
                margin-top: - ($size / 2);
            }
        }

        &__since {
            font-size: 14px;
            letter-spacing: 0.11px;
            padding-left: 25px;

            &::before {
                $size: 17px;
                width: $size;
                height: $size;
                margin-top: - ($size / 2);
            }
        }

        &__info {
            font-size: 14px;
            letter-spacing: 0.11px;

            &-date {
                padding-left: 24px;

                &::before {
                    $size: 17px;
                    width: $size;
                    height: $size;
                    margin-top: - ($size / 2);
                }
            }
        }

        &__btn {
            &-edit {
                width: 40px;
                height: 40px;
            }

            &-msg {
                letter-spacing: 0.13px;
                font-size: 16px;

                &::before {
                    width: 15px;
                    height: 14px;
                    margin-top: -7px;
                }
            }
        }

        &__tabs {
            padding-top: 41px;

            &-link {
                font-size: 18px;
                padding-left: 16px;
            }

            &-quan {
                min-width: 20px;
                height: 20px;
                line-height: 18px;
                letter-spacing: 0.08px;
                font-size: 10px;
            }
        }
    }
}
