.tooltip {
    position: relative;
    padding-bottom: 2px;
    height: 16px;
    width: 16px;

    &_s24,
    &_s24 &__icon {
        width: 24px;
        height: 24px;
    }

    &:hover {
        z-index: 10;
    }

    &__icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: red;
        cursor: pointer;
        flex-shrink: 0;
    }

    &_verified-b &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.003' height='24.003'%3E%3Cpath d='M13.4.365l1.494.838 1.713.021a2.861 2.861 0 012.423 1.4l.876 1.476 1.473.875a2.858 2.858 0 011.4 2.423l.021 1.713.838 1.494a2.861 2.861 0 010 2.8l-.838 1.49-.021 1.713a2.861 2.861 0 01-1.4 2.423l-1.473.875-.875 1.473a2.858 2.858 0 01-2.423 1.4l-1.713.021-1.494.838a2.861 2.861 0 01-2.8 0L9.108 22.8l-1.713-.021a2.861 2.861 0 01-2.423-1.4L4.1 19.906l-1.473-.875a2.858 2.858 0 01-1.4-2.423L1.2 14.895.365 13.4a2.861 2.861 0 010-2.8L1.2 9.108l.021-1.713a2.861 2.861 0 011.4-2.423L4.1 4.1l.875-1.473a2.858 2.858 0 012.423-1.4l1.71-.027L10.6.365a2.861 2.861 0 012.8 0z' fill='rgba(53,102,184,.88)'/%3E%3Cpath d='M16.739 6.678l-6.281 6.281-3.194-3.194a1.235 1.235 0 00-1.746 0l-.873.873a1.235 1.235 0 000 1.746l4.937 4.946a1.235 1.235 0 001.746 0l8.028-8.028a1.235 1.235 0 000-1.746l-.873-.873a1.235 1.235 0 00-1.744-.005z' opacity='.05'/%3E%3Cpath d='M9.798 17.211l-5.04-5.04a.944.944 0 010-1.336l.891-.891a.944.944 0 011.336 0l3.481 3.481 6.631-6.631a.944.944 0 011.336 0l.891.891a.945.945 0 010 1.336l-8.19 8.19a.946.946 0 01-1.336 0z' opacity='.07'/%3E%3Cpath d='M10.021 17.097L4.87 11.946a.643.643 0 010-.91l.91-.91a.643.643 0 01.91 0l3.791 3.785 7-7.005a.643.643 0 01.91 0l.91.91a.643.643 0 010 .91l-8.37 8.371a.643.643 0 01-.91 0z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_verified-g &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.003' height='24.003'%3E%3Cpath d='M13.4.365l1.494.838 1.713.021a2.861 2.861 0 012.423 1.4l.876 1.476 1.473.875a2.858 2.858 0 011.4 2.423l.021 1.713.838 1.494a2.861 2.861 0 010 2.8l-.838 1.49-.021 1.713a2.861 2.861 0 01-1.4 2.423l-1.473.875-.875 1.473a2.858 2.858 0 01-2.423 1.4l-1.713.021-1.494.838a2.861 2.861 0 01-2.8 0L9.108 22.8l-1.713-.021a2.861 2.861 0 01-2.423-1.4L4.1 19.906l-1.473-.875a2.858 2.858 0 01-1.4-2.423L1.2 14.895.365 13.4a2.861 2.861 0 010-2.8L1.2 9.108l.021-1.713a2.861 2.861 0 011.4-2.423L4.1 4.1l.875-1.473a2.858 2.858 0 012.423-1.4l1.71-.027L10.6.365a2.861 2.861 0 012.8 0z' fill='rgba(53,184,78,.88)'/%3E%3Cpath d='M16.739 6.678l-6.281 6.281-3.194-3.194a1.235 1.235 0 00-1.746 0l-.873.873a1.235 1.235 0 000 1.746l4.937 4.946a1.235 1.235 0 001.746 0l8.028-8.028a1.235 1.235 0 000-1.746l-.873-.873a1.235 1.235 0 00-1.744-.005z' opacity='.05'/%3E%3Cpath d='M9.798 17.211l-5.04-5.04a.944.944 0 010-1.336l.891-.891a.944.944 0 011.336 0l3.481 3.481 6.631-6.631a.944.944 0 011.336 0l.891.891a.945.945 0 010 1.336l-8.19 8.19a.946.946 0 01-1.336 0z' opacity='.07'/%3E%3Cpath d='M10.021 17.097L4.87 11.946a.643.643 0 010-.91l.91-.91a.643.643 0 01.91 0l3.791 3.785 7-7.005a.643.643 0 01.91 0l.91.91a.643.643 0 010 .91l-8.37 8.371a.643.643 0 01-.91 0z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_warning &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.004' height='24.004'%3E%3Ccircle cx='8' cy='8' r='8' transform='translate(2.592 3.001)' fill='%23fff'/%3E%3Cpath d='M11 0a51.228 51.228 0 00-9.39 1.037A2 2 0 000 3v6c0 10.4 10.023 14.748 10.023 14.748a1.992 1.992 0 001.953 0S22 19.4 22 9V3a2 2 0 00-1.612-1.963A51.228 51.228 0 0011 0zM9.789 4h2.426l-.2 9H9.99zm1.217 11.812a1.2 1.2 0 110 2.379c-.828 0-1.324-.441-1.324-1.182a1.16 1.16 0 011.324-1.196z' fill='%23d21f1f'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_represent &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.223' height='24.001'%3E%3Cpath d='M3.556 0a.889.889 0 100 1.778h10.666a.889.889 0 100-1.778zM.889 3.556a.889.889 0 100 1.778v16H4.26a4.682 4.682 0 011.962-1.67v-2.553a3.143 3.143 0 01-.134-.878 2.838 2.838 0 01.031-.427 4.135 4.135 0 01-.264-1.434 4.517 4.517 0 01.95-2.816h-.583V9.778H8v.712a4.93 4.93 0 011.778-.634v-.078h1.778v.139a3.539 3.539 0 011.163.578 2.976 2.976 0 01.615.234v-.951h1.778v.3a5.279 5.279 0 011.778-.3V5.333a.889.889 0 100-1.778zm1.778 2.666h1.778V8H2.667zm3.556 0H8V8H6.222zm3.556 0h1.778V8H9.778zm3.556 0h1.778V8h-1.779zM2.667 9.778h1.778v1.778H2.667zm14.223 1.776a2.78 2.78 0 00-3.033 2.816 2.57 2.57 0 00.427 1.358s-.194.1-.194.5a.971.971 0 00.51.983c.071.628 1.045 1.547 1.045 1.547v1.047c-.524 1.572-4.089.672-4.089 4.193h10.667c0-3.521-3.565-2.62-4.089-4.193v-1.044s.975-.919 1.045-1.547a1.277 1.277 0 00.51-.983c0-.437-.194-.5-.194-.5a3.271 3.271 0 00.349-1.3c0-1.272-.637-2.252-1.71-2.252a1.653 1.653 0 00-1.245-.625zm-6.222 0a2.78 2.78 0 00-3.033 2.816 2.564 2.564 0 00.429 1.358s-.194.1-.194.5a.967.967 0 00.509.981c.071.628 1.047 1.547 1.047 1.547v1.049c-.525 1.572-4.09.67-4.09 4.191h4.445a4.387 4.387 0 012.189-4.078 1.209 1.209 0 01-.056-.113v-1.044a5.816 5.816 0 00.813-.979 3.014 3.014 0 01-.413-1.549 2.838 2.838 0 01.031-.427 4.135 4.135 0 01-.264-1.434 4.655 4.655 0 01.472-2.05 1.509 1.509 0 00-.639-.144 1.655 1.655 0 00-1.247-.622zm-8 1.778h1.777v1.778H2.667zm0 3.556h1.777v1.778H2.667z' fill='%236dbc45'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_expert &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.147' height='24.004'%3E%3Cpath d='M4.954 0a.43.43 0 00-.427.382l-.008.085a.634.634 0 01-.465.546 4.219 4.219 0 00-1.154.494.437.437 0 01-.506-.022l-.179-.144a.429.429 0 00-.571.032l-.268.268a.429.429 0 00-.032.571l.144.179a.437.437 0 01.022.506 4.223 4.223 0 00-.5 1.157.633.633 0 01-.546.465l-.084.009a.429.429 0 00-.38.426v.378a.43.43 0 00.382.427l.085.008a.635.635 0 01.546.465 4.219 4.219 0 00.494 1.157.437.437 0 01-.022.506l-.144.179a.428.428 0 00.032.571l.266.268a.429.429 0 00.571.032l.179-.145a.439.439 0 01.511-.02 4.219 4.219 0 001.157.494.631.631 0 01.464.546l.01.085a.431.431 0 00.427.382h.378a.43.43 0 00.427-.382l.008-.085a.634.634 0 01.465-.546 4.22 4.22 0 001.155-.494.437.437 0 01.509.02l.179.144a.428.428 0 00.571-.032l.268-.268a.429.429 0 00.032-.571L8.8 7.9a.437.437 0 01-.022-.506 4.219 4.219 0 00.494-1.157.633.633 0 01.546-.465l.085-.008a.43.43 0 00.382-.427v-.383a.43.43 0 00-.382-.427l-.083-.008a.634.634 0 01-.546-.465A4.22 4.22 0 008.78 2.9a.437.437 0 01.02-.509l.144-.179a.428.428 0 00-.032-.571l-.268-.268a.429.429 0 00-.571-.032l-.173.144a.437.437 0 01-.506.022 4.223 4.223 0 00-1.157-.5.631.631 0 01-.469-.54L5.76.382A.43.43 0 005.333 0zm7.289 1.718a9.213 9.213 0 00-1.134.05A6.853 6.853 0 012.6 11.51a9.389 9.389 0 003.175 6.709 3.316 3.316 0 011.085 2.5V24h8.573v-1.332a1.713 1.713 0 011.167-1.626l2.8-.933a1.717 1.717 0 001.172-1.627v-3.27l1.944-.67a.854.854 0 00.434-1.366l-.023-.028-.025-.028-2.362-2.834c-.34-4.726-3.513-8.448-8.297-8.568zm-7.1 1.711a1.715 1.715 0 11-1.714 1.715 1.714 1.714 0 011.715-1.715z' fill='%234e4ebc'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_pro &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.006' height='24.004'%3E%3Cpath d='M12-.002a1.01 1.01 0 00-.875.494l-.386.644a1.245 1.245 0 01-.752.548h-.009a1.235 1.235 0 01-.934-.1l-.656-.364a1.02 1.02 0 00-1.51.878l-.014.759a1.235 1.235 0 01-.375.848l-.007.007a1.231 1.231 0 01-.848.375l-.761.013A1.021 1.021 0 004 5.621l.366.658a1.23 1.23 0 01.1.927.111.111 0 00-.005.016 1.238 1.238 0 01-.545.747l-.646.388a1.02 1.02 0 000 1.749l.646.388a1.234 1.234 0 01.545.747v.018a1.229 1.229 0 01-.1.927L4 12.843a1.02 1.02 0 00.875 1.515l.759.013a1.235 1.235 0 01.848.377l.007.007a1.232 1.232 0 01.377.848l.013.759a1.02 1.02 0 001.515.875l.658-.366a1.23 1.23 0 01.927-.1h.018a1.234 1.234 0 01.747.545l.388.646a1.02 1.02 0 001.749 0l.388-.646a1.234 1.234 0 01.747-.545h.016a1.229 1.229 0 01.927.1l.658.366a1.021 1.021 0 001.517-.875l.013-.759a1.233 1.233 0 01.375-.848l.007-.007a1.232 1.232 0 01.848-.377l.761-.013a1.02 1.02 0 00.875-1.515l-.366-.658a1.23 1.23 0 01-.1-.927l.005-.018a1.234 1.234 0 01.545-.747l.646-.388a1.019 1.019 0 000-1.749l-.643-.387a1.234 1.234 0 01-.545-.747l-.005-.016a1.23 1.23 0 01.1-.927l.366-.658a1.021 1.021 0 00-.875-1.517l-.761-.013a1.233 1.233 0 01-.848-.375l-.007-.007a1.231 1.231 0 01-.375-.848l-.019-.763a1.021 1.021 0 00-1.517-.875l-.658.366a1.23 1.23 0 01-.927.1l-.016-.005a1.234 1.234 0 01-.747-.545l-.387-.641a1.01 1.01 0 00-.879-.5zm8.467 15.853a2.848 2.848 0 01-1.307.352h-.186v.186a2.868 2.868 0 01-4.259 2.458l-.16-.09-.1.159c-.019.032-.048.057-.069.088l5 5v-4.617h4.616zm-16.939 0L0 19.387h4.616v4.616l5-5c-.02-.031-.049-.056-.069-.088l-.1-.159-.162.09a2.864 2.864 0 01-4.258-2.458v-.184h-.184a2.857 2.857 0 01-1.31-.349z' fill='%23f7c53e'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &_admin &__icon {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23.998'%3E%3Cpath d='M12-.002c-4.242 0-6 2.723-6 6a5.957 5.957 0 00.527 2.213 1.169 1.169 0 00-.473 1.2c.164 1.283.72 1.61 1.074 1.637A5.22 5.22 0 009 13.998v2c0 .007-.008.011-.01.018a.994.994 0 00-.775.539l-.312.629C5.434 18.567 0 18.224 0 23.998h10.3l1.2-3.916-1.139-2.084h3.277L12.5 20.082l1.2 3.916H17v-1a1 1 0 011-1h2a1 1 0 011 1v1h3c0-5.774-5.434-5.431-7.9-6.814l-.312-.629a.994.994 0 00-.775-.539c0-.007-.008-.011-.01-.018v-2a5.22 5.22 0 001.871-2.951c.354-.027.91-.354 1.074-1.637a1.168 1.168 0 00-.473-1.2A5.289 5.289 0 0018 5.998c0-2.428-.953-4.5-3-4.5a3.181 3.181 0 00-3-1.5z' fill='red'/%3E%3C/svg%3E") center no-repeat;
        background-size: contain;
    }

    &__title {
        display: block;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        line-height: 1.3;
        margin-bottom: 4px;
    }

    &__text {
        display: block;
        line-height: 1.3;
        letter-spacing: 0.17px;
        color: #C2C8CD;
        font-size: 14px;
    }

    &__dropdown {
        background: #283C4F;
        box-shadow: 0 0 20px #40404029;
        border-radius: 8px;
        position: absolute;
        width: 236px;
        margin-left: -118px;
        margin-top: 2px;
        left: 50%;
        top: 35px;
        padding: 15px 20px 10px;
        transition: all 0.4s ease;
        display: none;
        text-align: center;

        &::before {
            bottom: 100%;
            left: 50%;
            margin-left: -6px;
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 12px solid #283C4F;
        }
    }

    &_warning &__dropdown {
        width: 300px;
        margin-left: -150px;
    }

    &:hover &__dropdown {
        display: block;
    }

    &__msg {
        font-size: 14px;
        letter-spacing: 0.11px;
        color: rgba(210, 31, 31, 1);
        line-height: 1.3;
        white-space: nowrap;
        position: absolute;
        left: 100%;
        top: 3px;
        padding-left: 3px;
    }

    &__btn {
        background: rgba(53, 102, 184, 1);
        border-radius: 24px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.11px;
        color: rgba(252, 252, 252, 1);
        padding: 10px 16px 9px;
        display: inline-block;
        margin: 7px 0 2px;
        transition: all 0.4s ease;

        &:hover {
            background: rgba(64, 112, 193, 1);
            text-decoration: none;
        }
    }
}

@media (max-width: 1120px) {
    .tooltip {

    }
}

@media (max-width: 1023px) {
    .tooltip {

    }
}

@media (max-width: 767px) {
    .tooltip {
        width: 14px;
        height: 14px;

        &_s24,
        &_s24 &__icon {
            width: 18px;
            height: 18px;
        }

        &__icon {
            width: 14px;
            height: 14px;
        }

        &_warning &__dropdown,
        &__dropdown {
            width: 124px;
            margin-left: -62px;
            padding: 12px 7px 7px;
        }

        &__title {
            letter-spacing: 0.06px;
            font-size: 8px;
        }

        &__text {
            letter-spacing: 0.1px;
            font-size: 8px;
        }

        &__btn {
            font-size: 10px;
            letter-spacing: 0.08px;
            padding: 5px 10px;
        }

        &__msg {
            left: 50%;
            transform: translate3d(-50%,0,0);
            padding-left: 0;
            top: auto;
            bottom: 19px;
            white-space: pre-wrap;
            letter-spacing: 0.06px;
            font-size: 8px;
            text-align: center;
        }
    }
}

@media (max-width: 374px) {

}
