extends layout/main

block title
    | Title

block content
    .page-container__ins
        include modules/main-slide
        include modules/achievements
        include modules/worth
        include modules/partners
        include modules/choose
