extends layout/main-logged

block title
    | Title

block content
    .container__wrap
        include modules/main-slide
        include modules/achievements
        include modules/worth
        include modules/partners
        include modules/choose
