mixin input(type, text)
    .form-block__row
        .form-block__box
            input.form-block__inp(type= type placeholder=" " id="")
            label.form-block__label= text
        .form-block__hint 
        
mixin input-error(type, text)
    .form-block__row.form-block__row_error
        .form-block__box.form-block__box_error
            input.form-block__inp(type= type placeholder=" " id="")
            label.form-block__label= text
        .form-block__hint Номер телефона введен неверно.
                
mixin social-block
    ul.social-block
        li.social-block__item
            a.social-block__link.social-block__link_fb(href="#")
        li.social-block__item
            a.social-block__link.social-block__link_vk(href="#")
        li.social-block__item
            a.social-block__link.social-block__link_tw(href="#")
        li.social-block__item
            a.social-block__link.social-block__link_in(href="#")

mixin upload-block
    .upload-block
        .upload-block__col
            .upload-block__item
                .upload-block__photo
                .upload-block__name Изображение.jpg
                .upload-block__icon
                    
            .upload-block__item
                .upload-block__photo(style="background: url() no-repeat; background-color: yellow;")
                .upload-block__name Изображение.jpg
                .upload-block__icon 
        .upload-block__btn
            .form-block__tooltip.form-block__tooltip_left.form-block__tooltip_right-mobile(style="display: block;")
                .form-block__tooltip-title Документ

                .form-block__tooltip-text Прикрепите фото, видео, файлы

mixin feedback(color)
    section.feedback(class=color)
        .container
            h2 Задать вопрос

            .form-block
                form.form-block--ins(method='POST' action='')
                    .row
                        .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                            .form-block-row
                                input.form-block-inp(type="text" placeholder="Ваше имя" id="name")
                        .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4    
                            .form-block-row.error
                                input.form-block-inp(type="text" placeholder="Email" id="email")
                        .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4  
                            .form-block-row
                                input.form-block-inp(type="text" placeholder="Тема" id="theme")

                    .form-block-row.error
                        textarea.form-block-tarea(type="text" placeholder="Напишите свой вопрос")

                    .form-block-buttons
                        button.btn-primary.c-blue(type="submit") Отправить                         
