extends layout/main

block title
    | Title

block content
    .container__ins
        section.catalog
            .container__wrap
                .catalog__header
                    h2.catalog__title Поиск компаний по категории
                    
                    include modules/search-block
                        
                .catalog__content
                    include modules/catalog__box
                    
                    .catalog__column
                        +item("shopping", "Интернет-магазин", ["Автозапчасти", "БАД", "Гипермаркет", "Косметика и парфюмерия", "Мобильная электроника"], [ "Одежда/Обувь", "Товары для детей", "Товары для дома", "Электроника и техника", "Ювелирные изделия/Аксессуары"])
                        +item("subway", "Общественный транспорт", ["Авиакомпания/Аэропорт", "Автопарк", "ЖД Компания", "Маршрутное такси", "Метро"], ["Такси"])
                        +item("service", "Услуги", ["Грузоперевозка/Логистика", "ЖКХ", "Почтовые услуги", "Юридические услуги"])
                        +item("workers", "Строительство", ["Ремонт", "Строитель", "Установка окон/Дверей"])
                        +item("parliament", "Госструктура", ["Администрация", "Управляющая Компания"])
                        +item("network", "Телекоммуникации", ["Интернет провайдер", "Мобильный оператор"])
                        +item("guard", "Безопасность", ["Охранная фирма"])
                        +item("basketball", "Спорт")
                        
                    .catalog__column
                        +item("trade", "Розничная торговля", ["Детские товары", "Косметика и парфюмерия", "Мобильные телефоны", "Одежда/Обувь", "Продукты питания", "Спортивный магазин", "Супермаркет/Гипермаркет", "Товары для дома", "Часы/Ювелирные изделия"], ["Электроника и бытовая техника"])
                        +item("student", "Образование", ["Автошкола", "ВУЗ", "Дипломы, курсовые", "Курсы/Тренинги", "Школа"])
                        +item("eyebrow", "Косметические процедуры", ["Косметика", "Массажный и SPA салон", "Пластическая хирургия", "Салон красоты / Парикмахерская"])
                        +item("people", "Люди", ["Водитель", "Мошенники/Обманщики", "Соседи"])
                        +item("building", "Недвижимость", ["Аренда", "Продажа/Покупка"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        
                    .catalog__column
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        
                    .catalog__column
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"], ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
                        +item("ic", "subtitle", ["1", "2", "3", "2", "3", "2", "3", "2", "3"])
