extends layout/main

block title
    | Title

block content
    .page-container__ins
        section.catalog
            .page-container__wrap
                .catalog__header
                    h2.catalog__title Поиск компаний по категории
                    
                    include modules/search-block
                        
                .catalog__content
                    include modules/catalog__box
                    
                    .catalog__column
                        +item("shopping", "Интернет-магазин", ["Автозапчасти", "БАД", "Гипермаркет", "Косметика и парфюмерия", "Мобильная электроника"], [ "Одежда/Обувь", "Товары для детей", "Товары для дома", "Электроника и техника", "Ювелирные изделия/Аксессуары"])
                        +item("subway", "Общественный транспорт", ["Авиакомпания/Аэропорт", "Автопарк", "ЖД Компания", "Маршрутное такси", "Метро"], ["Такси"])
                        +item("service", "Услуги", ["Грузоперевозка/Логистика", "ЖКХ", "Почтовые услуги", "Юридические услуги"])
                        +item("workers", "Строительство", ["Ремонт", "Строитель", "Установка окон/Дверей"])
                        +item("parliament", "Госструктура", ["Администрация", "Управляющая Компания"])
                        +item("network", "Телекоммуникации", ["Интернет провайдер", "Мобильный оператор"])
                        +item("guard", "Безопасность", ["Охранная фирма"])
                        +item("basketball", "Спорт")
                        
                    .catalog__column
                        +item("trade", "Розничная торговля", ["Детские товары", "Косметика и парфюмерия", "Мобильные телефоны", "Одежда/Обувь", "Продукты питания"], ["Спортивный магазин", "Супермаркет/Гипермаркет", "Товары для дома", "Часы/Ювелирные изделия", "Электроника и бытовая техника"])
                        +item("student", "Образование", ["Автошкола", "ВУЗ", "Дипломы, курсовые", "Курсы/Тренинги", "Школа"])
                        +item("eyebrow", "Косметические процедуры", ["Косметика", "Массажный и SPA салон", "Пластическая хирургия", "Салон красоты / Парикмахерская"])
                        +item("people", "Люди", ["Водитель", "Мошенники/Обманщики", "Соседи"])
                        +item("building", "Недвижимость", ["Аренда", "Продажа/Покупка"])
                        +item("gas", "Нефтяная компания", ["Автозаправка"])
                        +item("news", "Газеты/Журналы")
                        +item("tv", "Телевидение/Радио")
                        
                    .catalog__column
                        +item("internet", "Интернет", ["Игра", "Интернет-портал", "Сайт", "Сайт знакомств", "Софт"], ["Социальная сеть", "Хостинг/WEB дизайн"])
                        +item("food", "Общественное питание", ["Бар", "Доставка еды", "Кафе", "Пиццерия", "Ресторан"])
                        +item("dog", "Животные", ["Ветеринарная клиника", "Заводчик кошек", "Заводчик собак", "Зоомагазин"])
                        +item("heart", "Здоровье", ["Аптека", "Медицинское учреждение", "Стоматологическая клиника"])
                        +item("manufacturing", "Производство", ["Карьера/Работа", "Продукция"])
                        +item("merry", "Отдых/Развлечения", ["Ночной клуб/Бар"])
                        +item("furniture", "Мебель/Интерьер")
                        +item("tower", "Энергосбытовая компания")
                        
                    .catalog__column
                        +item("car", "Авто/Транспорт", ["Автодилер", "Автолизинг", "Автомойка", "Автосервис", "Морской и Речной Транспорт"], ["Прокат/Аренда Автомобилей"])
                        +item("teapot", "Электроника и Техника", ["Бытовая техника", "Мобильные телефоны", "Платежный сервис", "Сервисный Центр"])
                        +item("business", "Бизнес/Финансы", ["Банк", "Лизинг/Кредит", "Платежный сервис"])
                        +item("literature", "Культура/Искусство", ["Кино/Театр", "Книги"])
                        +item("plane", "Путешествия", ["Гостиница", "Туристическое агентство"])
                        +item("vehicle", "Страхование", ["Автострахование КАСКО/ОСАГО"])
                        +item("subscribe", "Мобильная подписка")
                        +item("menu", "Прочее")
                        
                span.catalog__btn-more Больше
