/* check-item */
.nd-check-item {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}
.nd-check-item__label {
  padding: 0 0 0 32px;
  cursor: pointer;
}
.nd-check-item__dot, .nd-check-item__label {
  display: inline-block;
  vertical-align: middle;
}
.nd-check-item__name {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 300;
  color: #152C43;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.04);
}
.nd-check-item__link {
  color: #1B73E8;
  font-size: 13px;
  line-height: 1.3;
  font-weight: 300;
}
.nd-check-item__dot {
  width: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M17.778 2.222v15.556H2.222V2.222zm0-2.222H2.222A2.229 2.229 0 000 2.222v15.556A2.229 2.229 0 002.222 20h15.556A2.229 2.229 0 0020 17.778V2.222A2.229 2.229 0 0017.778 0z' fill='rgba(25,25,25,.32)'/%3E%3C/svg%3E") center no-repeat;
}
.nd-check-item__dot::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3Cfilter id='a' x='3.447' y='5.572' width='14.307' height='11.671' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cpath d='M17.778 2.222v15.556zm0-2.222H2.222A2.229 2.229 0 000 2.222v15.556A2.229 2.229 0 002.222 20h15.556A2.229 2.229 0 0020 17.778V2.222A2.229 2.229 0 0017.778 0z' fill='%233566b8'/%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M15.381 6.073L8.45 13.007l-2.639-2.636-.868.868 3.5 3.5 7.8-7.8z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
  left: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: none;
}
:checked + .nd-check-item__dot {
  display: block;
}
:checked + .nd-check-item__dot::before {
  display: block;
}
.nd-check-item__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}
