.nd-form-block {
  position: relative;
}
.nd-form-block__box {
  position: relative;
}
.nd-form-block__label {
  position: absolute;
  left: 0;
  top: 28px;
  transform: translateY(-50%);
  background-color: #fff;
  letter-spacing: 0.53px;
  color: rgba(21, 44, 67, 0.4);
  font-size: 16px;
  line-height: 1.25;
  padding: 0 3px;
  margin: 0 20px;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.nd-form-block__input {
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(119, 119, 157, 0.3);
  height: 56px;
  border-radius: 5px;
  padding: 0 10px 0 23px;
  letter-spacing: 0.15px;
  color: rgba(21, 44, 67, 0.88);
  transition: 0.1s ease-out;
  width: 100%;
}
.nd-form-block__input:focus {
  border-color: #1B73E8;
  box-shadow: 0 0 1px 1px #1B73E8;
}
.nd-form-block__input_with-icon {
  padding-right: 45px;
}
.nd-form-block__textarea {
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(119, 119, 157, 0.3);
  height: 220px;
  border-radius: 5px;
  padding: 21px 23px 10px;
  letter-spacing: 0.15px;
  color: rgba(21, 44, 67, 0.88);
  transition: 0.1s ease-out;
  width: 100%;
  resize: none;
  line-height: 1.5;
}
.nd-form-block__textarea:focus {
  border: 1px solid #1B73E8;
  box-shadow: 0 0 1px 1px #1B73E8;
}
.nd-form-block__textarea-hint {
  display: flex;
  justify-content: space-between;
}
.nd-form-block__textarea-text {
  font-size: 13px;
  line-height: 1.25;
  font-weight: 300;
  color: rgba(21, 44, 67, 0.64);
}
.nd-form-block__textarea-counter {
  font-size: 15px;
  line-height: 1.26;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.04);
  color: rgba(27, 115, 232, 0.64);
  margin-left: 10px;
}
.nd-form-block__textarea-num {
  color: rgba(27, 115, 232, 0.64);
}
.nd-form-block__row_error-size .nd-form-block__textarea {
  height: 336px;
}
.nd-form-block__row_error-size .nd-form-block__textarea-text {
  color: #1b73e8;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.04);
}
.nd-form-block__sign {
  visibility: hidden;
}
.nd-form-block__input:focus + .nd-form-block__label, .nd-form-block__textarea:focus + .nd-form-block__label {
  letter-spacing: 0.43px;
  color: #1B73E8;
  font-size: 13px;
  line-height: 1.23;
  top: 0;
  transform: translateY(-50%);
  left: 4px;
}
.nd-form-block__input:focus + .nd-form-block__label .nd-form-block__sign, .nd-form-block__textarea:focus + .nd-form-block__label .nd-form-block__sign, .nd-form-block__input:not(:placeholder-shown) + .nd-form-block__label .nd-form-block__sign, .nd-form-block__textarea:not(:placeholder-shown) + .nd-form-block__label .nd-form-block__sign {
  display: none;
}
.nd-form-block__box_required .nd-form-block__input:focus + .nd-form-block__label .nd-form-block__sign, .nd-form-block__box_required .nd-form-block__textarea:focus + .nd-form-block__label .nd-form-block__sign, .nd-form-block__box_required .nd-form-block__input:not(:placeholder-shown) + .nd-form-block__label .nd-form-block__sign, .nd-form-block__box_required .nd-form-block__textarea:not(:placeholder-shown) + .nd-form-block__label .nd-form-block__sign {
  visibility: visible;
  display: inline-block;
  vertical-align: middle;
}
.nd-form-block__input:not(:placeholder-shown) + .nd-form-block__label, .nd-form-block__textarea:not(:placeholder-shown) + .nd-form-block__label {
  top: 0;
  font-size: 13px;
  transform: translateY(-50%);
  left: 4px;
}
.nd-form-block__hint {
  min-height: 24px;
  color: rgba(21, 44, 67, 0.64);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.04);
  font-size: 13px;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 8px;
}
.nd-form-block__hint:empty {
  display: none;
}
.nd-form-block__row_error .nd-form-block__hint {
  color: #B00020;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.04);
}
.nd-form-block__row_error .nd-form-block__input:focus + .nd-form-block__label, .nd-form-block__row_error .nd-form-block__label {
  top: 0;
  transform: translateY(-50%);
  color: #B00020;
  font-size: 13px;
  letter-spacing: 0.43px;
  line-height: 1.23;
  left: 4px;
}
.nd-form-block__row_error .nd-form-block__input {
  border-color: #1B73E8;
  box-shadow: 0 0 1px 1px #1B73E8;
}
.nd-form-block__row_error .nd-form-block__hint {
  display: block;
}
.nd-form-block__btn_edit {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.002' height='16.002'%3E%3Cpath d='M12.981 0a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191L13.577.247A.839.839 0 0012.981 0zm-3.3 2.948L0 12.633V16h3.369l9.685-9.685z' fill='rgba(21,44,67,.32)'/%3E%3C/svg%3E") center no-repeat;
}
.nd-form-block__btn_eye {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.268' height='16.132'%3E%3Cpath d='M11.02.055c-8 0-11 8-11 8s3 8 11 8 11-8 11-8-3-8-11-8zm0 2c5.276 0 7.944 4.267 8.808 6-.865 1.717-3.553 6-8.808 6-5.276 0-7.944-4.267-8.808-6 .865-1.714 3.552-6 8.808-6zm0 2a4 4 0 104 4 4 4 0 00-4-4zm0 2a2 2 0 11-2 2 2 2 0 012-2z' fill='%2377779d' opacity='.297'/%3E%3C/svg%3E") center no-repeat;
}
.nd-form-block__input_with-icon ~ .nd-form-block__btn_edit {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
}
.nd-form-block__input_with-icon ~ .nd-form-block__btn_eye {
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -8px;
}
.nd-form-block__input:focus ~ .nd-form-block__btn_edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.002' height='16.002'%3E%3Cpath d='M12.981 0a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191L13.577.247A.839.839 0 0012.981 0zm-3.3 2.948L0 12.633V16h3.369l9.685-9.685z' fill='%233566B8'/%3E%3C/svg%3E");
}
.nd-form-block__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 1px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  z-index: 10;
  padding: 10px 0;
  display: none;
}
.nd-form-block__dropdown-list {
  max-height: 170px;
  overflow: auto;
}
.nd-form-block__dropdown-link {
  letter-spacing: 0.15px;
  color: rgba(21, 44, 67, 0.88);
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 25px 6px;
  display: block;
}
.nd-form-block__dropdown-link:hover {
  background: rgba(53, 102, 184, 0.32);
  text-decoration: none;
}
.nd-form-block__tooltip {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  z-index: 1;
  text-align: left;
  width: 300px;
  padding: 18px 16px 23px;
  border: 1px solid rgba(119, 119, 157, 0.3);
  display: none;
}
.nd-form-block__tooltip_left {
  top: 0;
  left: 100%;
  border-radius: 0 12px 12px 12px;
  margin-left: 27px;
}
.nd-form-block__tooltip_left::after {
  width: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.nd-form-block__tooltip_left::before {
  width: 0;
  content: "";
  position: absolute;
  top: -1px;
  right: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 0;
  border-color: transparent rgba(119, 119, 157, 0.3) transparent transparent;
}
.nd-form-block__tooltip-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 1.2;
  color: rgba(21, 44, 67, 0.56);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  margin-bottom: 10px;
}
.nd-form-block__tooltip-title::before {
  content: "?";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #3566b8;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-right: 6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding-top: 1px;
  top: -2px;
}
.nd-form-block__tooltip-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.22px;
  color: rgba(21, 44, 67, 0.6);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
}
.nd-form-block__tooltip-list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.22px;
  color: rgba(21, 44, 67, 0.88);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  padding-top: 14px;
}
.nd-form-block__tooltip-item {
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
}
.nd-form-block__tooltip-item::before {
  content: "";
  position: absolute;
  background: #3566B8;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 5px;
}
.nd-form-block ::-webkit-input-placeholder {
  color: rgba(21, 44, 67, 0.4);
}
.nd-form-block ::-moz-placeholder {
  color: rgba(21, 44, 67, 0.4);
}
.nd-form-block :-ms-input-placeholder {
  color: rgba(21, 44, 67, 0.4);
}
.nd-form-block :-moz-placeholder {
  color: rgba(21, 44, 67, 0.4);
}

@media (max-width: 1280px) {
  .nd-form-block__tooltip {
    left: 12px;
    margin-left: 0;
    margin-top: 8px;
    width: auto;
    right: 0;
    top: 100%;
  }
  .nd-form-block__tooltip_bottom-mobile {
    margin-top: 0;
    margin-bottom: 17px;
    top: inherit;
    bottom: 100%;
    border-radius: 12px 12px 12px 0;
  }
  .nd-form-block__tooltip_bottom-mobile::after {
    width: 0;
    content: "";
    position: absolute;
    top: inherit;
    bottom: 0;
    right: 100%;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #ffffff transparent;
  }
  .nd-form-block__tooltip_bottom-mobile::before {
    width: 0;
    content: "";
    position: absolute;
    top: inherit;
    bottom: -1px;
    right: 100%;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent rgba(119, 119, 157, 0.3) transparent;
  }
  .nd-form-block__tooltip_right-mobile {
    right: 100%;
    left: inherit;
    margin-top: 0;
    margin-right: 20px;
    width: 200px;
    border-radius: 12px 0 12px 12px;
  }
  .nd-form-block__tooltip_right-mobile::after {
    width: 0;
    content: "";
    position: absolute;
    top: inherit;
    top: 0;
    left: 100%;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
  }
  .nd-form-block__tooltip_right-mobile::before {
    width: 0;
    content: "";
    position: absolute;
    top: inherit;
    top: -1px;
    left: 100%;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: rgba(119, 119, 157, 0.3) transparent transparent transparent;
  }
  .nd-form-block__tooltip-title {
    font-size: 15px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .nd-form-block__label {
    margin-left: 15px;
  }
  .nd-form-block__input {
    padding-left: 17px;
  }
  .nd-form-block__textarea {
    padding-left: 17px;
    height: 200px;
  }
  .nd-form-block__textarea-text {
    font-size: 10px;
  }
  .nd-form-block__textarea-counter {
    font-size: 9px;
  }
  .nd-form-block__row_error-size .nd-form-block__textarea {
    height: 186px;
  }
  .nd-form-block__input:focus + .nd-form-block__label, .nd-form-block__textarea:focus + .nd-form-block__label {
    left: 0;
  }
  .nd-form-block__input:not(:placeholder-shown) + .nd-form-block__label, .nd-form-block__textarea:not(:placeholder-shown) + .nd-form-block__label, .nd-form-block__row_error .nd-form-block__input:focus + .nd-form-block__label, .nd-form-block__row_error .nd-form-block__label {
    left: 0;
  }
}
