.main-slide {
    padding: 160px 0 166px;
    margin-bottom: 96px;
    box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
    border-radius: 16px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__picture {
        width: 45%;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__column {
        width: 55%;
        padding: 0 10px 0 50px;
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0.64px;
        color: rgba(21, 44, 67, 1);
        line-height: 1.35;
        margin: 0 0 18px;
    }

    &__text {
        font-size: 21px;
        font-weight: 600;
        line-height: 1.6;
        color: rgba(95, 99, 104, 1);
        margin-bottom: 76px;
    }

    &__item {
        color: rgba(53, 102, 184, 1);
    }

    &__btn {
        border: 1px solid rgba(53, 102, 184, 1);
        border-radius: 80px;
        display: inline-block;
        vertical-align: middle;
        padding: 11px 23px;
        font-size: 21px;
        letter-spacing: 0.17px;
        color: rgba(53, 102, 184, 1);
        line-height: 1.53;
        overflow: hidden;
        position: relative;

        &-text {
            position: relative;
            display: block;
        }

        &:hover {
            color: #fff;
            text-decoration: none;
            background: rgba(53, 102, 184, 1);
        }
    }
}

@media (min-width: 1024px) {
    .main-slide {
        overflow: hidden;

        &__column {
            animation: fadeInLeft;
            animation-duration: 5s;
        }

        &__picture {
            animation: fadeInRight;
            animation-duration: 5s;
        }

        &__btn {
            border: 1px solid rgba(53, 102, 184, 1);
            border-radius: 80px;
            display: inline-block;
            vertical-align: middle;
            padding: 11px 23px;
            font-size: 21px;
            letter-spacing: 0.17px;
            color: rgba(53, 102, 184, 1);
            line-height: 1.53;
            overflow: hidden;
            position: relative;

            &-text {
                position: relative;
                display: block;
            }

            &::before{
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                left: 50%;
                top: 50%;
                margin: -10px 0 0 -10px;
                transition: all 0.7s ease;
                border-radius: 80px;
            }

            &::before {
                box-shadow: inset 0 0 0 80px #fff;
            }

            &:hover {
                color: #fff;
                text-decoration: none;
                background: none;
            }

            &:hover::before {
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                margin: 0;
                background: rgba(53, 102, 184, 1);
                box-shadow: inset 0 0 0 1px rgba(53, 102, 184, 1);
            }
        }
    }
}

@media (max-width: 768px) {
    .main-slide {
        flex-wrap: wrap;
        padding: 50px 20px 200px;
        margin: 0 -15px;
        border-radius: 0;
        box-shadow: none;

        &__column {
            width: 100%;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }

        &__picture {
            width: 100%;
        }

        &__img {
            margin: 0 auto;
        }

        &__title {
            font-size: 32px;
            line-height: 1.35;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 29px;
        }

        &__row {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 96px;
            text-align: center;
        }
    }
}
