.main-slide {
  margin-bottom: 96px;
  overflow: hidden;
}
.main-slide__box {
  padding: 160px 0 166px;
  -webkit-box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
          box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
  border-radius: 16px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-slide_start .main-slide__box {
  padding-top: 56px;
}
.main-slide__picture {
  width: 45%;
}
.main-slide__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.main-slide__column {
  width: 55%;
  padding: 0 10px 0 50px;
}
.main-slide__title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.64px;
  color: #152c43;
  line-height: 1.35;
  margin: 0 0 18px;
}
.main-slide__text {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.6;
  color: #5f6368;
  margin-bottom: 76px;
}
.main-slide__item {
  color: #3566b8;
}
.main-slide__btn {
  border: 1px solid #3566b8;
  border-radius: 80px;
  display: inline-block;
  vertical-align: middle;
  padding: 11px 23px;
  font-size: 21px;
  letter-spacing: 0.17px;
  color: #3566b8;
  line-height: 1.53;
  overflow: hidden;
  position: relative;
}
.main-slide__btn-text {
  position: relative;
  display: block;
}
.main-slide__btn:hover {
  color: #fff;
  text-decoration: none;
  background: #3566b8;
}
.main-slide__search {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 78px;
}
.main-slide .search-block {
  width: 400px;
  margin: 0 auto;
}
.main-slide__animation-box {
  position: relative;
}
.main-slide__animation-box-img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.main-slide__animation-box-ins {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-slide__animation-box-img-hide {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.main-slide__animation-box:hover .main-slide__animation-box-img {
  opacity: 0;
  visibility: hidden;
}
.main-slide__animation-box:hover .main-slide__animation-box-img-hide {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1024px) {
  .main-slide {
    overflow: hidden;
  }
  .main-slide__search {
    -webkit-animation: fadeInDown;
            animation: fadeInDown;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  .main-slide__title, .main-slide__text {
    -webkit-animation: fadeInLeft;
            animation: fadeInLeft;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  .main-slide__picture {
    -webkit-animation: fadeInRight;
            animation: fadeInRight;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  .main-slide__btn {
    border: 1px solid #3566b8;
    border-radius: 80px;
    display: inline-block;
    vertical-align: middle;
    padding: 11px 23px;
    font-size: 21px;
    letter-spacing: 0.17px;
    color: #3566b8;
    line-height: 1.53;
    overflow: hidden;
    position: relative;
    -webkit-animation: fadeInUp;
            animation: fadeInUp;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  .main-slide__btn-text {
    position: relative;
    display: block;
  }
  .main-slide__btn::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 80px;
  }
  .main-slide__btn::before {
    -webkit-box-shadow: inset 0 0 0 80px #fff;
            box-shadow: inset 0 0 0 80px #fff;
  }
  .main-slide__btn:hover {
    color: #fff;
    text-decoration: none;
    background: none;
  }
  .main-slide__btn:hover::before {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    background: #3566b8;
    -webkit-box-shadow: inset 0 0 0 1px #3566b8;
            box-shadow: inset 0 0 0 1px #3566b8;
  }
}
@media (max-width: 768px) {
  .main-slide__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 20px 200px;
    margin: 0 -15px;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-slide__column {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .main-slide__picture {
    width: 100%;
  }
  .main-slide__img {
    margin: 0 auto;
  }
  .main-slide__title {
    font-size: 32px;
    line-height: 1.35;
    margin-bottom: 20px;
  }
  .main-slide__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 29px;
  }
  .main-slide__row {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 96px;
    text-align: center;
  }
}
