.page-footer {
  position: relative;
  background: #283C4F;
  z-index: 9;
}
.page-footer__ins {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #526272;
  padding-bottom: 30px;
}
.page-footer__top {
  padding: 47px 0 0;
}
.page-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0 20px;
}
.page-footer__logo {
  margin-right: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  margin-bottom: 23px;
  display: inline-block;
  vertical-align: middle;
}
.page-footer__logo-img {
  width: 200px;
  height: auto;
  display: block;
}
.page-footer__title {
  font-size: 32px;
  letter-spacing: 0.77px;
  color: #84c6ff;
  text-transform: uppercase;
  line-height: 1.35;
  margin-bottom: 13px;
  font-weight: bold;
}
.page-footer__text {
  letter-spacing: 0.14px;
  color: white;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  font-size: 18px;
  line-height: 1.35;
  font-style: italic;
  margin-right: 70px;
  font-weight: 300;
}
.page-footer__btn {
  letter-spacing: 0.77px;
  color: #84c6ff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 32px;
  line-height: 1.35;
  text-transform: uppercase;
  display: block;
  border-radius: 2px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  white-space: nowrap;
  padding: 14px 10px;
  position: relative;
}
.page-footer__btn-text {
  position: relative;
  display: block;
}
.page-footer__btn::before {
  content: '';
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  height: 4px;
  border-radius: 2px;
  background: #fff;
}
.page-footer__btn:hover {
  color: #84c6ff;
  text-decoration: none;
  background: #fff;
}
.page-footer__copyright {
  letter-spacing: 0.11px;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  color: #fff;
}
.page-footer__column-left .page-footer__copyright {
  line-height: 1.5;
}
.page-footer__navi {
  text-align: center;
  margin: 0 0 31px;
  list-style-type: none;
}
.page-footer__navi-item {
  margin-bottom: 9px;
}
.page-footer__navi-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.19px;
  line-height: 1.375;
  color: #84c6ff;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  padding-bottom: 4px;
  display: block;
}
.page-footer__navi-link {
  letter-spacing: 0.17px;
  color: white;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  font-size: 21px;
  line-height: 1.4;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page-footer__navi-link::before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0;
  top: 50%;
  width: 7px;
  height: 12px;
  margin-top: -6px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='12'%3E%3Cpath d='M0 10.6L4.6 6 0 1.4 1.4 0l6 6-6 6z' fill='%23fff'/%3E%3C/svg%3E") no-repeat;
}
.page-footer__navi-link:hover {
  color: #84c6ff;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  text-decoration: none;
}
.page-footer__navi-link:hover::before {
  right: -3px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.4' height='12'%3E%3Cpath d='M0 10.6L4.6 6 0 1.4 1.4 0l6 6-6 6z' fill='%2384C6FF'/%3E%3C/svg%3E") center no-repeat;
}
.page-footer__social {
  padding-bottom: 15px;
  border-bottom: 3px solid #516172;
  margin-bottom: 14px;
}
.page-footer__social-title {
  letter-spacing: 0.19px;
  color: #84c6ff;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  font-size: 24px;
  line-height: 1.375;
  font-weight: 600;
  margin-bottom: 22px;
}
.page-footer__social-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__social-item {
  padding: 0 8px;
}
.page-footer__social-item:first-child {
  padding-left: 0;
}
.page-footer__social-item:last-child {
  padding-right: 0;
}
.page-footer__social-btn {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  position: relative;
  background: #4e6275;
}
.page-footer__social-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page-footer__social-btn:hover {
  background: #95a1ac;
}
.page-footer__social-btn_fb::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.611' height='19.998'%3E%3Cpath d='M9.917 11.142l.548-3.585H7.026V5.231a1.793 1.793 0 012.022-1.937h1.564V.243A19.043 19.043 0 007.835 0C5.002 0 3.15 1.716 3.15 4.825v2.732H0v3.585h3.15v8.662a11.426 11.426 0 002 .192 9.341 9.341 0 001.873-.111v-8.743z' fill='%23152c43'/%3E%3C/svg%3E") center no-repeat;
}
.page-footer__social-btn_tw::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.555' height='19.998'%3E%3Cpath d='M24.526 2.382a.121.121 0 00-.143-.033 9.823 9.823 0 01-2.3.7 5.1 5.1 0 001.8-2.523.122.122 0 00-.178-.142 9.846 9.846 0 01-3.063 1.182 5.114 5.114 0 00-8.694 4.551A14.09 14.09 0 011.909.958a.119.119 0 00-.1-.045.122.122 0 00-.1.06 5.114 5.114 0 001.232 6.566 4.884 4.884 0 01-1.783-.576.122.122 0 00-.181.1v.065a5.126 5.126 0 003.592 4.881 4.908 4.908 0 01-1.7-.025.122.122 0 00-.139.157 5.109 5.109 0 004.436 3.531 9.822 9.822 0 01-5.854 1.909 10.108 10.108 0 01-1.175-.069.124.124 0 00-.129.08.122.122 0 00.049.144 14.259 14.259 0 007.712 2.26A14.174 14.174 0 0022.081 5.687q0-.294-.012-.585a10.189 10.189 0 002.465-2.574.122.122 0 00-.008-.146z' fill='%23152c43'/%3E%3C/svg%3E") center no-repeat;
}
.page-footer__social-btn_vk::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.954' height='16.003'%3E%3Cpath d='M3.96 0H1.011C.168 0 0 .4 0 .834c0 .781 1 4.654 4.655 9.775 2.437 3.5 5.87 5.394 8.994 5.394 1.874 0 2.106-.421 2.106-1.146v-2.644c0-.842.178-1.01.771-1.01.437 0 1.187.219 2.937 1.905 2 2 2.329 2.9 3.454 2.9h2.949c.843 0 1.264-.421 1.021-1.252A12.655 12.655 0 0024.4 11.3c-.687-.812-1.718-1.686-2.031-2.124-.437-.562-.312-.812 0-1.312 0 0 3.593-5.059 3.968-6.777.187-.625 0-1.084-.892-1.084h-2.95a1.274 1.274 0 00-1.283.834 24.658 24.658 0 01-3.624 6.028c-.687.687-1 .906-1.375.906-.187 0-.459-.219-.459-.843v-5.84c0-.75-.218-1.084-.842-1.084h-4.634a.711.711 0 00-.75.678c0 .711 1.062.874 1.172 2.873v4.341c0 .952-.172 1.124-.547 1.124-1 0-3.431-3.67-4.874-7.87C5 .33 4.713 0 3.96 0z' fill='%23152c43' fill-rule='evenodd'/%3E%3C/svg%3E") center no-repeat;
}
.page-footer__social-btn_video::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.808' height='15.996'%3E%3Cpath d='M0 16l13.808-8L0 0z' fill='%23152c43'/%3E%3C/svg%3E") center no-repeat;
}
.page-footer__links {
  list-style-type: none;
  margin: 0 0 15px;
}
.page-footer__links-row {
  margin-bottom: 5px;
}
.page-footer__links-item {
  letter-spacing: 0.11px;
  color: white;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  font-size: 14px;
  line-height: 1.36;
  text-decoration: underline;
}
.page-footer__links-item:hover {
  opacity: 0.8;
}

@media (min-width: 1025px) {
  .page-footer__btn:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    background: none;
  }
  .page-footer__btn:hover::before {
    height: 100%;
    width: 100%;
    background: #fff;
  }
}
@media (max-width: 767px) {
  .page-footer__title {
    text-align: center;
  }
  .page-footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom-width: 1px;
  }
  .page-footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 36px;
  }
  .page-footer__btn {
    padding: 17px 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-footer__text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 38px;
  }
  .page-footer__column-left, .page-footer__column-center, .page-footer__column-right {
    width: 100%;
  }
  .page-footer__column-left {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .page-footer__column-center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .page-footer__column-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .page-footer__column-center .page-footer__copyright {
    display: none;
  }
  .page-footer__copyright {
    text-align: center;
  }
  .page-footer__social {
    padding-bottom: 0;
    border: none;
  }
  .page-footer__social-title {
    text-align: center;
  }
  .page-footer__social-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #7a8795;
  }
  .page-footer__social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-footer__logo {
    margin: 0 auto 20px;
    width: 166px;
    display: block;
  }
  .page-footer__logo-img {
    width: 100%;
    height: auto;
  }
  .page-footer__links {
    text-align: center;
    margin-bottom: 30px;
  }
  .page-footer__navi {
    margin-bottom: 52px;
  }
}
@media (max-width: 374px) {
  .page-footer__btn {
    font-size: 26px;
  }
}
