.partners {
  margin-bottom: 68px;
}
.partners__title {
  letter-spacing: 0.64px;
  color: #152C43;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.35;
  text-align: center;
  margin: 0 0 27px;
}
.partners__text {
  text-align: center;
  letter-spacing: 0.14px;
  color: #152C43;
  font-size: 18px;
  line-height: 1.45;
  max-width: 750px;
  margin: 0 auto 53px;
}
.partners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.partners__column {
  max-width: 33.3%;
  width: 100%;
  padding: 0 12px 25px;
}
.partners__box {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
          box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
  border-radius: 16px;
  height: 100%;
  padding: 30px 33px 20px;
}
.partners__icon {
  height: 80px;
  margin-bottom: 30px;
}
.partners__subtitle {
  letter-spacing: 0.17px;
  color: #5f6368;
  font-size: 21px;
  line-height: 1.53;
  margin-bottom: 11px;
}
.partners__descr {
  font-size: 26px;
  letter-spacing: 0.21px;
  font-weight: bold;
  line-height: 1.31;
}
.partners__btn {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.17px;
  line-height: 1.53;
  border-radius: 80px;
  display: inline-block;
  vertical-align: middle;
  padding: 11px 25px;
  border: 1px solid #3566b8;
  background: #3566b8;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.partners__btn-text {
  position: relative;
  display: block;
}
.partners__btn:hover {
  color: #3566b8;
  text-decoration: none;
  background: #fff;
}
.partners__greeting {
  letter-spacing: 0.64px;
  color: #152c43;
  font-size: 40px;
  line-height: 1.35;
  font-weight: 600;
  margin-bottom: 30px;
  padding-top: 40px;
}
.partners__box_blue .partners__word {
  color: #3566b8;
}
.partners__box_blue .partners__icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85.621' height='80.001'%3E%3Cpath d='M5.62 0A5.627 5.627 0 000 5.62v56.2a5.627 5.627 0 005.62 5.62h36.093a22.341 22.341 0 01-2.184-3.747H5.62a1.875 1.875 0 01-1.873-1.873V14.986H74.93V37.6a22.553 22.553 0 013.746 4.3V5.62A5.627 5.627 0 0073.057 0zm0 3.747h67.437A1.875 1.875 0 0174.93 5.62v5.62H3.747V5.62A1.875 1.875 0 015.62 3.747zM7.493 5.62a1.873 1.873 0 101.873 1.873A1.873 1.873 0 007.493 5.62zm5.62 0a1.873 1.873 0 101.873 1.873 1.873 1.873 0 00-1.873-1.873zm5.62 0a1.873 1.873 0 101.873 1.873 1.873 1.873 0 00-1.873-1.873zm41.211 29.972a18.733 18.733 0 1011.843 33.224L82.972 80l2.649-2.649-11.185-11.184a18.713 18.713 0 00-14.492-30.575zm0 3.747a14.986 14.986 0 11-14.986 14.985 14.958 14.958 0 0114.986-14.986z' fill='%233566b8'/%3E%3C/svg%3E") no-repeat;
}
.partners__box_turquoise .partners__word {
  color: #35b8a4;
}
.partners__box_turquoise .partners__icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80.005' height='80.005'%3E%3Cpath d='M27.828 0C14.53 0 8.7 8.867 8.7 15.911a13.953 13.953 0 006.627 11.883 23.323 23.323 0 0012.5 3.512 24.139 24.139 0 005.5-.659c3.968 4.186 10.117 5.877 15.375 5.877a22.882 22.882 0 0012.525-3.645 14.34 14.34 0 001.311-23.2C59.166 6.867 54.4 5.218 48.7 5.218a26.222 26.222 0 00-5.629.588 15.364 15.364 0 00-1.406-1.349C38.3 1.649 33.532 0 27.828 0zm0 3.478c5.035 0 8.968 1.449 11.611 3.652a12.211 12.211 0 011.294 1.27 1.739 1.739 0 00.656.808 10.569 10.569 0 012.089 6.376 10.514 10.514 0 01-5.068 9.189 19.8 19.8 0 01-10.585 3.054 20.266 20.266 0 01-10.605-2.945 10.147 10.147 0 01-5.048-8.971c.003-5.211 3.843-12.433 15.656-12.433zM48.7 8.7c5.035 0 8.968 1.449 11.611 3.652a10.753 10.753 0 014.041 8.448 10.514 10.514 0 01-5.068 9.189 19.928 19.928 0 01-22.114-.608 19.926 19.926 0 003.183-1.722 14.31 14.31 0 006.607-12.076 14.164 14.164 0 00-1.668-6.651A24.1 24.1 0 0148.7 8.7zM6.087 27.828C2.934 27.828 0 29.949 0 33.045s2.934 5.218 6.087 5.218 6.087-2.122 6.087-5.218-2.933-5.217-6.087-5.217zm67.83 0c-3.153 0-6.087 2.122-6.087 5.218s2.934 5.218 6.087 5.218S80 36.142 80 33.045s-2.929-5.217-6.082-5.217zm-67.83 3.478c1.649 0 2.609.993 2.609 1.739s-.959 1.739-2.609 1.739-2.609-.993-2.609-1.739.96-1.739 2.609-1.739zm67.83 0c1.649 0 2.609.993 2.609 1.739s-.959 1.739-2.609 1.739-2.609-.993-2.609-1.739.96-1.739 2.61-1.739zm-52.992 6.957c-3.767 0-6.82.943-8.968 2.741a9.322 9.322 0 00-3.257 7.26 13.667 13.667 0 00.482 3.156c.106.436.13.482.214.781a4.808 4.808 0 00-.7 2.585 4.622 4.622 0 001.162 3.349c.354.354.736.294 1.135.448a11.666 11.666 0 00.87 2.629 9.852 9.852 0 00.9 1.41c.073.094.21.166.282.255v2.7a3.658 3.658 0 01-1.77 1.569c-1.1.585-2.616 1.142-4.192 1.872a14.212 14.212 0 00-4.6 3.1A9.587 9.587 0 000 78.16 1.739 1.739 0 001.739 80h76.527A1.739 1.739 0 0080 78.16a9.047 9.047 0 00-2.84-6.128 16.276 16.276 0 00-5.187-3.05c-1.786-.721-3.519-1.283-4.786-1.879a3.883 3.883 0 01-1.967-1.539v-2.69c.072-.089.209-.16.282-.255a9.831 9.831 0 00.9-1.406 11.7 11.7 0 00.873-2.629c.4-.154.781-.094 1.135-.448a4.622 4.622 0 001.162-3.349 4.808 4.808 0 00-.7-2.585c.084-.3.108-.345.214-.781a13.666 13.666 0 00.482-3.156 9.027 9.027 0 00-1.7-5.449 7.211 7.211 0 00-4.763-2.551l-.683-1.148a1.739 1.739 0 00-1.495-.853c-3.767 0-6.82.943-8.968 2.741a9.322 9.322 0 00-3.259 7.259 13.666 13.666 0 00.482 3.156c.106.436.13.482.214.781a4.808 4.808 0 00-.7 2.585 4.622 4.622 0 001.162 3.349c.354.354.736.294 1.135.448a11.666 11.666 0 00.87 2.629 9.852 9.852 0 00.9 1.41c.073.094.21.166.282.255v2.7a3.658 3.658 0 01-1.77 1.569c-1.1.585-2.616 1.142-4.192 1.872a14.212 14.212 0 00-4.6 3.1A9.587 9.587 0 0040 78.161v0a9.047 9.047 0 00-2.84-6.128 16.276 16.276 0 00-5.187-3.05c-1.786-.721-3.519-1.283-4.786-1.879a3.883 3.883 0 01-1.967-1.539v-2.69c.072-.089.209-.16.282-.255a9.831 9.831 0 00.9-1.406 11.7 11.7 0 00.873-2.629c.4-.154.781-.094 1.135-.448a4.622 4.622 0 001.162-3.349 4.808 4.808 0 00-.7-2.585c.084-.3.108-.345.214-.781a13.666 13.666 0 00.482-3.156 9.027 9.027 0 00-1.7-5.449 7.211 7.211 0 00-4.768-2.553l-.683-1.148a1.739 1.739 0 00-1.495-.853zM2.609 41.742a2.609 2.609 0 102.609 2.609 2.609 2.609 0 00-2.609-2.609zm74.787 0A2.609 2.609 0 1080 44.351a2.609 2.609 0 00-2.6-2.609zm-57.388.122l.455.764a1.739 1.739 0 001.495.853 3.482 3.482 0 013.125 1.427 5.8 5.8 0 011.005 3.356A13.689 13.689 0 0125.7 50.6c-.2.842-.4 1.5-.4 1.5a1.739 1.739 0 00.652 1.926 1.284 1.284 0 01.139.761c0 .8-.172.919-.143.89s.07-.02-.075-.02a1.739 1.739 0 00-1.731 1.543 7.51 7.51 0 01-.812 2.371 6.7 6.7 0 01-.577.91c-.163.21-.362.293-.068.143a1.739 1.739 0 00-.944 1.549v3.913a1.739 1.739 0 00.115.618 6.825 6.825 0 003.844 3.548c1.583.743 3.337 1.3 4.963 1.953a13.431 13.431 0 014.11 2.364 5.324 5.324 0 011.3 1.957H4.216a6.791 6.791 0 01.819-2.042 11.139 11.139 0 013.509-2.313c1.4-.649 2.94-1.2 4.362-1.957a6.906 6.906 0 003.5-3.506 1.739 1.739 0 00.115-.618v-3.912a1.739 1.739 0 00-.948-1.549c.293.15.1.067-.068-.143a6.721 6.721 0 01-.574-.91 7.5 7.5 0 01-.812-2.371 1.739 1.739 0 00-1.729-1.549c-.145 0-.1-.009-.075.02s-.143-.093-.143-.89a1.284 1.284 0 01.139-.761 1.739 1.739 0 00.652-1.926s-.2-.659-.4-1.5a13.689 13.689 0 01-.387-2.334 5.605 5.605 0 012.014-4.589 10.054 10.054 0 015.818-1.812zm40 0l.455.764a1.739 1.739 0 001.495.853 3.481 3.481 0 013.125 1.427 5.8 5.8 0 011.006 3.356A13.69 13.69 0 0165.7 50.6c-.2.842-.4 1.5-.4 1.5a1.739 1.739 0 00.652 1.926 1.284 1.284 0 01.139.761c0 .8-.172.919-.143.89s.07-.02-.075-.02a1.739 1.739 0 00-1.728 1.543 7.51 7.51 0 01-.812 2.371 6.7 6.7 0 01-.577.91c-.163.21-.362.293-.068.143a1.739 1.739 0 00-.944 1.549v3.913a1.739 1.739 0 00.115.618 6.825 6.825 0 003.849 3.543c1.583.743 3.337 1.3 4.963 1.953a13.431 13.431 0 014.11 2.364 5.324 5.324 0 011.3 1.957H44.218a6.791 6.791 0 01.819-2.042 11.139 11.139 0 013.509-2.313c1.4-.649 2.94-1.2 4.362-1.957a6.906 6.906 0 003.5-3.506 1.739 1.739 0 00.115-.618v-3.907a1.74 1.74 0 00-.948-1.549c.293.15.1.067-.068-.143a6.721 6.721 0 01-.574-.91 7.5 7.5 0 01-.812-2.371 1.739 1.739 0 00-1.729-1.549c-.145 0-.1-.009-.075.02s-.143-.093-.143-.89a1.284 1.284 0 01.139-.761 1.739 1.739 0 00.652-1.926s-.2-.659-.4-1.5a13.688 13.688 0 01-.387-2.334 5.605 5.605 0 012.014-4.589 10.054 10.054 0 015.818-1.812z' fill='%2335b8a4'/%3E%3C/svg%3E") no-repeat;
}
.partners__box_green .partners__word {
  color: #35b84e;
}
.partners__box_green .partners__icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81.611' height='80.001'%3E%3Cpath d='M51.974.018a1.625 1.625 0 00-1.02.612l-4.897 6.121a4.953 4.953 0 01-3.16 1.786l-.459.1a16.338 16.338 0 00-12.854 10.1l-1.02 2.5h-2.095a11.5 11.5 0 00-9.539 5.1l-6.682 10.051-9.539 6.323a1.635 1.635 0 00-.663 1.734l6.529 29.384a1.636 1.636 0 001.582 1.275h8.417a6.432 6.432 0 0011.171 2.6 6.371 6.371 0 009.794 0 6.371 6.371 0 009.794 0 6.432 6.432 0 0011.171-2.6h7.6a7.412 7.412 0 007.345-6.733 7.259 7.259 0 00-2.091-5.713 7.27 7.27 0 001.632-11.426 7.351 7.351 0 003.673-5.56 7.277 7.277 0 00-2.04-5.866 7.26 7.26 0 003.673-5.56 7.375 7.375 0 00-4.03-7.294l7.09-11.375a1.66 1.66 0 00.2-1.32 1.628 1.628 0 00-.861-1.027L52.943.171a1.64 1.64 0 00-.969-.153zm.714 3.673l24.944 11.732-6.735 10.712H41.823a1.628 1.628 0 00-1.53 1.02l-5.56 13.926a4.9 4.9 0 01-9.08-3.673l6.988-17.5a13.01 13.01 0 0110.256-8.056l.459-.051a8.285 8.285 0 005.254-3.01zM26.469 24.503h.816l-4.688 11.732a8.151 8.151 0 1015.15 6.019l5.15-12.854h28.1a4.054 4.054 0 014.081 4.489 4.1 4.1 0 01-4.081 3.672h-2.6a1.7 1.7 0 00-.306.051 1.434 1.434 0 00-.153.051 1.609 1.609 0 00-.561.306v.051a1.542 1.542 0 00-.2.2v.051a.771.771 0 00-.1.1v.051a1.637 1.637 0 00-.153 1.224l.051.051v.1l.051.051a2.029 2.029 0 00.1.2l.051.051a.76.76 0 00.051.1l.051.051a1.678 1.678 0 00.408.357.761.761 0 00.1.051l.051.051h.1l.051.051h.153a1.7 1.7 0 00.306.051h.918a4.081 4.081 0 010 8.162h-2.6a1.7 1.7 0 00-.306.051 1.435 1.435 0 00-.153.051 1.609 1.609 0 00-.561.306v.051a1.542 1.542 0 00-.2.2v.051a.771.771 0 00-.1.1v.051a1.637 1.637 0 00-.153 1.224l.051.051v.1l.051.051a2.027 2.027 0 00.1.2l.051.051a.76.76 0 00.051.1l.051.051a1.678 1.678 0 00.408.357.761.761 0 00.1.051l.051.051h.1l.051.051h.153a1.7 1.7 0 00.306.051h.918a4.081 4.081 0 010 8.162h-3.06a1.634 1.634 0 00.153 3.265h1.275a4.081 4.081 0 110 8.162h-7.345v-1.601a6.479 6.479 0 00-11.426-4.234 6.371 6.371 0 00-9.794 0 6.371 6.371 0 00-9.794 0 6.479 6.479 0 00-11.426 4.234v1.632H9.432L3.464 44.856l8.876-5.917a1.575 1.575 0 00.459-.459l6.886-10.355a8.136 8.136 0 016.784-3.622zm-3.622 42.44a3.239 3.239 0 013.265 3.268v3.265a3.272 3.272 0 01-6.529.306 1.659 1.659 0 000-.663v-2.908a3.239 3.239 0 013.264-3.268zm9.794 0a3.239 3.239 0 013.265 3.268v3.265a3.265 3.265 0 01-6.529 0v-3.265a3.239 3.239 0 013.264-3.268zm9.794 0a3.239 3.239 0 013.262 3.268v3.265a3.265 3.265 0 01-6.529 0v-3.265a3.239 3.239 0 013.267-3.268zm9.794 0a3.239 3.239 0 013.268 3.268v3.265a1.671 1.671 0 000 .357 3.275 3.275 0 01-6.529-.357v-3.265a3.239 3.239 0 013.261-3.268z' fill='%2335b84e'/%3E%3C/svg%3E") no-repeat;
}
.partners__box_purple .partners__word {
  color: #6235b8;
}
.partners__box_purple .partners__icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='76.112' height='80.001'%3E%3Cpath d='M41.861 0C32.429 0 25.591 3.7 22 9.157c-3.374 5.129-3.7 11.647-1.427 17.66a5.933 5.933 0 00-1.368 4.519v.119a10.649 10.649 0 001.9 5.114c.431.565 1.07.58 1.605.892a19.986 19.986 0 001.79 5.828 17.875 17.875 0 001.487 2.5 9.478 9.478 0 00.773.773c-.022 1.628-.119 3.092-.238 4.638h-.059a1.848 1.848 0 00-.951.238 23.517 23.517 0 00-5.889 5.762C7.856 59.923 0 69.37 0 78.015a1.906 1.906 0 001.9 1.9h31.7a1.95 1.95 0 001.13 0h6.77a1.95 1.95 0 001.13 0h31.579a1.906 1.906 0 001.9-1.9c0-10.421-9.4-18.82-19.8-20.633a26.956 26.956 0 00-5.352-5.352.9.9 0 00-.119-.119c-.1-.067-.2-.111-.3-.178a1.914 1.914 0 00-1.189-.416 83.603 83.603 0 01-.178-4.7c.208-.253.513-.424.714-.714a18.881 18.881 0 001.487-2.557 23.721 23.721 0 001.843-5.589c.609-.312 1.308-.334 1.784-.951a10 10 0 001.665-5.233 7.858 7.858 0 00-.416-3.687 5.34 5.34 0 00-.595-.951 14.322 14.322 0 001.189-4.579 22.578 22.578 0 00-.535-7.908 15.461 15.461 0 00-4.043-7.314 11.916 11.916 0 00-7.195-3.092L43.586 1.07A1.89 1.89 0 0041.861 0zm-1.13 3.925l1.308 2.616a1.89 1.89 0 001.724 1.07 7.959 7.959 0 015.887 2.26 11.825 11.825 0 012.973 5.53 19.029 19.029 0 01.476 6.541 9.738 9.738 0 01-1.308 4.281 1.906 1.906 0 00.892 2.973c-.007.015-.037.037 0 .119a4.275 4.275 0 01.238 1.9 6.621 6.621 0 01-.951 3.27c-.32.416-.483.357-.416.357a1.9 1.9 0 00-1.844 1.608 19.831 19.831 0 01-1.784 5.233A16.174 16.174 0 0146.8 43.7c-.349.505-.721.818-.535.714a1.917 1.917 0 00-.951 1.605c0 2.587.186 4.229.357 6.9v.357a1.236 1.236 0 01-.119.595 2.723 2.723 0 01-.535.654 8.244 8.244 0 01-2.141 1.368 18.022 18.022 0 01-2.081.832c-.1.03-.208.089-.3.119-.372.111-.773.208-.892.238H36.51a19.1 19.1 0 01-3.27-1.189 8.244 8.244 0 01-2.14-1.366 1.726 1.726 0 01-.654-1.249 1.96 1.96 0 00-.119-.773c.164-2.46.3-4.006.3-6.66a1.9 1.9 0 00-.951-1.665c.141.082-.23-.164-.595-.654a13.557 13.557 0 01-1.189-1.962 15.97 15.97 0 01-1.665-5.233 1.9 1.9 0 00-1.727-1.724c.067.015.022 0-.119 0a1.084 1.084 0 01-.3-.3 7.741 7.741 0 01-1.07-3.27v-.057c-.007-.03.007-.03 0-.059a3.5 3.5 0 01.714-2.141 1.9 1.9 0 00.654-2.319 15.827 15.827 0 01.832-15.222C27.9 7.15 32.979 4.214 40.732 3.925zM25.212 56.43c.216.892.468 1.814.773 2.914.706 2.557 1.628 5.523 2.557 8.384 1.152 3.531 2.141 6.34 2.854 8.384h-5.768l-5.768-7.255 3.687-2.616a1.906 1.906 0 00.773-2.022l-1.368-5.173a18.68 18.68 0 012.26-2.616zm25.569.476a30.608 30.608 0 012.319 2.556l-1.308 4.757a1.906 1.906 0 00.773 2.022l3.687 2.616-5.768 7.254h-5.768c.714-2.044 1.7-4.854 2.854-8.384.929-2.862 1.851-5.827 2.557-8.384.252-.921.461-1.665.654-2.438zm-21.228 1.248a13.424 13.424 0 002.081 1.189 21.016 21.016 0 002.795 1.07l1.724 4.287-2.141 7.373a401.818 401.818 0 01-1.843-5.53c-.922-2.824-1.873-5.746-2.557-8.206a1.672 1.672 0 01-.059-.183zm17.006 0a1.672 1.672 0 01-.059.178c-.684 2.46-1.635 5.381-2.557 8.206a401.818 401.818 0 01-1.843 5.53L39.959 64.7l1.724-4.281a21.016 21.016 0 002.795-1.07c.349-.164.721-.334 1.07-.535.2-.111.394-.23.595-.357.141-.095.275-.206.416-.303zM19.5 61.008l.773 2.914L16 66.955a1.884 1.884 0 00-.766 1.293 1.914 1.914 0 00.409 1.442l5.114 6.422H4.222C5.27 70.329 10.8 63.387 19.5 61.008zm37.045.178C64.19 62.881 70.73 69.1 71.83 76.112H55.359l5.114-6.422a1.877 1.877 0 00.416-.832 1.272 1.272 0 000-.238 1.9 1.9 0 00-.773-1.665l-4.281-3.033z' fill='%236235b8'/%3E%3C/svg%3E") no-repeat;
}
.partners__box_pink .partners__word {
  color: #b835ae;
}
.partners__box_pink .partners__icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81.596' height='80.001'%3E%3Cpath d='M42.758 0a12.979 12.979 0 00-12.952 12.954c0 3 1.518 5.933 3.593 8.8a57.039 57.039 0 007.438 8.147 109.621 109.621 0 0010.728 8.653l.911.658.911-.658a107.667 107.667 0 0010.728-8.653 57.38 57.38 0 007.438-8.147c2.075-2.865 3.593-5.813 3.593-8.8A12.979 12.979 0 0062.189 0a12.778 12.778 0 00-9.715 4.6A12.778 12.778 0 0042.758 0zm0 3.238A9.747 9.747 0 0151.106 8l1.366 2.277L53.84 8a9.712 9.712 0 0118.066 4.954c0 1.809-1.113 4.288-2.985 6.882a55.008 55.008 0 01-7.034 7.691 90.378 90.378 0 01-9.412 7.641 92.288 92.288 0 01-9.412-7.641 54.354 54.354 0 01-7.034-7.641c-1.872-2.593-2.985-5.1-2.985-6.932a9.694 9.694 0 019.714-9.716zm32.385 37.294a6.759 6.759 0 00-4.3 1.973L55.006 58.293H40.228l-.658-.658 9.462-1.872a6.2 6.2 0 004.959-4.858 6.107 6.107 0 00-5.971-7.185H25.452a14.6 14.6 0 00-10.322 4.25L1.113 61.987 0 63.151l1.113 1.164 14.573 14.573L16.85 80l1.164-1.113 5.516-5.566a1.528 1.528 0 011.113-.455h30.006a8.093 8.093 0 005.718-2.378l19.431-19.431a6.242 6.242 0 00-.253-9.007 5.949 5.949 0 00-4.402-1.518zm.152 3.238a2.865 2.865 0 012.125.708 2.933 2.933 0 01.1 4.3L58.09 68.211a4.863 4.863 0 01-3.441 1.417H24.643a4.746 4.746 0 00-3.39 1.417l-4.4 4.352L4.606 63.151 17.457 50.3a11.312 11.312 0 018-3.34h22.564a2.805 2.805 0 012.783 3.39 2.99 2.99 0 01-2.429 2.226l-12.4 2.53-2.985.557 2.125 2.176 3.238 3.238.506.455H56.37l.506-.455 16.243-16.295a3.537 3.537 0 012.176-1.012z' fill='%23b835ae'/%3E%3C/svg%3E") no-repeat;
}

@media (min-width: 1024px) {
  .partners__btn::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 80px;
    -webkit-box-shadow: inset 0 0 0 80px #3566b8;
            box-shadow: inset 0 0 0 80px #3566b8;
  }
  .partners__btn:hover {
    color: #3566b8;
    text-decoration: none;
    background: none;
  }
  .partners__btn:hover::before {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    background: #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
            box-shadow: inset 0 0 0 1px #fff;
  }
}
@media (max-width: 992px) {
  .partners__column {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .partners {
    margin-bottom: 40px;
  }
  .partners__title {
    font-size: 32px;
    line-height: 1.35;
    margin-bottom: 13px;
  }
  .partners__text {
    font-size: 14px;
    line-height: 1.45;
    margin-bottom: 29px;
  }
  .partners__box {
    padding: 25px 25px 23px;
  }
  .partners__icon {
    height: 64px;
    background-size: contain !important;
    margin-bottom: 22px;
  }
  .partners__subtitle {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 9px;
  }
  .partners__column {
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 15px;
  }
  .partners__column_last {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .partners__greeting {
    font-size: 32px;
    line-height: 1.35;
    margin-bottom: 45px;
    padding-top: 29px;
  }
  .partners__btn {
    margin-bottom: 32px;
  }
}
