.steps-form {
    padding-bottom: 50px;

    &__title {
        font-size: 22px;
        letter-spacing: 0.18px;
        color: #152C43;
        font-weight: 600;
        margin: 0;
        text-align: center;
        margin-bottom: 26px;
        text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
    }

    &__text &__title {
        margin-bottom: 0;
    }

    &__section {
        margin-bottom: 57px;
    }

    &__subtext {
        letter-spacing: 0.14px;
        color: #152C43;
        text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
        font-size: 17px;
        line-height: 1.235;
        text-align: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_center {
            justify-content: center;
        }

        &_questions {
            margin-bottom: 68px;
        }
    }

    &__text {
        margin: 0 0 20px;
    }

    &__form-row {
        display: flex;
        max-width: 770px;
        margin: 0 auto;
        justify-content: space-between;

        .form-block__row {
            flex: 0 0 48%;
            max-width: 48%;
            margin-bottom: 8px;
        }
    }

    &__btn {
        display: block;
        transition: all .2s ease-in-out;
        color: #fff;
        width: 80px;
        height: 80px;
        font-size: 21px;
        background: #3566b8;
        box-shadow: 0 3px 6px rgba(64, 64, 64, 0.16);
        border-radius: 50%;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.17px;
        line-height: 80px;
        text-transform: uppercase;
        margin: 0 20px;

        &:hover {
            transform: scale(1.1);
            text-decoration: none;
            font-size: 24px;
        }

        &_active {
            opacity: 0.5;
            font-size: 24px;
            height: 88px;
            width: 88px;
            line-height: 88px;

            &:hover {
                transform: scale(1);
            }
        }
    }

    &__prev,
    &__next {
        font-size: 14px;
        letter-spacing: 0.22px;
        padding: 11px 16px 12px;
        display: block;
        line-height: 1.35;
        transition: all 0.2s ease;

        &:hover {
            text-decoration: none;
        }
    }

    &__prev {
        color: rgba(53, 102, 184, 1);
        text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
        padding-left: 0;
        padding-right: 0;

        &:hover {
            opacity: 0.4;
        }
    }

    &__next {
        color: #fff;
        background: #3566B8;
        border-radius: 4px;
        padding-right: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            position: absolute;
            right: 18px;
            width: 14px;
            top: 50%;
            height: 14px;
            margin-top: -7px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.001' height='13.001'%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='18.001' height='13.001' filterUnits='userSpaceOnUse'%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.5' result='b'/%3E%3CfeFlood flood-color='%23404040' flood-opacity='.161'/%3E%3CfeComposite operator='in' in2='b'/%3E%3CfeComposite in='SourceGraphic'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M1.5 4.667h11.809l-2.983-2.992L11.5.5l5 5-5 5-1.175-1.175 2.984-2.992H1.5z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") right center no-repeat;
            transition: all 0.2s ease;
        }

        &:hover {
            &::before {
                width: 17px;
                right: 15px;
            }
        }
    }

    // step-0
    &_step-0 {
        padding-top: 32px;

        .upload-block,
        .form-block__row {
            max-width: 576px;
            margin-left: auto;
            margin-right: auto;
        }

        .upload-block {
            padding-bottom: 15px;
        }
    }

    &_step-0 &__buttons:last-child {
        max-width: 542px;
        margin: 0 auto;
    }

    // step-2


    &_step-2 {
        padding-top: 70px;

        .form-block__row {
            max-width: 576px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_step-2 &__text {
        margin-bottom: 50px;
    }

    &_step-2 &__title {
        margin-bottom: 8px;
    }

    &_step-2 &__buttons:last-child {
        max-width: 542px;
        margin: 48px auto 0;
    }

    &_step-2 &__buttons + &__buttons {
        margin-top: 180px;
    }

    &_step-2 &__title + .form-block__row {
        margin-top: 24px;
    }

    // step-3
    &_step-3 {
        padding-top: 111px;

        .form-block__row {
            max-width: 364px;
            margin-left: auto;
            margin-right: auto;
        }

        .check-item {
            max-width: 510px;
            margin: 0 auto 65px;
            text-align: center;
        }
    }

    &_step-3 &__text {
        text-align: center;
    }

    &_step-3 &__title {
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: middle;
        padding: 0 30px;
        position: relative;

        .hint-block {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -12px;
        }
    }
}

@media (max-width: 767px) {
    .steps-form {
        &__title {
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 24px;
        }

        &__section {
            margin-bottom: 18px;
        }

        &__subtext {
            font-size: 14px;
            line-height: 1.21;
        }

        &__form-row {
            flex-wrap: wrap;

            .form-block__row {
                max-width: 100%;
                flex: 0 0 100%;
                margin-bottom: 0;
            }
        }

        &__btn {
            width: 64px;
            height: 64px;
            line-height: 64px;
            font-size: 21px;
            margin: 0 24px;

            &:hover {
                transform: scale(1);
                text-decoration: none;
                font-size: 21px;
            }
        }

        &__buttons {
            &:last-child {
                padding-left: 40px;
                padding-right: 40px;
            }

            &_questions {
                margin-bottom: 63px;
            }
        }

        &_step-0 {
            .upload-block {
                padding-bottom: 25px;
            }
        }

        &_step-0 &__buttons:last-child {
            padding-top: 63px;
        }

        &_step-2 {
            padding-top: 30px;
        }

        &_step-2 &__text {
            margin-bottom: 58px;
        }

        &_step-2 &__buttons + &__buttons {
            margin-top: 160px;
        }

        &_step-3 {
            padding-top: 29px;
        }

        &_step-3 &__buttons:last-child {
            padding: 0;
        }
    }
}
