.nd-company {
  display: flex;
  max-width: 700px;
  margin: 0 auto 43px;
  padding: 58px 0 0;
}
.nd-company__avatar {
  border-radius: 8px;
  background: #fff;
  width: 179px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-items: center;
  height: 152px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.nd-company__column {
  margin-left: 40px;
}
.nd-company__btn-edit {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M20.98 7.999a.838.838 0 00-.6.247l-1.433 1.437 3.369 3.369 1.438-1.438a.841.841 0 000-1.191l-2.178-2.177a.839.839 0 00-.596-.247zm-3.3 2.948l-9.681 9.685v3.367h3.369l9.685-9.685z' fill='%233566b8'/%3E%3Cg stroke='%233566b8' fill='none'%3E%3Ccircle cx='16' cy='16' r='16' stroke='none'/%3E%3Ccircle cx='16' cy='16' r='15.5'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.nd-company__title {
  font-size: 32px;
  letter-spacing: 0.51px;
  color: #152C43;
  line-height: 1.22;
  font-weight: bold;
  margin-bottom: 25px;
}
.nd-company__data {
  letter-spacing: 0.24px;
  color: #152C43;
  font-size: 15px;
  line-height: 1.2;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
}
.nd-company__data::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
}
.nd-company__data_local::before {
  width: 12px;
  height: 18px;
  margin-top: -9px;
  left: 3px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.997' height='17.996'%3E%3Cpath d='M6 0a6.006 6.006 0 00-6 6c0 5.291 5.485 11.6 5.717 11.868A.372.372 0 006 18a.386.386 0 00.281-.129C6.513 17.6 12 11.177 12 6a6.006 6.006 0 00-6-6zm0 4.124a2.249 2.249 0 11-2.249 2.249A2.25 2.25 0 016 4.124z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;
}
.nd-company__data_phone::before {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.997' height='17.999'%3E%3Cpath d='M14.737 18.002h-.019c-3.074-.1-6.676-3.081-9.157-5.564S.097 6.349-.003 3.289c-.035-1.074 2.6-2.983 2.627-3a1.268 1.268 0 011.754.125c.219.288 2.212 3.316 2.429 3.66a1.441 1.441 0 01-.089 1.419c-.155.3-.67 1.2-.911 1.622a21.5 21.5 0 002.371 2.7 21.535 21.535 0 002.7 2.373 86.54 86.54 0 011.622-.911 1.448 1.448 0 011.411-.093c.368.225 3.386 2.232 3.664 2.426a1.049 1.049 0 01.414.773 1.514 1.514 0 01-.286.986c-.014.027-1.906 2.633-2.966 2.633z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;
}
.nd-company__data_site::before {
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.998' height='17.998'%3E%3Cpath d='M8.999 0a9 9 0 109 9 9 9 0 00-9-9zm0 .783A8.216 8.216 0 11.783 9 8.21 8.21 0 018.999.783zm-.391.834c-1.014.25-1.912 1.451-2.488 3.158a14.278 14.278 0 002.483.278zm.783 0v3.436a14.412 14.412 0 002.485-.272c-.572-1.71-1.471-2.914-2.486-3.164zm-2.575.277a7.437 7.437 0 00-3.239 2.035 9.756 9.756 0 001.775.662 7.507 7.507 0 011.463-2.697zm4.368 0a7.512 7.512 0 011.465 2.7 9.132 9.132 0 001.771-.667 7.435 7.435 0 00-3.237-2.033zm3.748 2.645a9.725 9.725 0 01-2.067.809 14.7 14.7 0 01.429 3.26h3.12a7.382 7.382 0 00-1.483-4.07zm-11.868 0a7.382 7.382 0 00-1.478 4.065h3.12a14.676 14.676 0 01.43-3.266 10.358 10.358 0 01-2.073-.795zm2.838.983a13.891 13.891 0 00-.413 3.082h3.12V5.835a15.075 15.075 0 01-2.708-.309zm6.2.006a15.139 15.139 0 01-2.707.3V8.6h3.12a13.889 13.889 0 00-.417-3.068zM1.585 9.39a7.382 7.382 0 001.482 4.069 9.725 9.725 0 012.067-.809 14.7 14.7 0 01-.429-3.26zm3.9 0a13.888 13.888 0 00.413 3.076 15.139 15.139 0 012.707-.3V9.39zm3.9 0v2.772a15.066 15.066 0 012.706.309 13.89 13.89 0 00.414-3.082zm3.9 0a14.676 14.676 0 01-.43 3.266 10.358 10.358 0 012.072.8 7.382 7.382 0 001.478-4.065zM8.6 12.945a14.412 14.412 0 00-2.485.272c.571 1.71 1.47 2.914 2.485 3.164zm.783 0v3.436c1.014-.25 1.912-1.451 2.483-3.158a14.277 14.277 0 00-2.476-.278zM5.35 13.4a9.132 9.132 0 00-1.771.671A7.435 7.435 0 006.815 16.1a7.512 7.512 0 01-1.465-2.7zm7.3.007a7.508 7.508 0 01-1.463 2.7 7.439 7.439 0 003.233-2.039 9.756 9.756 0 00-1.774-.661z' fill='%233566b8'/%3E%3C/svg%3E") no-repeat;
}
.nd-company__data_link {
  color: #1B73E8;
}
.nd-company__img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .nd-company {
    flex-wrap: wrap;
    padding-top: 28px;
    margin-bottom: 0;
  }
  .nd-company__avatar {
    width: 154px;
    height: 133px;
    margin-bottom: 30px;
  }
  .nd-company__column {
    flex: 0 0 100%;
    margin-left: 0;
  }
  .nd-company__title {
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 17px;
  }
  .nd-company__btn-edit {
    width: 27px;
    height: 27px;
    background-size: cover;
  }
  .nd-company__data {
    font-size: 11px;
    letter-spacing: 0.18px;
    padding-left: 27px;
  }
  .nd-company__data:last-child {
    margin-bottom: 0;
  }
  .nd-company__data_local::before {
    width: 10px;
    height: 16px;
    margin-top: -8px;
    background-size: cover;
  }
  .nd-company__data_phone::before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background-size: cover;
  }
  .nd-company__data_site::before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background-size: cover;
  }
}
