.nd-complaint-published {
    font-family: 'Noto Sans', sans-serif;
    padding: 30px 0;

    &__title {
        text-align: center;
        margin-bottom: 46px;
        letter-spacing: 0.51px;
        color: #152C43;
        font-size: 32px;
        line-height: 1.35;
        font-weight: bold;
    }

    &__picture {
        margin: 0 auto 15px;
        max-width: 100%;
        display: block;
        height: auto;
    }

    &__list {
        font-size: 21px;
        line-height: 1.33;
        letter-spacing: 0.17px;
        color: #152C43;
        text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
        text-align: center;
        margin: 0 0 64px;
    }

    &__item {
        margin-bottom: 17px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            vertical-align: middle;
            background: #3566B8;
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            top: -1px;
            box-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
        }
    }

    &__buttons {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-column {
            margin: 0 auto;
        }
    }
}


@media (max-width: 767px) {
    .nd-complaint-published {
        &__title {
            font-size: 19px;
            line-height: 1.21;
        }

        &__picture {
            width: 187px;
            height: auto;
            margin-bottom: 48px;
        }

        &__list {
            line-height: 1.35;
            font-size: 16px;
            margin-bottom: 50px;
        }

        &__item {
            margin-bottom: 13px;
        }
    }
}
