.header-page {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
  z-index: 10;
}
.header-page__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 23px;
  position: relative;
}
.header-page__navi {
  background: #fdce0c;
  box-shadow: 4px 6px 2px rgba(64, 64, 64, 0.16);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;
  padding: 20px;
  display: none;
}
.header-page__navi_opened {
  display: block;
}
.header-page__btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header-page__btn-line {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #9daac7;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header-page__btn-line:nth-child(1) {
  top: 3px;
}
.header-page__btn-line:nth-child(2), .header-page__btn-line:nth-child(3) {
  top: 14px;
}
.header-page__btn-line:nth-child(4) {
  top: 24px;
}
.header-page__btn_opened .header-page__btn-line:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
.header-page__btn_opened .header-page__btn-line:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-page__btn_opened .header-page__btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header-page__btn_opened .header-page__btn-line:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.logo {
  margin-right: auto;
  flex-shrink: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .header-page {
    margin-bottom: 0;
    box-shadow: none;
  }
  .header-page__wrap {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .header-page__btn {
    display: block;
  }

  .logo__img {
    height: 32px;
  }
}
