.nd-hint-block {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin: 0 2px;
}
.nd-hint-block__icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 24px;
  background: #3566B8;
  cursor: pointer;
  padding-top: 1px;
}
.nd-hint-block__dropdown {
  position: absolute;
  width: 295px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 18px 16px 23px;
  border: 1px solid rgba(119, 119, 157, 0.3);
  z-index: 1;
  text-align: left;
  display: none;
}
.nd-hint-block__dropdown_right {
  right: 34px;
  top: 34px;
  border-radius: 12px 0 12px 12px;
}
.nd-hint-block__dropdown_right::after {
  width: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
.nd-hint-block__dropdown_right::before {
  width: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: 100%;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 0;
  border-color: rgba(119, 119, 157, 0.3) transparent transparent transparent;
}
.nd-hint-block__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 1.2;
  color: rgba(21, 44, 67, 0.56);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  margin-bottom: 10px;
}
.nd-hint-block__title::before {
  content: "?";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #3566b8;
  border-radius: 50%;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  padding-top: 1px;
  line-height: 16px;
  margin-right: 6px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: -2px;
}
.nd-hint-block__text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.22px;
  color: rgba(21, 44, 67, 0.6);
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
}

@media (max-width: 767px) {
  .nd-hint-block__dropdown {
    width: 250px;
  }
  .nd-hint-block__dropdown_right {
    right: 40px;
    top: 12px;
  }
}
