.nd-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nd-loading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.31);
}
.nd-loading__ring {
  display: inline-block;
  position: relative;
  width: 132px;
  height: 132px;
}
.nd-loading__ring-circle {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  margin: 10px;
  border: 10px solid #3566B8;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3566B8 transparent transparent transparent;
}
.nd-loading__ring-circle:nth-child(1) {
  animation-delay: -0.45s;
}
.nd-loading__ring-circle:nth-child(2) {
  animation-delay: -0.3s;
}
.nd-loading__ring-circle:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
