.nd-msg-box {
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    padding: 0 20px;
    z-index: 11;

    &__text {
        max-width: 800px;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(64, 64, 64, 0.24);
        border-radius: 4px;
        padding: 14px 24px;
        letter-spacing: 0.24px;
        font-size: 15px;
        line-height: 1.2;
        position: relative;

        &_error {
            background: #F44336;
            color: #fff;
            padding-left: 48px;

            &::before {
                content: "";
                position: absolute;
                left: 24px;
                top: 50%;
                width: 16px;
                height: 16px;
                margin-top: -8px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8 0a8 8 0 108 8 8.012 8.012 0 00-8-8zm0 1.6A6.4 6.4 0 111.6 8 6.388 6.388 0 018 1.6zM7.2 4v4.8h1.6V4zm0 6.4V12h1.6v-1.6z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
            }
        }
    }
}
