.nd-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(64, 64, 64, 0.4);
  z-index: 10;
}

.nd-popup {
  position: absolute;
  left: 50%;
  top: 100px;
  background: #FFFFFF;
  border-radius: 20px;
  width: 900px;
  margin-left: -450px;
  padding: 80px 50px 24px;
  z-index: 10;
}
.nd-popup__ins {
  max-width: 530px;
  margin: 0 auto;
}
.nd-popup__title {
  text-align: center;
  margin: 0 0 17px;
  font-size: 22px;
  letter-spacing: 0.18px;
  color: #152C43;
  font-weight: 600;
  line-height: 1.23;
}
.nd-popup_recovery .nd-popup__title {
  margin-bottom: 57px;
}
.nd-popup__subtext {
  text-align: center;
  margin: 0 0 32px;
  letter-spacing: 0.14px;
  color: #152C43;
  font-size: 17px;
  line-height: 1.25;
}
.nd-popup__text-recovery {
  font-size: 14px;
  color: #152C43;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 39px;
  text-align: center;
}
.nd-popup__text-recovery-link {
  color: #3566B8;
  font-weight: 600;
  margin-left: 10px;
}
.nd-popup__or {
  text-align: center;
  margin: 55px 0;
  line-height: 1.34;
  position: relative;
}
.nd-popup__or::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #d6d6e1;
}
.nd-popup__or-text {
  background: #fff;
  color: #152C43;
  font-size: 14px;
  position: relative;
  padding: 0 12px;
  display: inline-block;
  vertical-align: middle;
}
.nd-popup .nd-form-block__row {
  max-width: 362px;
  margin: 0 auto;
}
.nd-popup__buttons {
  text-align: center;
  margin-bottom: 39px;
}
.nd-popup_recovery .nd-popup__buttons {
  padding-top: 12px;
}
.nd-popup__btn-close {
  position: absolute;
  right: 23px;
  top: 34px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.081' height='32.001'%3E%3Cpath d='M2.509 0L.081 2.428 13.612 15.96 0 29.598l2.4 2.4 13.64-13.611L29.652 32l2.429-2.428L18.469 15.96 32.001 2.428 29.572 0 16.04 13.531z' fill='%233566b8'/%3E%3C/svg%3E") center no-repeat;
}
.nd-popup__btn-close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nd-popup__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}
.nd-popup__msg {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 30px;
}
.nd-popup__msg-img {
  margin: 0 auto 45px;
  max-width: 100%;
  display: block;
  height: auto;
}
.nd-popup__msg-title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.18px;
  color: #152C43;
  line-height: 1.25;
  margin: 0 0 33px;
}
.nd-popup__msg-text {
  letter-spacing: 0.14px;
  color: #152C43;
  font-size: 17px;
  line-height: 1.3;
}

@media (max-width: 1024px) {
  .nd-popup {
    margin-left: 0;
    width: auto;
    right: 15px;
    left: 15px;
  }
}
@media (max-width: 767px) {
  .nd-popup {
    padding: 64px 20px 76px;
  }
  .nd-popup__btn-close {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 17px;
  }
  .nd-popup__or {
    margin: 33px 0 30px;
  }
  .nd-popup__or::before {
    left: -20px;
    right: -20px;
    width: auto;
  }
  .nd-popup__msg {
    max-width: 100%;
    margin-bottom: 19px;
  }
  .nd-popup__msg-title {
    font-size: 18px;
  }
  .nd-popup__msg-text {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .nd-popup_register .nd-button_form, .nd-popup_register .nd-button_submit {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
