.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-block__item {
  margin: 0 16px;
}
.social-block__link {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.social-block__link_fb {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56'%3E%3Ccircle cx='28' cy='28' r='28' fill='%231977f3'/%3E%3Cpath d='M38.828 36.03l1.238-8.081h-7.75v-5.243c0-2.209 1.081-4.367 4.556-4.367h3.525v-6.878a42.948 42.948 0 00-6.257-.546c-6.383 0-10.557 3.867-10.557 10.875v6.159h-7.099v8.081h7.1v19.53a28.045 28.045 0 004.366.338 28.532 28.532 0 004.367-.338V36.03z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
}
.social-block__link_vk {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56'%3E%3Cpath d='M28 56.001a28.007 28.007 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.826 27.826 0 01-10.9 2.2zm4.07-22.9c.594 0 1.677.283 4.221 2.736.85.85 1.493 1.565 2.011 2.141l.01.01c1.24 1.381 1.806 2.013 2.943 2.013h4.237a1.626 1.626 0 001.358-.5 1.428 1.428 0 00.106-1.3c-.414-1.3-2.038-3.237-3.572-4.965-.507-.6-1.156-1.232-1.678-1.741a13.1 13.1 0 01-1.241-1.311c-.627-.808-.453-1.161 0-1.885.213-.3 5.177-7.339 5.7-9.737a1.253 1.253 0 00-.072-1.134 1.44 1.44 0 00-1.208-.427h-4.238a1.835 1.835 0 00-1.847 1.2 35.582 35.582 0 01-5.2 8.662c-1.014 1.01-1.456 1.3-1.977 1.3-.228 0-.659-.253-.659-1.212v-8.39c0-1.121-.339-1.558-1.208-1.558h-6.66a1.017 1.017 0 00-1.078.973 1.631 1.631 0 00.507 1.017 4.739 4.739 0 011.175 3.108v6.241c0 1.373-.254 1.614-.787 1.614-.7 0-1.92-1.268-3.264-3.391a39.319 39.319 0 01-3.74-7.918c-.385-1.113-.766-1.646-1.893-1.646H9.778c-1.289 0-1.454.641-1.454 1.2 0 1.247 1.585 6.895 6.688 14.048a19.721 19.721 0 006.093 5.76 13.638 13.638 0 006.833 1.992c2.808 0 3.024-.683 3.024-1.647v-3.8c0-1.242.276-1.453 1.108-1.453z' fill='%232787f5'/%3E%3C/svg%3E") center no-repeat;
}
.social-block__link_tw {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55.999' height='56.002'%3E%3Cpath d='M28 56.001a28.008 28.008 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.822 27.822 0 01-10.9 2.2zM14.4 38.022a.149.149 0 00-.139.1.148.148 0 00.059.173 17.169 17.169 0 0026.428-14.467c0-.241 0-.478-.014-.7a12.209 12.209 0 002.958-3.089.145.145 0 00-.01-.175.148.148 0 00-.112-.052.141.141 0 00-.059.013 11.8 11.8 0 01-2.763.838A6.1 6.1 0 0042.9 17.63a.145.145 0 00-.049-.159.147.147 0 00-.166-.012 11.8 11.8 0 01-3.676 1.419 6.138 6.138 0 00-10.428 5.463 16.927 16.927 0 01-12.04-6.19.146.146 0 00-.112-.054h-.013a.146.146 0 00-.115.072 6.14 6.14 0 001.479 7.88 5.887 5.887 0 01-2.139-.691.147.147 0 00-.072-.019.142.142 0 00-.072.02.145.145 0 00-.074.123v.078a6.151 6.151 0 004.311 5.858 5.859 5.859 0 01-2.038-.03h-.027a.146.146 0 00-.141.19 6.115 6.115 0 005.324 4.238 11.81 11.81 0 01-7.026 2.291 12.083 12.083 0 01-1.41-.083z' fill='%231da1f2'/%3E%3C/svg%3E") center no-repeat;
}
.social-block__link_in {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56'%3E%3Cpath d='M28 56.001a28.007 28.007 0 01-10.9-53.8 28.008 28.008 0 0121.8 51.6 27.826 27.826 0 01-10.9 2.2zm5.617-27.8a3 3 0 013 3v12h6V30.174a7.854 7.854 0 00-7.5-7.97 8.66 8.66 0 00-3.316.717l-.046.018c-.358.132-.729.27-1.136.4v-1.138h-6v21h6v-12a3 3 0 012.998-3zm-18-6v21h6v-21zm0-9v6h6v-6z' fill='%232867b2'/%3E%3C/svg%3E") center no-repeat;
}

@media (max-width: 767px) {
  .social-block__item {
    margin: 0 10px;
  }
  .social-block__link {
    width: 40px;
    height: 40px;
    background-size: auto 40px;
  }
}
