.confirmed-company {
  padding: 137px 0 41px;
  font-family: 'Proxima Nova';
}
.confirmed-company__title {
  letter-spacing: 0.64px;
  color: #152c43;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 53px;
  text-align: center;
  position: relative;
}
.confirmed-company__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.confirmed-company__item {
  width: 22%;
  padding: 0 10px;
}
.confirmed-company__logo {
  width: 196px;
  height: 196px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 auto 26px;
  transition: all 0.4s ease;
}
.confirmed-company__subtitle {
  text-align: center;
  letter-spacing: 0.13px;
  color: #5f6368;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 13px;
}
.confirmed-company__name {
  letter-spacing: 0.17px;
  color: #152c43;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  line-height: 1.35;
}

@media (min-width: 1024px) {
  .confirmed-company__logo {
    transform: scale(1);
  }
  .confirmed-company__logo:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 992px) {
  .confirmed-company__wrap {
    flex-wrap: wrap;
  }
  .confirmed-company__item {
    width: 50%;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .confirmed-company {
    padding-top: 75px;
    padding-bottom: 1px;
  }
  .confirmed-company__wrap {
    flex-wrap: wrap;
  }
  .confirmed-company__title {
    letter-spacing: 0.51px;
    font-size: 32px;
    line-height: 1.25;
  }
  .confirmed-company__item {
    width: 100%;
  }
  .confirmed-company__logo {
    width: 96px;
    height: 96px;
    margin-bottom: 8px;
  }
  .confirmed-company__subtitle {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 2px;
  }
  .confirmed-company__name {
    letter-spacing: 0.14px;
    font-size: 18px;
    line-height: 1.35;
  }
}
