.last-complaints {
  padding: 57px 0;
  font-family: 'Proxima Nova';
}
.last-complaints__title {
  letter-spacing: 0.64px;
  color: #152c43;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 41px;
  text-align: center;
}
.last-complaints__carousel {
  margin-bottom: 22px;
}
.last-complaints__item {
  padding: 12px;
  width: 355px;
}
.last-complaints__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0.38px;
  color: #152c43;
  text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
  line-height: 1.25;
}
.last-complaints__subtitle-item {
  display: block;
  padding: 0 140px;
  position: relative;
  transition: all 0.4s ease;
}
.last-complaints__subtitle-item::before, .last-complaints__subtitle-item::after {
  content: "";
  top: 50%;
  position: absolute;
  border: 1px solid #152c43;
  margin-top: -1px;
  width: 120px;
  transition: all 0.4s ease;
}
.last-complaints__subtitle-item::before {
  left: 0;
}
.last-complaints__subtitle-item::after {
  right: 0;
}

@media (min-width: 1024px) {
  .last-complaints__subtitle-item:hover::before, .last-complaints__subtitle-item:hover::after {
    width: 105px;
  }
  .last-complaints__subtitle-item:hover::before {
    left: 4px;
  }
  .last-complaints__subtitle-item:hover::after {
    right: -4px;
  }
}
@media (max-width: 767px) {
  .last-complaints {
    padding-bottom: 23px;
  }
  .last-complaints__title {
    letter-spacing: 0.51px;
    line-height: 1.21;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .last-complaints__carousel {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 44px;
    margin-bottom: 41px;
  }
  .last-complaints__item {
    padding: 12px;
    width: 100%;
  }
  .last-complaints__subtitle {
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
    letter-spacing: 0.32px;
    line-height: 1.23;
    margin-bottom: 0;
  }
  .last-complaints__subtitle-item {
    padding-left: 64px;
    padding-right: 64px;
  }
  .last-complaints__subtitle-item::before, .last-complaints__subtitle-item::after {
    width: 48px;
  }
}
