.most-complaints {
  padding: 50px 0;
  margin-bottom: 77px;
  font-family: 'Proxima Nova';
}
.most-complaints__title {
  letter-spacing: 0.64px;
  color: #152c43;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 53px;
  text-align: center;
}
.most-complaints__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -16px;
}
.most-complaints__item {
  -ms-flex: 0 0 33.3333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 0 16px 32px;
}
.most-complaints__link {
  background: white;
  -webkit-box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
          box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 64px;
  font-size: 21px;
  padding: 10px 55px 10px 33px;
  letter-spacing: 0.17px;
  color: #152c43;
  font-weight: 500;
  line-height: 1.35;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.most-complaints__link:hover {
  background: #e4e8f1;
  text-decoration: none;
}
.most-complaints__link::before {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-size: contain !important;
}
.most-complaints__link_shopping::before {
  background: url(../../../catalog/i/online_shopping.svg) left center no-repeat;
}
.most-complaints__link_subway::before {
  background: url(../../../catalog/i/subway.svg) left center no-repeat;
}
.most-complaints__link_service::before {
  background: url(../../../catalog/i/service.svg) left center no-repeat;
}
.most-complaints__link_workers::before {
  background: url(../../../catalog/i/workers.svg) left center no-repeat;
}
.most-complaints__link_parliament::before {
  background: url(../../../catalog/i/parliament.svg) left center no-repeat;
}
.most-complaints__link_network::before {
  background: url(../../../catalog/i/network_cable.svg) left center no-repeat;
}
.most-complaints__link_guard::before {
  background: url(../../../catalog/i/guard.svg) left center no-repeat;
}
.most-complaints__link_basketball::before {
  background: url(../../../catalog/i/basketball.svg) left center no-repeat;
}
.most-complaints__link_trade::before {
  background: url(../../../catalog/i/trade.svg) left center no-repeat;
}
.most-complaints__link_student::before {
  background: url(../../../catalog/i/student_male.svg) left center no-repeat;
}
.most-complaints__link_eyebrow::before {
  background: url(../../../catalog/i/eyebrow.svg) left center no-repeat;
}
.most-complaints__link_people::before {
  background: url(../../../catalog/i/people.svg) left center no-repeat;
}
.most-complaints__link_building::before {
  background: url(../../../catalog/i/building.svg) left center no-repeat;
}
.most-complaints__link_gas::before {
  background: url(../../../catalog/i/gas_station.svg) left center no-repeat;
}
.most-complaints__link_news::before {
  background: url(../../../catalog/i/news.svg) left center no-repeat;
}
.most-complaints__link_tv::before {
  background: url(../../../catalog/i/tv.svg) left center no-repeat;
}
.most-complaints__link_internet::before {
  background: url(../../../catalog/i/internet.svg) left center no-repeat;
}
.most-complaints__link_food::before {
  background: url(../../../catalog/i/food_bar.svg) left center no-repeat;
}
.most-complaints__link_dog::before {
  background: url(../../../catalog/i/dog.svg) left center no-repeat;
}
.most-complaints__link_heart::before {
  background: url(../../../catalog/i/heart_with_pulse.svg) left center no-repeat;
}
.most-complaints__link_manufacturing::before {
  background: url(../../../catalog/i/manufacturing.svg) left center no-repeat;
}
.most-complaints__link_merry::before {
  background: url(../../../catalog/i/merry_go_round.svg) left center no-repeat;
}
.most-complaints__link_furniture::before {
  background: url(../../../catalog/i/furniture.svg) left center no-repeat;
}
.most-complaints__link_tower::before {
  background: url(../../../catalog/i/transmission_tower.svg) left center no-repeat;
}
.most-complaints__link_car::before {
  background: url(../../../catalog/i/car.svg) left center no-repeat;
}
.most-complaints__link_teapot::before {
  background: url(../../../catalog/i/electric_teapot.svg) left center no-repeat;
}
.most-complaints__link_business::before {
  background: url(../../../catalog/i/business.svg) left center no-repeat;
}
.most-complaints__link_literature::before {
  background: url(../../../catalog/i/literature.svg) left center no-repeat;
}
.most-complaints__link_plane::before {
  background: url(../../../catalog/i/plane.svg) left center no-repeat;
}
.most-complaints__link_vehicle::before {
  background: url(../../../catalog/i/vehicle_insurance.svg) left center no-repeat;
}
.most-complaints__link_subscribe::before {
  background: url(../../../catalog/i/subscribe.svg) left center no-repeat;
}
.most-complaints__link_menu::before {
  background: url(../../../catalog/i/icons8-squared_menu.svg) left center no-repeat;
}
