.recently-companies {
    padding-top: 35px;
    margin-bottom: 96px;
    font-family: 'Proxima Nova';

    .search-block {
        margin: 0 auto 80px;
        width: 400px;
    }

    &__title {
        letter-spacing: 0.64px;
        color: rgba(21, 44, 67, 1);
        font-size: 40px;
        line-height: 1.35;
        font-weight: bold;
        margin: 0 0 53px;
        text-align: center;
    }

    &__box {
        padding: 56px 30px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 0 3px rgba(64, 64, 64, 0.16);
        border-radius: 16px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20%;
        padding-right: 20%;
    }

    &__logo {
        border-radius: 16px;
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0 10px 64px;

        &_blue {
            background: rgba(75, 162, 208, 1);
            padding: 20px;
        }

        &_black {
            background: rgba(33, 25, 41, 1);
            padding: 20px;
        }

        transition: all 0.4s ease;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 21px;
        letter-spacing: 0.38px;
        color: rgba(21, 44, 67, 1);
        text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
        line-height: 1.25;
        margin-top: 34px;

        &-item {
            display: block;
            padding: 0 140px;
            position: relative;
            transition: all 0.4s ease;

            &::before,
            &::after {
                content: "";
                top: 50%;
                position: absolute;
                border: 1px solid rgba(21, 44, 67, 1);
                margin-top: -1px;
                width: 120px;
                transition: all 0.4s ease;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
    }

    &__column {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .recently-companies {
        &__logo {
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
            }
        }

        &__subtitle {
            &-item {
                &:hover {
                    &::before,
                    &::after {
                        width: 105px;
                    }

                    &::before {
                        left: 4px;
                    }

                    &::after {
                        right: -4px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .recently-companies {
        &__row {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (max-width: 767px) {
    .recently-companies {
        margin-bottom: 55px;

        &__title {
            letter-spacing: 0.51px;
            font-size: 32px;
            line-height: 1.2;
            margin-bottom: 32px;
        }

        .search-block {
            width: 100%;
            margin-bottom: 56px;
        }

        &__row {
            padding-left: 0;
            padding-right: 0;
        }

        &__column {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }

        &__box {
            padding: 56px 10px 32px;
        }

        &__logo {
            margin: 0 13px 32px;
        }

        &__subtitle {
            font-size: 18px;
            text-shadow: 0 1px 1px rgba(64, 64, 64, 0.08);
            letter-spacing: 0.32px;
            line-height: 1.23;
            margin-bottom: 0;

            &-item {
                padding-left: 64px;
                padding-right: 64px;

                &::before,
                &::after {
                    width: 48px;
                }
            }
        }
    }
}

@media (max-width: 374px) {
    .recently-companies {
        &__title {
            font-size: 26px;
        }
    }
}
