.resolved-complaints {
  position: relative;
}
.resolved-complaints__title {
  letter-spacing: 0.64px;
  color: #152c43;
  font-size: 40px;
  line-height: 1.35;
  font-weight: bold;
  margin: 0 0 41px;
  text-align: center;
}
.resolved-complaints__item {
  padding: 12px;
  width: 355px;
}

@media (min-width: 1024px) {
  .resolved-complaints {
    overflow: hidden;
  }
  .resolved-complaints__title {
    -webkit-animation: fadeInLeft;
            animation: fadeInLeft;
    -webkit-animation-duration: 3.5s;
            animation-duration: 3.5s;
  }
  .resolved-complaints__carousel {
    -webkit-animation: fadeInRight;
            animation: fadeInRight;
    -webkit-animation-duration: 3.5s;
            animation-duration: 3.5s;
  }
}
@media (max-width: 767px) {
  .resolved-complaints__title {
    letter-spacing: 0.51px;
    line-height: 1.21;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .resolved-complaints__carousel {
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 46px;
  }
  .resolved-complaints__item {
    padding: 12px 15px;
    width: auto;
  }
}
