extends layout/main

block styles
    link(href="styles/forms/form-block.css" rel="stylesheet")
    link(href="styles/blocks/social-block.css" rel="stylesheet")
    link(href="styles/blocks/popup.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
        
    .overlay    
    .popup
        span.popup__btn-close
        .popup__ins
            .popup__title Вход
            .popup__subtext с помощью аккаунта в других сервисах
            
            +social-block
            
            .popup__or
                span.popup__or-text или
                    
            form(method='POST' action='') 
                +input-error("text", "Login")
                .form-block__row
                    .form-block__box
                        input.form-block__inp.form-block__inp_with-icon(type="password" placeholder=" " id="")
                        label.form-block__label Пароль
                        span.form-block__btn.form-block__btn_eye
                    .form-block__hint 
            
                .popup__text-recovery Забыли пароль?  
                    a.popup__text-recovery-link(href="") Восстановить
                    
                .popup__buttons
                    button.btn-p.btn-p_form(type="submit") Вход
                        
                .popup__text-recovery Ещё не являетесь пользователем Huzhe.net? 
                    a.popup__text-recovery-link(href="") Зарегестрироваться
        
