extends layout/main

block styles
    link(href="styles/forms/form-block.css" rel="stylesheet")
    link(href="styles/forms/steps-form.css" rel="stylesheet")
    link(href="styles/blocks/steps.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            .steps-block
                ul.steps-block__list
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i1
                    li.steps-block__item.steps-block__item_active
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i3
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i4
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i5

            .steps-form.steps-form_step-2
                form(method='POST' action='')
                    .steps-form__section
                        h2.steps-form__title Какой результат решения проблемы Вы хотели бы получить?
                        
                        .form-block__row
                            .form-block__box
                                textarea.form-block__t-area(placeholder=" " id="")
                                label.form-block__label Желаемый результат
                                
                                .form-block__tooltip.form-block__tooltip_left(style="display: block;")
                                    .form-block__tooltip-title Текст жалобы

                                    ul.form-block__tooltip-list
                                        li.form-block__tooltip-item Опишите Вашу проблему;
                                        li.form-block__tooltip-item Какие действия Вы уже предприняли для решения проблемы;
                                        li.form-block__tooltip-item Включите как можно больше деталей;
                                        li.form-block__tooltip-item Будьте дружелюбны, вежливы и избегайте нецензурную лексику;
                                        li.form-block__tooltip-item Не угрожайте;
                                        li.form-block__tooltip-item Старайтесь избегать опечаток;
                                        li.form-block__tooltip-item Не сообщайте личную информацию;
                                        li.form-block__tooltip-item Текст жалобы должен содержать не менее 350 символов.
                                
                            .form-block__t-area-hint
                                .form-block__t-area-text Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)
                                .form-block__t-area-counter 
                                    span.form-block__t-area-num 0
                                    | /350
                    
                .steps-form__buttons
                    a.steps-form__prev(href="#") Назад
                        
                    a.steps-form__next(href="#") Далее
