extends layout/main
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            .steps-block
                ul.steps-block__list
                    li.steps-block__item.steps-block__item_active
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i6
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i2
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i4
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i5

            .steps-form.steps-form_step-0
                form(method='POST' action='')
                    .steps-form__section
                        h2.steps-form__title На кого Вы оставляете жалобу?
                        
                        .form-block__row
                            .form-block__box
                                input.form-block__inp.form-block__inp_with-icon(type="text" placeholder=" " id="")
                                label.form-block__label Название компании 
                                    span.form-block__sign ❋
                                span.form-block__btn.form-block__btn_edit
                                    
                                .form-block__tooltip.form-block__tooltip_left.form-block__tooltip_bottom-mobile(style="display: block;")
                                    .form-block__tooltip-title Название компании

                                    .form-block__tooltip-text Введите название компании с которой у Вас возникли проблемы.
                                    
                                .form-block__dropdown(style="display: block;")
                                    ul.form-block__dropdown-list
                                        li.form-block__dropdown-item
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA 
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA 
                                        li.form-block__dropdown-item 
                                            a.form-block__dropdown-link(href="#") KIA Motors Краcноярск
                            .form-block__hint Не вводите в этом разделе свое имя или общие фразы.
                            
                    .steps-form__section
                        h2.steps-form__title С какой проблемой Вы столкнулись?
                        
                        .form-block__row
                            .form-block__box
                                input.form-block__inp(type="text" placeholder=" " id="")
                                label.form-block__label Тема жалобы
                                    span.form-block__sign ❋
                            .form-block__hint 
                        
                        .form-block__row
                            .form-block__box
                                textarea.form-block__t-area(placeholder=" " id="")
                                label.form-block__label Текст жалобы 
                                    span.form-block__sign ❋
                                
                                .form-block__tooltip.form-block__tooltip_left(style="display: none;")
                                    .form-block__tooltip-title Текст жалобы

                                    ul.form-block__tooltip-list
                                        li.form-block__tooltip-item Опишите Вашу проблему;
                                        li.form-block__tooltip-item Какие действия Вы уже предприняли для решения проблемы;
                                        li.form-block__tooltip-item Включите как можно больше деталей;
                                        li.form-block__tooltip-item Будьте дружелюбны, вежливы и избегайте нецензурную лексику;
                                        li.form-block__tooltip-item Не угрожайте;
                                        li.form-block__tooltip-item Старайтесь избегать опечаток;
                                        li.form-block__tooltip-item Не сообщайте личную информацию;
                                        li.form-block__tooltip-item Текст жалобы должен содержать не менее 350 символов.
                                
                            .form-block__t-area-hint
                                .form-block__t-area-text Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)
                                .form-block__t-area-counter 
                                    span.form-block__t-area-num 0
                                    | /350
                        
                        +upload-block
                                
                    .steps-form__section
                        h2.steps-form__title Какой результат решения проблемы Вы хотели бы получить?
                        
                        .form-block__row.form-block__row_error-size
                            .form-block__box
                                textarea.form-block__t-area(placeholder=" " id="")
                                label.form-block__label Текст жалобы 
                                    span.form-block__sign ❋
                                
                            .form-block__t-area-hint
                                .form-block__t-area-text Ваша жалоба слишком короткая и вряд ли будет решена или привлечет внимание. Пожалуйста, дополните ее до 350 символов.
                                .form-block__t-area-counter 
                                    span.form-block__t-area-num 120
                                    | /350
                    
                .steps-form__buttons
                    a.steps-form__prev(href="#") Назад
                        
                    a.steps-form__next(href="#") Далее
