extends layout/main
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            .steps-block
                ul.steps-block__list
                    li.steps-block__item
                        span.steps-block__box
                    li.steps-block__item.steps-block__item_active
                        span.steps-block__box
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box

            .steps-form.steps-form_step-2
                .steps-form__text
                    h2.steps-form__title Известна ли Вам дополнительная информация о компании?
                    .steps-form__subtext (Адрес, телефон, web сайт, Email)
                
                .steps-form__buttons.steps-form__buttons_center.steps-form__buttons_questions
                    a.steps-form__btn.steps-form__btn_active(href="#") да
                        
                    a.steps-form__btn(href="#") нет
                    
                form(method='POST' action='')
                    .steps-form__form-row
                        +input("text", "Страна")
                        +input("text", "Город")
                    .steps-form__form-row
                        +input("text", "Адрес")
                        +input("text", "Web-сайт")
                    .steps-form__form-row
                        +input("text", "Email")
                        +input("text", "Телефон")
                    
                .steps-form__buttons
                    a.steps-form__prev(href="#") Назад
                        
                    a.steps-form__next(href="#") Далее
