extends layout/main

block styles
    link(href="styles/forms/form-block.css" rel="stylesheet")
    link(href="styles/blocks/social-block.css" rel="stylesheet")
    link(href="styles/blocks/popup.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
        
    .overlay    
    .popup.popup_recovery
        span.popup__btn-close
        .popup__ins
            .popup__title Восстановить пароль
                    
            form(method='POST' action='') 
                +input-error("text", "E-mail")
                
                .popup__buttons
                    button.btn-p.btn-p_form(type="submit") Восстановить
                        
                .popup__text-recovery Уже являетесь пользователем Huzhe.net? 
                    a.popup__text-recovery-link(href="") Войти
        
