extends layout/main
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
        
    .overlay    
    .popup.popup_register
        span.popup__btn-close
        .popup__ins
            .popup__title Регистрация
            .popup__subtext с помощью аккаунта в других сервисах
            
            +social-block
            
            .popup__or
                span.popup__or-text или
                    
            form(method='POST' action='') 
                +input-error("text", "Login")
                +input-error("text", "E-mail")
                .form-block__row
                    .form-block__box
                        input.form-block__inp.form-block__inp_with-icon(type="password" placeholder=" " id="")
                        label.form-block__label Пароль
                        span.form-block__btn.form-block__btn_eye
                    .form-block__hint 
                
                .popup__checkbox    
                    .check-item
                        label.check-item__label
                            input.check-item__input(type="checkbox" id="ch")
                            span.check-item__dot
                            span.check-item__name Я ознакомлен и согласен 
                                a.check-item__link(href="#") с правилами сайта 
                                | .
                    
                .popup__buttons
                    button.btn-p.btn-p_submit(type="submit") Зарегистрироваться
                        
                .popup__text-recovery Уже являетесь пользователем Huzhe.net? 
                    a.popup__text-recovery-link(href="") Войти
        
