extends layout/main
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            .steps-block
                ul.steps-block__list
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i6
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i2
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i4
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i5

            .complaint-published
                h2.complaint-published__title Ваша жалоба опубликована!

                img(src="i/complaint-published-positive-vote.svg" alt="" class="img-fluid complaint-published__picture")

                ul.complaint-published__list
                    li.complaint-published__item Спасибо за проявленный интерес к нашему ресурсу.
                    li.complaint-published__item Не забудьте подтвердить свой e-mail.

                .complaint-published__buttons
                    .complaint-published__buttons-column
                        a.btn-p.btn-p_primary(href="#") На главную

                        a.btn-p.btn-p_primary(href="#") К жалобе
