extends layout/main

block styles
    link(href="styles/blocks/loading.css" rel="stylesheet")
    link(href="styles/blocks/msg-box.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            
    .msg-box
        .msg-box__text.msg-box__text_error This is an error message!
        
    .loading
        .loading__ring
            .loading__ring-circle
            .loading__ring-circle
            .loading__ring-circle
            .loading__ring-circle
    
        
