extends layout/main
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            
    .msg-box
        .msg-box__text.msg-box__text_error This is an error message!
        
    .loading
        .loading__ring
            .loading__ring-circle
            .loading__ring-circle
            .loading__ring-circle
            .loading__ring-circle
    
        
