<div class="check-item">
    <label class="check-item__label">
        <input class="check-item__input" type="checkbox" id="ch" />
        <span class="check-item__dot"></span>
        <span class="check-item__name">Внимание! Ваши данные будут скрыты от общего обозрения.<br /> Я ознакомлен и согласен
            <a class="check-item__link" href="#">с правилами сайта </a>и <a class="check-item__link" href="#">политикой конфиденциальности.</a>
        </span>
    </label>
</div>
