.nd-check-item
    label.nd-check-item__label
        input.nd-check-item__input(type="checkbox" id="ch")
        span.nd-check-item__dot
        span.nd-check-item__name Внимание! Ваши данные будут скрыты от общего обозрения.<br /> Я ознакомлен и согласен 
            a.nd-check-item__link(href="#") с правилами сайта 
            | и 
            a.nd-check-item__link(href="#") политикой конфиденциальности.
