.check-item
    label.check-item__label
        input.check-item__input(type="checkbox" id="ch")
        span.check-item__dot
        span.check-item__name Внимание! Ваши данные будут скрыты от общего обозрения.<br /> Я ознакомлен и согласен 
            a.check-item__link(href="#") с правилами сайта 
            | и 
            a.check-item__link(href="#") политикой конфиденциальности.
