
<div class="company">
  <div class="company__avatar"><img class="company__img" src="i/content/kia.svg" alt="Kia"/></div>
  <div class="company__column">
    <div class="company__title">KIA Motors Красноярск<span class="company__btn-edit"></span></div>
    <div class="form-block__row">
      <div class="form-block__box">
        <input class="form-block__inp form-block__inp_with-icon" type="text" placeholder=" " id=""/>
        <label class="form-block__label">KIA Motors Красноярск</label><span class="form-block__btn form-block__btn_edit"></span>
      </div>
      <div class="form-block__hint"> </div>
    </div>
    <div class="company__data company__data_local">ул. Маерчака, 105, г. Красноярск, Красноярский край, Россия</div>
    <div class="company__data company__data_phone"><a class="company__data_link" href="">+7 (391) 234-63-42</a></div>
    <div class="company__data company__data_site"><a class="company__data_link" href="" target="_blank">www.kia-motors.ru</a></div>
  </div>
</div>