<div class="complaint-published">
    <h2 class="complaint-published__title">Ваша жалоба опубликована!</h2>
    <img class="complaint-published__picture" src="i/complaint-published-positive-vote.svg" alt="" />
    <ul class="complaint-published__list">
        <li class="complaint-published__item">Спасибо за проявленный интерес к нашему ресурсу.</li>
        <li class="complaint-published__item">Не забудьте подтвердить свой e-mail.</li>
    </ul>
    <div class="complaint-published__buttons">
        <div class="complaint-published__buttons-column">
            <a class="btn-p btn-p_primary" href="#">На главную</a>
            <a class="btn-p btn-p_primary" href="#">К жалобе</a>
        </div>
    </div>
</div>
