<div class="nd-company">
    <div class="nd-company__avatar">
        <img class="nd-company__img" src="i/content/kia.svg" alt="Kia" />
    </div>
    <div class="nd-company__column">
        <div class="nd-company__title">
            KIA Motors Красноярск
            <span class="nd-company__btn-edit"></span>
        </div>
        <div class="nd-company__data nd-company__data_local">
            ул. Маерчака, 105, г. Красноярск, Красноярский край, Россия
        </div>
        <div class="nd-company__data nd-company__data_phone">
            <a class="nd-company__data_link" href="">+7 (391) 234-63-42</a>
        </div>
        <div class="nd-company__data nd-company__data_site">
            <a class="nd-company__data_link" href="" target="_blank">www.kia-motors.ru</a>
        </div>
    </div>
</div>
