
<div class="nd-complaint-published">
  <h2 class="nd-complaint-published__title">Ваша жалоба опубликована!</h2><img class="complaint-published__picture" src="i/complaint-published-positive-vote.nd-svg" alt=""/>
  <ul class="nd-complaint-published__list">
    <li class="nd-complaint-published__item">Спасибо за проявленный интерес к нашему ресурсу.</li>
    <li class="nd-complaint-published__item">Не забудьте подтвердить свой e-mail.</li>
  </ul>
  <div class="nd-complaint-published__buttons">
    <div class="nd-complaint-published__buttons-column"><a class="nd-button nd-button_primary" href="#">На главную</a><a class="nd-button nd-button_primary" href="#">К жалобе</a></div>
  </div>
</div>