.company
    .company__avatar
        img.company__img(src="i/content/kia.svg" alt="Kia")
            
    .company__column
        .company__title KIA Motors Красноярск
            span.company__btn-edit
                
        .form-block__row
            .form-block__box
                input.form-block__inp.form-block__inp_with-icon(type="text" placeholder=" " id="")
                label.form-block__label KIA Motors Красноярск
                span.form-block__btn.form-block__btn_edit
            .form-block__hint 
            
        .company__data.company__data_local ул. Маерчака, 105, г. Красноярск, Красноярский край, Россия
        .company__data.company__data_phone
            a.company__data_link(href="") +7 (391) 234-63-42
        .company__data.company__data_site
            a.company__data_link(href="" target="_blank") www.kia-motors.ru
