.nd-company
    .nd-company__avatar
        img.nd-company__img(src="i/content/kia.svg" alt="Kia")
            
    .nd-company__column
        .nd-company__title KIA Motors Красноярск
            span.nd-company__btn-edit
        .nd-company__data.nd-company__data_local ул. Маерчака, 105, г. Красноярск, Красноярский край, Россия
        .nd-company__data.nd-company__data_phone
            a.nd-company__data_link(href="") +7 (391) 234-63-42
        .nd-company__data.nd-company__data_site
            a.nd-company__data_link(href="" target="_blank") www.kia-motors.ru
