.nd-complaint-published
    h2.nd-complaint-published__title Ваша жалоба опубликована!

    img(src="i/complaint-published-positive-vote.nd-svg" alt="" class="complaint-published__picture")

    ul.nd-complaint-published__list
        li.nd-complaint-published__item Спасибо за проявленный интерес к нашему ресурсу.
        li.nd-complaint-published__item Не забудьте подтвердить свой e-mail.

    .nd-complaint-published__buttons
        .nd-complaint-published__buttons-column
            a.nd-button.nd-button_primary(href="#") На главную

            a.nd-button.nd-button_primary(href="#") К жалобе
