include ../layout/mixins

header.nd-header-page
    .nd-header-page__wrap
        .nd-header-page__navi
            
        a.nd-logo(href="#")
            img.nd-logo__img(src="i/logo.svg" alt="logo")
            
        .nd-header-page__btn
            span.nd-header-page__btn-line
            span.nd-header-page__btn-line
            span.nd-header-page__btn-line
            span.nd-header-page__btn-line
                
