.hint-block
    .hint-block__icon ?
    .hint-block__dropdown.hint-block__dropdown_right
        .hint-block__title Личные данные

        .hint-block__text Ваша информация скрыта от других пользователей и видна только представителям компании, на которую вы жалуетесь. Этот шаг не является обязательным, и его можно пропустить.
