.nd-hint-block
    .nd-hint-block__icon ?
    .nd-hint-block__dropdown.nd-hint-block__dropdown_right
        .nd-hint-block__title Личные данные

        .nd-hint-block__text Ваша информация скрыта от других пользователей и видна только представителям компании, на которую вы жалуетесь. Этот шаг не является обязательным, и его можно пропустить.
