<div class="hint-block">
    <div class="hint-block__icon">?</div>
    <div class="hint-block__dropdown hint-block__dropdown_right">
        <div class="hint-block__title">Личные данные</div>
        <div class="hint-block__text">Ваша информация скрыта от других пользователей и видна только представителям компании, на которую вы жалуетесь. Этот шаг не является обязательным, и его можно пропустить.</div>
    </div>
</div>
