.form-block__row
    .form-block__box.form-block__box_required
        input.form-block__inp(type="text" placeholder=" " id="")
        label.form-block__label Тема жалобы 
            span.form-block__sign ❋
    .form-block__hint 
                
