.nd-form-block__row
    .nd-form-block__box.nd-form-block__box_required
        input.nd-form-block__input.nd-form-block__input_with-icon(type="text" placeholder=" " id="")
        label.nd-form-block__label Название компании 
            span.nd-form-block__sign ❋
        span.nd-form-block__btn.nd-form-block__btn_edit
            
        .nd-form-block__tooltip.nd-form-block__tooltip_left.nd-form-block__tooltip_bottom-mobile(style="display: none;")
            .nd-form-block__tooltip-title Название компании

            .nd-form-block__tooltip-text Введите название компании с которой у Вас возникли проблемы.
            
        .nd-form-block__dropdown
            ul.nd-form-block__dropdown-list
                li.nd-form-block__dropdown-item
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA 
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA 
                li.nd-form-block__dropdown-item 
                    a.nd-form-block__dropdown-link(href="#") KIA Motors Краcноярск
    .nd-form-block__hint Не вводите в этом разделе свое имя или общие фразы.
