<div class="form-block__row">
  <div class="form-block__box">
    <input class="form-block__inp" type="text" placeholder=" " id=""/>
    <label class="form-block__label">Тема жалобы<span class="form-block__sign">❋</span></label>
  </div>
  <div class="form-block__hint"> </div>
</div>
