
<div class="form-block__row">
  <div class="form-block__box form-block__box_required">
    <input class="form-block__inp form-block__inp_with-icon" type="text" placeholder=" " id=""/>
    <label class="form-block__label">Название компании <span class="form-block__sign">❋</span></label><span class="form-block__btn form-block__btn_edit"></span>
    <div class="form-block__tooltip form-block__tooltip_left form-block__tooltip_bottom-mobile" style="display: block;">
      <div class="form-block__tooltip-title">Название компании</div>
      <div class="form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
    </div>
    <div class="form-block__dropdown">
      <ul class="form-block__dropdown-list">
        <li class="form-block__dropdown-item"><a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA </a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors</a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA </a></li>
        <li class="form-block__dropdown-item"> <a class="form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
      </ul>
    </div>
  </div>
  <div class="form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
</div>