
<div class="nd-form-block__row">
  <div class="nd-form-block__box nd-form-block__box_required">
    <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id=""/>
    <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
    <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
      <div class="nd-form-block__tooltip-title">Название компании</div>
      <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
    </div>
    <div class="nd-form-block__dropdown">
      <ul class="nd-form-block__dropdown-list">
        <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
      </ul>
    </div>
  </div>
  <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
</div>