ul.nd-social-block
    li.nd-social-block__item
        a.nd-social-block__link.nd-social-block__link_fb(href="#")
    li.nd-social-block__item
        a.nd-social-block__link.nd-social-block__link_vk(href="#")
    li.nd-social-block__item
        a.nd-social-block__link.nd-social-block__link_tw(href="#")
    li.nd-social-block__item
        a.nd-social-block__link.nd-social-block__link_in(href="#")
