<ul class="nd-social-block">
    <li class="nd-social-block__item">
        <a class="nd-social-block__link nd-social-block__link_fb" href="#"></a>
    </li>
    <li class="nd-social-block__item">
        <a class="nd-social-block__link nd-social-block__link_vk" href="#"></a>
    </li>
    <li class="nd-social-block__item">
        <a class="nd-social-block__link nd-social-block__link_tw" href="#"></a>
    </li>
    <li class="nd-social-block__item">
        <a class="nd-social-block__link nd-social-block__link_in" href="#"></a>
    </li>
</ul>
