ul.social-block
    li.social-block__item
        a.social-block__link.social-block__link_fb(href="#")
    li.social-block__item
        a.social-block__link.social-block__link_vk(href="#")
    li.social-block__item
        a.social-block__link.social-block__link_tw(href="#")
    li.social-block__item
        a.social-block__link.social-block__link_in(href="#")
