.steps-block
    ul.steps-block__list
        li.steps-block__item
            span.steps-block__box
                span.steps-block__icon.steps-block__icon_i1
        li.steps-block__item.steps-block__item_active
            span.steps-block__box
                span.steps-block__icon.steps-block__icon_i3
        li.steps-block__item.steps-block__item_disabled
            span.steps-block__box
                span.steps-block__icon.steps-block__icon_i4
        li.steps-block__item.steps-block__item_disabled
            span.steps-block__box
                span.steps-block__icon.steps-block__icon_i5
