
<div class="steps-block">
  <ul class="steps-block__list">
    <li class="steps-block__item"><span class="steps-block__box"><span class="steps-block__icon steps-block__icon_i1"></span></span></li>
    <li class="steps-block__item steps-block__item_active"><span class="steps-block__box"><span class="steps-block__icon steps-block__icon_i3"></span></span></li>
    <li class="steps-block__item steps-block__item_disabled"><span class="steps-block__box"><span class="steps-block__icon steps-block__icon_i4"></span></span></li>
    <li class="steps-block__item steps-block__item_disabled"><span class="steps-block__box"><span class="steps-block__icon steps-block__icon_i5"></span></span></li>
  </ul>
</div>