<div class="nd-steps-block">
    <ul class="nd-steps-block__list">
        <li class="nd-steps-block__item">
            <span class="nd-steps-block__box">
                <span class="nd-steps-block__icon nd-steps-block__icon_i1"></span>
            </span>
        </li>
        <li class="nd-steps-block__item nd-steps-block__item_active">
            <span class="nd-steps-block__box">
                <span class="nd-steps-block__icon nd-steps-block__icon_i3"></span>
            </span>
        </li>
        <li class="nd-steps-block__item nd-steps-block__item_disabled">
            <span class="nd-steps-block__box">
                <span class="nd-steps-block__icon nd-steps-block__icon_i4"></span>
            </span>
        </li>
        <li class="nd-steps-block__item nd-steps-block__item_disabled">
            <span class="nd-steps-block__box">
                <span class="nd-steps-block__icon nd-steps-block__icon_i5"></span>
            </span>
        </li>
    </ul>
</div>
