.nd-steps-block
    ul.nd-steps-block__list
        li.nd-steps-block__item
            span.nd-steps-block__box
                span.nd-steps-block__icon.nd-steps-block__icon_i1
        li.nd-steps-block__item.nd-steps-block__item_active
            span.nd-steps-block__box
                span.nd-steps-block__icon.nd-steps-block__icon_i3
        li.nd-steps-block__item.nd-steps-block__item_disabled
            span.nd-steps-block__box
                span.nd-steps-block__icon.nd-steps-block__icon_i4
        li.nd-steps-block__item.nd-steps-block__item_disabled
            span.nd-steps-block__box
                span.nd-steps-block__icon.nd-steps-block__icon_i5
