
<div class="nd-form-block__row">
  <div class="nd-form-block__box nd-form-block__box_required">
    <textarea class="nd-form-block__textarea" placeholder=" " id=""></textarea>
    <label class="nd-form-block__label">Текст жалобы <span class="nd-form-block__sign">❋</span></label>
    <div class="nd-form-block__tooltip nd-form-block__tooltip_left">
      <div class="nd-form-block__tooltip-title">Текст жалобы</div>
      <ul class="nd-form-block__tooltip-list">
        <li class="nd-form-block__tooltip-item">Опишите Вашу проблему;</li>
        <li class="nd-form-block__tooltip-item">Какие действия Вы уже предприняли для решения проблемы;</li>
        <li class="nd-form-block__tooltip-item">Включите как можно больше деталей;</li>
        <li class="nd-form-block__tooltip-item">Будьте дружелюбны, вежливы и избегайте нецензурную лексику;</li>
        <li class="nd-form-block__tooltip-item">Не угрожайте;</li>
        <li class="nd-form-block__tooltip-item">Старайтесь избегать опечаток;</li>
        <li class="nd-form-block__tooltip-item">Не сообщайте личную информацию;</li>
        <li class="nd-form-block__tooltip-item">Текст жалобы должен содержать не менее 350 символов.</li>
      </ul>
    </div>
  </div>
  <div class="nd-form-block__textarea-hint">
    <div class="nd-form-block__textarea-text">Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)</div>
    <div class="nd-form-block__textarea-counter"> <span class="nd-form-block__textarea-num">0</span>/350</div>
  </div>
</div>