.form-block__row
    .form-block__box.form-block__box_required
        textarea.form-block__t-area(placeholder=" " id="")
        label.form-block__label Текст жалобы 
            span.form-block__sign ❋
        
        .form-block__tooltip.form-block__tooltip_left
            .form-block__tooltip-title Текст жалобы

            ul.form-block__tooltip-list
                li.form-block__tooltip-item Опишите Вашу проблему;
                li.form-block__tooltip-item Какие действия Вы уже предприняли для решения проблемы;
                li.form-block__tooltip-item Включите как можно больше деталей;
                li.form-block__tooltip-item Будьте дружелюбны, вежливы и избегайте нецензурную лексику;
                li.form-block__tooltip-item Не угрожайте;
                li.form-block__tooltip-item Старайтесь избегать опечаток;
                li.form-block__tooltip-item Не сообщайте личную информацию;
                li.form-block__tooltip-item Текст жалобы должен содержать не менее 350 символов.
        
    .form-block__t-area-hint
        .form-block__t-area-text Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)
        .form-block__t-area-counter 
            span.form-block__t-area-num 0
            | /350
