.nd-form-block__row
    .nd-form-block__box.nd-form-block__box_required
        textarea.nd-form-block__textarea(placeholder=" " id="")
        label.nd-form-block__label Текст жалобы 
            span.nd-form-block__sign ❋
        
        .nd-form-block__tooltip.nd-form-block__tooltip_left
            .nd-form-block__tooltip-title Текст жалобы

            ul.nd-form-block__tooltip-list
                li.nd-form-block__tooltip-item Опишите Вашу проблему;
                li.nd-form-block__tooltip-item Какие действия Вы уже предприняли для решения проблемы;
                li.nd-form-block__tooltip-item Включите как можно больше деталей;
                li.nd-form-block__tooltip-item Будьте дружелюбны, вежливы и избегайте нецензурную лексику;
                li.nd-form-block__tooltip-item Не угрожайте;
                li.nd-form-block__tooltip-item Старайтесь избегать опечаток;
                li.nd-form-block__tooltip-item Не сообщайте личную информацию;
                li.nd-form-block__tooltip-item Текст жалобы должен содержать не менее 350 символов.
        
    .nd-form-block__textarea-hint
        .nd-form-block__textarea-text Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)
        .nd-form-block__textarea-counter 
            span.nd-form-block__textarea-num 0
            | /350
