
<div class="form-block__row">
  <div class="form-block__box form-block__box_required">
    <textarea class="form-block__t-area" placeholder=" " id=""></textarea>
    <label class="form-block__label">Текст жалобы <span class="form-block__sign">❋</span></label>
    <div class="form-block__tooltip form-block__tooltip_left">
      <div class="form-block__tooltip-title">Текст жалобы</div>
      <ul class="form-block__tooltip-list">
        <li class="form-block__tooltip-item">Опишите Вашу проблему;</li>
        <li class="form-block__tooltip-item">Какие действия Вы уже предприняли для решения проблемы;</li>
        <li class="form-block__tooltip-item">Включите как можно больше деталей;</li>
        <li class="form-block__tooltip-item">Будьте дружелюбны, вежливы и избегайте нецензурную лексику;</li>
        <li class="form-block__tooltip-item">Не угрожайте;</li>
        <li class="form-block__tooltip-item">Старайтесь избегать опечаток;</li>
        <li class="form-block__tooltip-item">Не сообщайте личную информацию;</li>
        <li class="form-block__tooltip-item">Текст жалобы должен содержать не менее 350 символов.</li>
      </ul>
    </div>
  </div>
  <div class="form-block__t-area-hint">
    <div class="form-block__t-area-text">Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)</div>
    <div class="form-block__t-area-counter"> <span class="form-block__t-area-num">0</span>/350</div>
  </div>
</div>