.upload-block
    .upload-block__col
        .upload-block__item
            .upload-block__photo
            .upload-block__name Изображение.jpg
            span.upload-block__icon
                
        .upload-block__item
            .upload-block__photo(style="background: url() no-repeat; background-color: yellow;")
            .upload-block__name Изображение.jpg
            .upload-block__icon 
    .upload-block__btn
        .form-block__tooltip.form-block__tooltip_left.form-block__tooltip_right-mobile(style="display: block;")
            .form-block__tooltip-title Документ

            .form-block__tooltip-text Прикрепите фото, видео, файлы
