.nd-upload-block
    .nd-upload-block__col
        .nd-upload-block__item
            .nd-upload-block__photo
            .nd-upload-block__name Изображение.jpg
            span.nd-upload-block__icon
                
        .nd-upload-block__item
            .nd-upload-block__photo(style="background: url() no-repeat; background-color: yellow;")
            .nd-upload-block__name Изображение.jpg
            .nd-upload-block__icon 
    .nd-upload-block__btn
        .nd-form-block__tooltip.nd-form-block__tooltip_left.nd-form-block__tooltip_right-mobile(style="display: none;")
            .nd-form-block__tooltip-title Документ

            .nd-form-block__tooltip-text Прикрепите фото, видео, файлы
