
<div class="upload-block">
  <div class="upload-block__col">
    <div class="upload-block__item">
      <div class="upload-block__photo"></div>
      <div class="upload-block__name">Изображение.jpg</div><span class="upload-block__icon"></span>
    </div>
    <div class="upload-block__item">
      <div class="upload-block__photo" style="background: url() no-repeat; background-color: yellow;"></div>
      <div class="upload-block__name">Изображение.jpg</div>
      <div class="upload-block__icon"> </div>
    </div>
  </div>
  <div class="upload-block__btn">
    <div class="form-block__tooltip form-block__tooltip_left form-block__tooltip_right-mobile" style="display: none;">
      <div class="form-block__tooltip-title">Документ</div>
      <div class="form-block__tooltip-text">Прикрепите фото, видео, файлы</div>
    </div>
  </div>
</div>