extends layout/main

block styles
    link(href="BN-exist-step3.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .nd-container-wrap
        .nd-white-block
            include modules/steps-block

            .nd-steps-form.nd-steps-form_step-3
                .nd-steps-form__text
                    h2.nd-steps-form__title Пожалуйста, предоставьте свои данные для связи компании с Вами.
                        include modules/hint-block

                form(method='POST' action='')
                    include modules/input
                    include modules/input
                    include modules/input
                    include modules/input
                    include modules/input

                    include modules/check-item

                    .nd-steps-form__buttons.nd-steps-form__buttons_center
                        button.nd-button.nd-button_send(type="submit") ОПУБЛИКОВАТЬ ЖАЛОБУ
