extends layout/main

block styles
    link(href="styles/css-pages/BN-exist.css" rel="stylesheet")

include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            include modules/steps-block

            include modules/company

            .steps-form.steps-form_step-0
                form(method='POST' action='')
                    .steps-form__section
                        h2.steps-form__title С какой проблемой Вы столкнулись?

                        include modules/input
                        include modules/textarea
                        include modules/upload-block
                    include modules/steps-form--buttons
