extends layout/main

block styles
    link(href="BN-exist.css" rel="stylesheet")

include layout/mixins

block title
    | Title

block content
    .nd-container-wrap
        .nd-white-block
            include modules/steps-block

            include modules/company

            .nd-steps-form.nd-steps-form_step-0
                form(method='POST' action='')
                    .nd-steps-form__section
                        h2.nd-steps-form__title С какой проблемой Вы столкнулись?

                        include modules/input
                        include modules/textarea
                        include modules/upload-block
                    include modules/steps-form--buttons
