extends layout/main

block styles
    link(href="BN-exist-step2.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            include modules/steps-block

            .steps-form.steps-form_step-2
                form(method='POST' action='')
                    .steps-form__section
                        h2.steps-form__title Какой результат решения проблемы Вы хотели бы получить?
                        
                        include modules/textarea
                    
                include modules/steps-form--buttons
