<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Title
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="i/icon" type="image/x-icon">
    <link href="BN-not-exist.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="nd-content">
      <div class="nd-container-wrap">
        <div class="nd-white-block">
          <div class="nd-steps-block">
            <ul class="nd-steps-block__list">
              <li class="nd-steps-block__item"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i1"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_active"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i3"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_disabled"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i4"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_disabled"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i5"></span></span></li>
            </ul>
          </div>
          <div class="nd-steps-form nd-steps-form_step-0">
            <form method="POST" action="">
              <div class="nd-steps-form__section">
                <h2 class="nd-steps-form__title">На кого Вы оставляете жалобу?</h2>
                <div class="nd-form-block__row">
                  <div class="nd-form-block__box nd-form-block__box_required">
                    <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id="">
                    <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
                    <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
                      <div class="nd-form-block__tooltip-title">Название компании</div>
                      <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
                    </div>
                    <div class="nd-form-block__dropdown">
                      <ul class="nd-form-block__dropdown-list">
                        <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
                </div>
              </div>
              <div class="nd-steps-form__section">
                <h2 class="nd-steps-form__title">С какой проблемой Вы столкнулись?</h2>
                <div class="nd-form-block__row">
                  <div class="nd-form-block__box nd-form-block__box_required">
                    <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id="">
                    <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
                    <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
                      <div class="nd-form-block__tooltip-title">Название компании</div>
                      <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
                    </div>
                    <div class="nd-form-block__dropdown">
                      <ul class="nd-form-block__dropdown-list">
                        <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                        <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
                </div>
                <div class="nd-form-block__row">
                  <div class="nd-form-block__box nd-form-block__box_required">
                    <textarea class="nd-form-block__textarea" placeholder=" " id=""></textarea>
                    <label class="nd-form-block__label">Текст жалобы <span class="nd-form-block__sign">❋</span></label>
                    <div class="nd-form-block__tooltip nd-form-block__tooltip_left">
                      <div class="nd-form-block__tooltip-title">Текст жалобы</div>
                      <ul class="nd-form-block__tooltip-list">
                        <li class="nd-form-block__tooltip-item">Опишите Вашу проблему;</li>
                        <li class="nd-form-block__tooltip-item">Какие действия Вы уже предприняли для решения проблемы;</li>
                        <li class="nd-form-block__tooltip-item">Включите как можно больше деталей;</li>
                        <li class="nd-form-block__tooltip-item">Будьте дружелюбны, вежливы и избегайте нецензурную лексику;</li>
                        <li class="nd-form-block__tooltip-item">Не угрожайте;</li>
                        <li class="nd-form-block__tooltip-item">Старайтесь избегать опечаток;</li>
                        <li class="nd-form-block__tooltip-item">Не сообщайте личную информацию;</li>
                        <li class="nd-form-block__tooltip-item">Текст жалобы должен содержать не менее 350 символов.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="nd-form-block__textarea-hint">
                    <div class="nd-form-block__textarea-text">Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)</div>
                    <div class="nd-form-block__textarea-counter"> <span class="nd-form-block__textarea-num">0</span>/350</div>
                  </div>
                </div>
                <div class="nd-upload-block">
                  <div class="nd-upload-block__col">
                    <div class="nd-upload-block__item">
                      <div class="nd-upload-block__photo"></div>
                      <div class="nd-upload-block__name">Изображение.jpg</div><span class="nd-upload-block__icon"></span>
                    </div>
                    <div class="nd-upload-block__item">
                      <div class="nd-upload-block__photo" style="background: url() no-repeat; background-color: yellow;"></div>
                      <div class="nd-upload-block__name">Изображение.jpg</div>
                      <div class="nd-upload-block__icon"> </div>
                    </div>
                  </div>
                  <div class="nd-upload-block__btn">
                    <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_right-mobile" style="display: none;">
                      <div class="nd-form-block__tooltip-title">Документ</div>
                      <div class="nd-form-block__tooltip-text">Прикрепите фото, видео, файлы</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nd-steps-form__section">
                <h2 class="nd-steps-form__title">Какой результат решения проблемы Вы хотели бы получить?</h2>
                <div class="nd-form-block__row">
                  <div class="nd-form-block__box nd-form-block__box_required">
                    <textarea class="nd-form-block__textarea" placeholder=" " id=""></textarea>
                    <label class="nd-form-block__label">Текст жалобы <span class="nd-form-block__sign">❋</span></label>
                    <div class="nd-form-block__tooltip nd-form-block__tooltip_left">
                      <div class="nd-form-block__tooltip-title">Текст жалобы</div>
                      <ul class="nd-form-block__tooltip-list">
                        <li class="nd-form-block__tooltip-item">Опишите Вашу проблему;</li>
                        <li class="nd-form-block__tooltip-item">Какие действия Вы уже предприняли для решения проблемы;</li>
                        <li class="nd-form-block__tooltip-item">Включите как можно больше деталей;</li>
                        <li class="nd-form-block__tooltip-item">Будьте дружелюбны, вежливы и избегайте нецензурную лексику;</li>
                        <li class="nd-form-block__tooltip-item">Не угрожайте;</li>
                        <li class="nd-form-block__tooltip-item">Старайтесь избегать опечаток;</li>
                        <li class="nd-form-block__tooltip-item">Не сообщайте личную информацию;</li>
                        <li class="nd-form-block__tooltip-item">Текст жалобы должен содержать не менее 350 символов.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="nd-form-block__textarea-hint">
                    <div class="nd-form-block__textarea-text">Не сообщайте в этом поле персональные данные (номера телефонов, кредитных карт и тд.)</div>
                    <div class="nd-form-block__textarea-counter"> <span class="nd-form-block__textarea-num">0</span>/350</div>
                  </div>
                </div>
              </div>
            </form>
            <div class="nd-steps-form__buttons"><a class="nd-steps-form__prev" href="#">Назад</a><a class="nd-steps-form__next" href="#">Далее</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>