extends layout/main

block styles
    link(href="BN-not-exist-step3.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .container-wrap
        .white-block
            .steps-block
                ul.steps-block__list
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i6
                    li.steps-block__item
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i2
                    li.steps-block__item.steps-block__item_active
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i4
                    li.steps-block__item.steps-block__item_disabled
                        span.steps-block__box
                            span.steps-block__icon.steps-block__icon_i5

            .steps-form.steps-form_step-3
                .steps-form__text
                    h2.steps-form__title Пожалуйста, предоставьте свои данные для связи компании с Вами.
                        include modules/hint-block

                form(method='POST' action='')
                    include modules/input
                    include modules/input
                    include modules/input
                    include modules/input
                    include modules/input

                    include modules/check-item

                    .steps-form__buttons.steps-form__buttons_center
                        button.btn-p.btn-p_send(type="submit") ОПУБЛИКОВАТЬ ЖАЛОБУ
