<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Title
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="i/icon" type="image/x-icon">
    <link href="Done-2nd-scenario-1.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="nd-content">
      <div class="nd-container-wrap">
        <div class="nd-white-block">
          <div class="nd-steps-block">
            <ul class="nd-steps-block__list">
              <li class="nd-steps-block__item"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i1"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_active"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i3"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_disabled"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i4"></span></span></li>
              <li class="nd-steps-block__item nd-steps-block__item_disabled"><span class="nd-steps-block__box"><span class="nd-steps-block__icon nd-steps-block__icon_i5"></span></span></li>
            </ul>
          </div>
          <div class="nd-complaint-published">
            <h2 class="nd-complaint-published__title">Ваша жалоба опубликована!</h2><img class="complaint-published__picture" src="i/complaint-published-positive-vote.nd-svg" alt="">
            <ul class="nd-complaint-published__list">
              <li class="nd-complaint-published__item">Спасибо за проявленный интерес к нашему ресурсу.</li>
              <li class="nd-complaint-published__item">Не забудьте подтвердить свой e-mail.</li>
            </ul>
            <div class="nd-complaint-published__buttons">
              <div class="nd-complaint-published__buttons-column"><a class="nd-button nd-button_primary" href="#">На главную</a><a class="nd-button nd-button_primary" href="#">К жалобе</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>