extends layout/main

block styles
    link(href="Done-2nd-scenario-2.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .nd-container-wrap
        .nd-white-block
            include modules/steps-block
            
            include modules/complaint-published
