extends layout/main

block styles
    link(href="Login-signup-1-2.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content
    .overlay    
    .popup
        span.popup__btn-close
        .popup__msg
            img.popup__msg-img(src="i/mail.svg" alt="")
            .popup__msg-title Ваш запрос успешно отправлен!
            
            .popup__msg-text Информация о восстановлении пароля была отправлена на personal123@gmail.com. Пожалуйста, проверьте Ваш почтовый ящик и следуйте инструкциям в письме.
                    

        
