extends layout/main

block styles
    link(href="Login-signup.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content    
    .nd-overlay    
    .nd-popup
        span.nd-popup__btn-close
        .nd-popup__ins
            .nd-popup__title Вход
            .nd-popup__subtext с помощью аккаунта в других сервисах
            
            include modules/social-block
            
            .nd-popup__or
                span.nd-popup__or-text или
                    
            form(method='POST' action='') 
                include modules/input
                include modules/input
            
                .nd-popup__text-recovery Забыли пароль?  
                    a.nd-popup__text-recovery-link(href="") Восстановить
                    
                .nd-popup__buttons
                    button.nd-button.nd-button_form(type="submit") Вход
                        
                .nd-popup__text-recovery Ещё не являетесь пользователем Huzhe.net? 
                    a.nd-popup__text-recovery-link(href="") Зарегистрироваться
        
