extends layout/main

block styles
    link(href="Login-signup-1-1.css" rel="stylesheet")
        
include layout/mixins

block title
    | Title

block content    
    .nd-overlay    
    .nd-popup.nd-popup_recovery
        span.nd-popup__btn-close
        .nd-popup__ins
            .nd-popup__title Восстановить пароль
                    
            form(method='POST' action='') 
                include modules/input
                
                .nd-popup__buttons
                    button.nd-button.nd-button_form(type="submit") Восстановить
                        
                .nd-popup__text-recovery Уже являетесь пользователем Huzhe.net? 
                    a.nd-popup__text-recovery-link(href="") Войти
        
