<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Title
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="i/icon" type="image/x-icon">
    <link href="Login-signup-1.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="nd-content">
      <div class="nd-overlay">   </div>
      <div class="nd-popup nd-popup_register"><span class="nd-popup__btn-close"></span>
        <div class="nd-popup__ins">
          <div class="nd-popup__title">Регистрация</div>
          <div class="nd-popup__subtext">с помощью аккаунта в других сервисах</div>
          <ul class="social-block">
            <li class="social-block__item"><a class="social-block__link social-block__link_fb" href="#"></a></li>
            <li class="social-block__item"><a class="social-block__link social-block__link_vk" href="#"></a></li>
            <li class="social-block__item"><a class="social-block__link social-block__link_tw" href="#"></a></li>
            <li class="social-block__item"><a class="social-block__link social-block__link_in" href="#"></a></li>
          </ul>
          <div class="nd-popup__or"><span class="nd-popup__or-text">или</span></div>
          <form method="POST" action=""> 
            <div class="nd-form-block__row">
              <div class="nd-form-block__box nd-form-block__box_required">
                <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id="">
                <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
                <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
                  <div class="nd-form-block__tooltip-title">Название компании</div>
                  <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
                </div>
                <div class="nd-form-block__dropdown">
                  <ul class="nd-form-block__dropdown-list">
                    <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                  </ul>
                </div>
              </div>
              <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
            </div>
            <div class="nd-form-block__row">
              <div class="nd-form-block__box nd-form-block__box_required">
                <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id="">
                <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
                <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
                  <div class="nd-form-block__tooltip-title">Название компании</div>
                  <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
                </div>
                <div class="nd-form-block__dropdown">
                  <ul class="nd-form-block__dropdown-list">
                    <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                  </ul>
                </div>
              </div>
              <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
            </div>
            <div class="nd-form-block__row">
              <div class="nd-form-block__box nd-form-block__box_required">
                <input class="nd-form-block__input nd-form-block__input_with-icon" type="text" placeholder=" " id="">
                <label class="nd-form-block__label">Название компании <span class="nd-form-block__sign">❋</span></label><span class="nd-form-block__btn nd-form-block__btn_edit"></span>
                <div class="nd-form-block__tooltip nd-form-block__tooltip_left nd-form-block__tooltip_bottom-mobile" style="display: none;">
                  <div class="nd-form-block__tooltip-title">Название компании</div>
                  <div class="nd-form-block__tooltip-text">Введите название компании с которой у Вас возникли проблемы.</div>
                </div>
                <div class="nd-form-block__dropdown">
                  <ul class="nd-form-block__dropdown-list">
                    <li class="nd-form-block__dropdown-item"><a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors</a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA </a></li>
                    <li class="nd-form-block__dropdown-item"> <a class="nd-form-block__dropdown-link" href="#">KIA Motors Краcноярск</a></li>
                  </ul>
                </div>
              </div>
              <div class="nd-form-block__hint">Не вводите в этом разделе свое имя или общие фразы.</div>
            </div>
            <div class="nd-check-item">
              <label class="nd-check-item__label">
                <input class="nd-check-item__input" type="checkbox" id="ch"><span class="nd-check-item__dot"></span><span class="nd-check-item__name">Внимание! Ваши данные будут скрыты от общего обозрения.<br /> Я ознакомлен и согласен <a class="nd-check-item__link" href="#">с правилами сайта </a>и <a class="nd-check-item__link" href="#">политикой конфиденциальности.</a></span>
              </label>
            </div>
            <div class="nd-popup__buttons">
              <button class="nd-button nd-button_form" type="submit">Зарегистрироваться</button>
            </div>
            <div class="nd-popup__text-recovery">Уже являетесь пользователем Huzhe.net? <a class="nd-popup__text-recovery-link" href="">Войти</a></div>
          </form>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>