
.container-wrap
    section.achievements
        h2.achievements__title Наши достижения
        
        .achievements__wrap
            .achievements__column
                .achievements__item.achievements__item_d1
                    .achievements__logo
                    .achievements__counter 125374
                    .achievements__descr Положительных решений
                    
            .achievements__column.achievements__column_first
                .achievements__dot
                    .achievements__dot-ins Опыт <br />15 ЛЕТ
                    
            .achievements__column
                .achievements__item.achievements__item_d2
                    .achievements__logo
                    .achievements__counter 797426
                    .achievements__descr Активных пользователей
                        
            .achievements__column
                .achievements__item.achievements__item_d3
                    .achievements__logo
                    .achievements__counter 2700
                    .achievements__descr Компаний
                        
            .achievements__column
                .achievements__item.achievements__item_d4
                    .achievements__logo
                    .achievements__counter 937255
                    .achievements__descr Количество просмотров
                        
            .achievements__column
                .achievements__item.achievements__item_d5
                    .achievements__logo
                    .achievements__counter 447823
                    .achievements__descr Количество Жалоб
            
                    
                
