.container__wrap
    section.achievements
        h2.achievements__title Наши достижения
        
        .achievements__wrap
            .achievements__column
                .achievements__item.achievements__item_decisions
                    .achievements__logo.wow
                    .achievements__counter
                        .odometr.odometr-1 000
                         
                    .achievements__descr Положительных решений
                    
            .achievements__column.achievements__column_first
                .achievements__dot.wow
                    .achievements__dot_ins Опыт <br />15 ЛЕТ
                    
            .achievements__column
                .achievements__item.achievements__item_users
                    .achievements__logo.wow
                    .achievements__counter 
                        .odometr.odometr-2 000
                    .achievements__descr Активных пользователей
                        
            .achievements__column
                .achievements__item.achievements__item_companies
                    .achievements__logo.wow
                    .achievements__counter 
                        .odometr.odometr-3 000
                    .achievements__descr Компаний
                        
            .achievements__column
                .achievements__item.achievements__item_views
                    .achievements__logo.wow
                    .achievements__counter 
                        .odometr-s.odometr-4 000
                    .achievements__descr Количество просмотров
                        
            .achievements__column
                .achievements__item.achievements__item_complaints
                    .achievements__logo.wow
                    .achievements__counter 
                        .odometr-s.odometr-5 000
                    .achievements__descr Количество Жалоб
            
                    
                
