
.container-wrap
    section.choose
        h2.choose__title Почему пользователи выбирают именно нас?
        
        .choose__text Пользователи Хуже.нет могут получить ряд преимуществ.
        
        .choose__wrap
            .choose__column
                .choose__item.choose__item_blue
                    .choose__photo(style="background: url(i/content/image1.png) center no-repeat; background-size: cover;")
                    .choose__box
                        a.choose__link(href="") Оставить отзыв
                        .choose__descr 
                            | На ХУЖЕ.НЕТ можно 
                            span.choose__word оставить отзыв 
                            | на сайт, бизнес, и франшизу с которым у вас возникла 
                            span.choose__word Неприятная 
                            | ситуация.
                            
            .choose__column        
                .choose__item.choose__item_turquoise
                    .choose__photo(style="background: url(i/content/image2.png) center no-repeat; background-size: cover;")
                    .choose__box
                        a.choose__link(href="") Получить информацию
                        .choose__descr 
                            span.choose__word Проверить 
                            | «профиль» компании, прежде чем решить 
                            span.choose__word купить 
                            | продукт или 
                            span.choose__word пользоваться 
                            | услугой данного бизнеса.
            
            .choose__column    
                .choose__item.choose__item_green
                    .choose__photo(style="background: url(i/content/image3.png) center no-repeat; background-size: cover;")
                    .choose__box
                        a.choose__link(href="") Делиться опытом
                        .choose__descr 
                            | Добавлять 
                            span.choose__word комментарии 
                            | к жалобам других пользователей и 
                            span.choose__word помогать 
                            | решать их проблему, поделившись своим 
                            span.choose__word опытом.
                    
            .choose__column    
                .choose__item.choose__item_pink
                    .choose__photo(style="background: url(i/content/image4.png) center no-repeat; background-size: cover;")
                    .choose__box
                        a.choose__link(href="") Вести открытый диалог
                        .choose__descr 
                            | Можно быстрее обратить 
                            span.choose__word внимание  
                            | компании на свою 
                            span.choose__word проблему.  
                            | Вся дискуссия происходит в 
                            span.choose__word открытом 
                            | виде и на кону репутация компании.
                    
            
                
