
footer.footer-page
    .footer-page__ins
        .footer-page__top
            .footer-page__title Хуже.нет
            
            .footer-page__wrap
                .footer-page__text Чтобы начать свой путь к восстановлению справедливости вам нужно совершить всего 3 шага: Пройти простую регистрацию на сайте, выбрать компанию с которой у вас возникли проблемы, и оставить отзыв. Компания свяжется с вами для решения проблемы.
                
                a.footer-page__btn(href="#") 
                    span.footer-page__btn-text Добавить жалобу
            
        .footer-page__bottom
            .footer-page__column-left
                a.footer-page__logo(href="#")
                    img.footer-page__logo-img(src="i/logo.svg" alt="logo")
                
                .footer-page__copyright
                    | © 2009-2021 <br /> Хуже.нет - книга жалоб в интернете
            
            .footer-page__column-center
                ul.footer-page__navi
                    li.footer-page__navi-item
                        span.footer-page__navi-title Меню
                    li.footer-page__navi-item
                        a.footer-page__navi-link(href="#") О нас
                    li.footer-page__navi-item
                        a.footer-page__navi-link(href="#") Контакты
                    li.footer-page__navi-item
                        a.footer-page__navi-link(href="#") Правила
                    li.footer-page__navi-item
                        a.footer-page__navi-link(href="#") Cookies
                    li.footer-page__navi-item
                        a.footer-page__navi-link(href="#") FAQ
                            
                .footer-page__copyright
                    | © Хуже.нет. Все права защищены.
                
            .footer-page__column-right
                .footer-page__social
                    .footer-page__social-title Мы в соцсетях
                    
                    ul.footer-page__social-list
                        li.footer-page__social-item
                            a.footer-page__social-btn.footer-page__social-btn_fb(href="")
                        li.footer-page__social-item
                            a.footer-page__social-btn.footer-page__social-btn.footer-page__social-btn_tw(href="")
                        li.footer-page__social-item
                            a.footer-page__social-btn.footer-page__social-btn_vk(href="")
                        li.footer-page__social-item
                            a.footer-page__social-btn.footer-page__social-btn_video(href="")
                
                ul.footer-page__links
                    li.footer-page__links-row
                        a.footer-page__links-item(href="#") Руководство для пользователей
                    li.footer-page__links-row
                        a.footer-page__links-item(href="#") Руководство для представителей
                    li.footer-page__links-row
                        a.footer-page__links-item(href="#") Политика конфиденциальности
