
header.header-page.header-page_logged
    .header-page__wrap
        .header-page__btn
            span.header-page__btn-line
            span.header-page__btn-line
            span.header-page__btn-line
            span.header-page__btn-line
                
        a.header-page__logo(href="#")
            img.header-page__logo-img(src="i/logo.svg" alt="logo")
                
        ul.header-page__menu
            li.header-page__menu-item
                a.header-page__menu-link(href="") Категории
            li.header-page__menu-item
                a.header-page__menu-link(href="") Компании
            li.header-page__menu-item
                a.header-page__menu-link(href="") О нас
            li.header-page__menu-item
                a.header-page__menu-link(href="") Контакты
                    
        .header-page__search
            .header-page__search-loupe
            form.header-page__search-wrap(method='POST' action='')
                input.header-page__search-input(type="text" placeholder="Искать компанию, категорию, жалобу")
                button.header-page__search-btn(type="submit")
                    
        .header-page__user
            .header-page__user-btn
            .header-page__user-dropdown
                ul.header-page__user-list
                    li.header-page__user-item
                        a.header-page__user-link(href="") Профиль
                    li.header-page__user-item
                        a.header-page__user-link(href="")
                            span.header-page__user-box Оповещения
                                span.header-page__user-msg 7
                    li.header-page__user-item
                        a.header-page__user-link(href="")
                            span.header-page__user-box Сообщения
                                span.header-page__user-msg 2
                    li.header-page__user-item
                        a.header-page__user-link(href="")
                            span.header-page__user-box Подписки
                                span.header-page__user-msg 5
                    li.header-page__user-item
                        a.header-page__user-link(href="") Настройки
                    li.header-page__user-item
                        a.header-page__user-link(href="") Выход
            
        a.header-page__add-complaint.header-page__add-complaint_main(href="") Добавить жалобу
            
        .header-page__mob-dropdown.header-page__mob-dropdown_navi
            ul.header-page__navi
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Категории
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Компании
                li.header-page__navi-item
                    a.header-page__navi-link(href="") О нас
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Контакты
                
            a.header-page__add-complaint(href="") Добавить жалобу
            
        .header-page__mob-dropdown.header-page__mob-dropdown_active
            ul.header-page__navi
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Профиль
                li.header-page__navi-item
                    a.header-page__navi-link(href="")
                        span.header-page__navi-box Оповещения
                            span.header-page__navi-msg 7
                li.header-page__navi-item
                    a.header-page__navi-link(href="")
                        span.header-page__navi-box Сообщения
                            span.header-page__navi-msg 2
                li.header-page__navi-item
                    a.header-page__navi-link(href="")
                        span.header-page__navi-box Подписки
                            span.header-page__navi-msg 5
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Настройки
                li.header-page__navi-item
                    a.header-page__navi-link(href="") Выход
