
section.main-slide
    .container-wrap
        .main-slide__box
            .main-slide__column
                h1.main-slide__title ХУЖЕ.НЕТ
                
                .main-slide__text 
                    span.main-slide__item Хуже.нет - 
                    | один из самых крупных сайтов жалоб. Мы успешно помогаем тысячам потребителей каждый день 
                    span.main-slide__item добиться справедливости. 
                    | У нас более 
                    span.main-slide__item 10 лет 
                    | опыта борьбы за права потребителей и обеспечение наилучшего опыта в решении возникших проблем с компаниями. За прошедшие годы мы помогли решить более чем 
                    span.main-slide__item 100,000 проблем  
                    | потребителей 
                    span.main-slide__item с 2,700 компаниями.
                
                .main-slide__row
                    a.main-slide__btn(href="") 
                        span.main-slide__btn-text Добавить жалобу
            .main-slide__picture    
                img.main-slide__img(src="i/about-us.png" alt="")

        
                    
                
