
header.page-header
    .page-header__wrap
        .page-header__btn
            span.page-header__btn-line
            span.page-header__btn-line
            span.page-header__btn-line
            span.page-header__btn-line
                
        a.page-header__logo(href="#")
            img.page-header__logo-img(src="i/logo.svg" alt="logo")
                
        ul.page-header__menu
            li.page-header__menu-item
                a.page-header__menu-link(href="") Категории
            li.page-header__menu-item
                a.page-header__menu-link(href="") Компании
            li.page-header__menu-item
                a.page-header__menu-link(href="") О нас
            li.page-header__menu-item
                a.page-header__menu-link(href="") Контакты
                    
        .page-header__search
            .page-header__search-loupe
            form.page-header__search-wrap(method='POST' action='')
                input.page-header__search-input(type="text" placeholder="Искать компанию, категорию, жалобу")
                button.page-header__search-btn(type="submit")
                    
        .page-header__user(style="display: none;")
            .page-header__user-btn
            .page-header__user-dropdown
                ul.page-header__user-list
                    li.page-header__user-item
                        a.page-header__user-link(href="") Профиль
                    li.page-header__user-item
                        a.page-header__user-link(href="")
                            span.page-header__user-box Оповещения
                                span.page-header__user-msg 7
                    li.page-header__user-item
                        a.page-header__user-link(href="")
                            span.page-header__user-box Сообщения
                                span.page-header__user-msg 2
                    li.page-header__user-item
                        a.page-header__user-link(href="")
                            span.page-header__user-box Подписки
                                span.page-header__user-msg 5
                    li.page-header__user-item
                        a.page-header__user-link(href="") Настройки
                    li.page-header__user-item
                        a.page-header__user-link(href="") Выход
            
        a.page-header__add-complaint.page-header__add-complaint_main(href="") Добавить жалобу
        
        .page-header__user.page-header__user_enter
            .page-header__user-login Войти
            .page-header__user-dropdown
                ul.page-header__user-list
                    li.page-header__user-item
                        a.page-header__user-link(href="") Войти
                    li.page-header__user-item
                        a.page-header__user-link(href="") Зарегистрироваться
            
                a.page-header__add-complaint(href="") Добавить жалобу
            
        .page-header__mob-dropdown.page-header__mob-dropdown_navi
            ul.page-header__navi
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Категории
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Компании
                li.page-header__navi-item
                    a.page-header__navi-link(href="") О нас
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Контакты
                
            a.page-header__add-complaint(href="") Добавить жалобу
            
        .page-header__mob-dropdown.page-header__mob-dropdown_register
            ul.page-header__navi
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Войти
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Зарегистрироваться
                
            a.page-header__add-complaint(href="") Добавить жалобу
            
        .page-header__mob-dropdown.page-header__mob-dropdown_active
            ul.page-header__navi
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Профиль
                li.page-header__navi-item
                    a.page-header__navi-link(href="")
                        span.page-header__navi-box Оповещения
                            span.page-header__navi-msg 7
                li.page-header__navi-item
                    a.page-header__navi-link(href="")
                        span.page-header__navi-box Сообщения
                            span.page-header__navi-msg 2
                li.page-header__navi-item
                    a.page-header__navi-link(href="")
                        span.page-header__navi-box Подписки
                            span.page-header__navi-msg 5
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Настройки
                li.page-header__navi-item
                    a.page-header__navi-link(href="") Выход
