
footer.page-footer
    .page-footer__ins
        .page-footer__top
            .page-footer__title Хуже.нет
            
            .page-footer__wrap
                .page-footer__text Чтобы начать свой путь к восстановлению справедливости вам нужно совершить всего 3 шага: Пройти простую регистрацию на сайте, выбрать компанию с которой у вас возникли проблемы, и оставить отзыв. Компания свяжется с вами для решения проблемы.
                
                a.page-footer__btn(href="#") 
                    span.page-footer__btn-text Добавить жалобу
            
        .page-footer__bottom
            .page-footer__column-left
                a.page-footer__logo(href="#")
                    img.page-footer__logo-img(src="i/logo.svg" alt="logo")
                
                .page-footer__copyright
                    | © 2009-2021 <br /> Хуже.нет - книга жалоб в интернете
            
            .page-footer__column-center
                ul.page-footer__navi
                    li.page-footer__navi-item
                        span.page-footer__navi-title Меню
                    li.page-footer__navi-item
                        a.page-footer__navi-link(href="#") О нас
                    li.page-footer__navi-item
                        a.page-footer__navi-link(href="#") Контакты
                    li.page-footer__navi-item
                        a.page-footer__navi-link(href="#") Правила
                    li.page-footer__navi-item
                        a.page-footer__navi-link(href="#") Cookies
                    li.page-footer__navi-item
                        a.page-footer__navi-link(href="#") FAQ
                            
                .page-footer__copyright
                    | © Хуже.нет. Все права защищены.
                
            .page-footer__column-right
                .page-footer__social
                    .page-footer__social-title Мы в соцсетях
                    
                    ul.page-footer__social-list
                        li.page-footer__social-item
                            a.page-footer__social-btn.page-footer__social-btn_fb(href="")
                        li.page-footer__social-item
                            a.page-footer__social-btn.page-footer__social-btn.page-footer__social-btn_tw(href="")
                        li.page-footer__social-item
                            a.page-footer__social-btn.page-footer__social-btn_vk(href="")
                        li.page-footer__social-item
                            a.page-footer__social-btn.page-footer__social-btn_video(href="")
                
                ul.page-footer__links
                    li.page-footer__links-row
                        a.page-footer__links-item(href="#") Руководство для пользователей
                    li.page-footer__links-row
                        a.page-footer__links-item(href="#") Руководство для представителей
                    li.page-footer__links-row
                        a.page-footer__links-item(href="#") Политика конфиденциальности
