
.container-wrap
    section.partners
        h2.partners__title Сотрудничество с компаниями
        
        .partners__text Компании которые сотрудничают с Хуже.нет получают много преимуществ, которые помогут в развитии бизнеса и повысят доверие и лояльность клиентов. Хуже.нет предлагает следующие преимущества для компаний.
        
        .partners__wrap
            .partners__column
                .partners__box.partners__box_blue
                    .partners__icon
                    .partners__subtitle Мониторинг
                    .partners__descr 
                        span.partners__word Мониторинг  
                        | своей 
                        span.partners__word репутации 
                        | и возможность узнать с какими 
                        span.partners__word проблемами  
                        | чаще всего сталкиваются потребители.
            .partners__column        
                .partners__box.partners__box_turquoise
                    .partners__icon
                    .partners__subtitle Диалог
                    .partners__descr Возможность 
                        span.partners__word отвечать 
                        | на жалобы.
                
            .partners__column.partners__column_last     
                .partners__box
                    .partners__greeting Приветствуем Вас в команде
                    a.partners__btn(href="") 
                        span.partners__btn-text Связаться с нами
            .partners__column        
                .partners__box.partners__box_green
                    .partners__icon
                    .partners__subtitle Альтернативные возможности
                    .partners__descr 
                        | ХУЖЕ.НЕТ может использоваться как 
                        span.partners__word дополнительная  
                        | платформа для вашей 
                        span.partners__word службы поддержки 
                        |, чтобы быстро 
                        span.partners__word решать  
                        | возникшие проблемы.
            .partners__column        
                .partners__box.partners__box_purple
                    .partners__icon
                    .partners__subtitle Регистрация представителя
                    .partners__descr 
                        | Каждая компания может бесплатно   
                        span.partners__word зарегистрировать  
                        | своего 
                        span.partners__word представителя.
            
            .partners__column    
                .partners__box.partners__box_pink
                    .partners__icon
                    .partners__subtitle Повышение лояльности
                    .partners__descr 
                        | Наконец, ХУЖЕ.НЕТ помогает компаниям 
                        span.partners__word повысить  лояльность 
                        | клиентов за счет 
                        span.partners__word прозрачного 
                        | ведения бизнеса.
                
