
.container__wrap
    section.worth
        h2.worth__title Наши ценности
        
        .worth__section
            .worth__item
                .worth__number 1
                .worth__subtitle Индивидуальный подход
                .worth__text Индивидуальный подход и скрупулезное изучение ситуации, является ключом к успешному решению проблемы пострадавшего потребителя и компании.
                    
            .worth__item
                .worth__number 2
                .worth__subtitle Прозрачность
                .worth__text Наша команда всегда открыта к общению и изучению сложившейся ситуации как с точки зрения потребителя, так и с перспективы компании, чтобы увидеть полную картину и найти общее решение.
                    
            .worth__item
                .worth__number 3
                .worth__subtitle Многолетний опыт
                .worth__text Мы имеем огромный опыт накопленный годами работы с разными пользователями и всегда рады делится этим опытом с компаниями, чтобы помочь улучшить ведение своего бизнеса.
                    
            .worth__item
                .worth__number 4
                .worth__subtitle Следование принципам
                .worth__text У нас есть строгий этический кодекс, которому мы следуем, чтобы наша платформа была объективной по отношению ко всем.
                    
                
