.search-block
    form.search-block__wrap(method='POST' action='')
        input.search-block__input(type="text" placeholder="Введите название категории")
        button.search-block__btn(type="submit")
                    
