.comment.comment_resolved
    .comment__header.comment__header_center
        .comment__logo(style="background: url(i/logo-1.png) center no-repeat; background-size: contain;")
        a.comment__subtitle(href="#") KIA Motors
            span.tooltip.tooltip_verified-b
                span.tooltip__icon
                span.tooltip__dropdown
                    span.tooltip__title Сведения об учетной записи
                    span.tooltip__text  Эта учетная запись была проверена администрацией huzhe.net
            
    .comment__row.comment__row_center
        .comment__data
            a.comment__location(href="#") Россия, г. Красноярск 
                
    a.comment__sublink(href="") “Персонал компании проявил халатность в обслуживании”
    
    .comment__icon
            
    .comment__bottom
        a.comment__category(href="#") Авто/Транспорт
        
        .comment__info
            .comment__info-date 24 Февр. 2020
            .comment__info-time 8 мин
                
                    
                    
