.comment.comment_last
    .comment__header
        .comment__logo(style="background-size: contain;")
        a.comment__subtitle(href="#")
            span.comment__subtitle-selected KIA Motors Красноярск
                span.tooltip.tooltip_verified-g
                    span.tooltip__icon
                    span.tooltip__dropdown
                        span.tooltip__title Сведения об учетной записи
                        span.tooltip__text  Эта учетная запись была проверена администрацией huzhe.net
            | — Персонал компании проявил халатность в обслуживании клиента.
            
    .comment__row
        span.comment__ava
        .comment__column
            .comment__name
                a.comment__name-link(href="") Родион Раскольников
                span.tooltip.tooltip_verified-b
                    span.tooltip__icon
                    span.tooltip__dropdown
                        span.tooltip__title Сведения об учетной записи
                        span.tooltip__text Эта учетная запись была проверена администрацией huzhe.net
            
            .comment__data
                .comment__info
                    .comment__info-date 24 Февр. 2020
                    .comment__info-time 8 мин
                    
                a.comment__location(href="#") Россия, г. Красноярск 
                    
    .comment__article Записалась на ТО на 12:30. В итоге приходят через час и извиняются что автомобиль не могут пока обслуживать занят подъемник, посидите ещё чуток. Вопрос на какой черт записывать по времени. Дали б машину на подмену было отлично, но как не спрошу все машины заняты. Не удивлюсь если в очередной раз не смогут открутить защиту двигателя и сорвут резьбу.
            
    .comment__bottom
        a.comment__category(href="#") Авто/Транспорт
                
                    
                    
