section.last-complaints
    .page-container__wrap
        h2.last-complaints__title Последние жалобы и отзывы
        
        mixin item
            .last-complaints__item
                include comment
        
        .last-complaints__carousel
            +item
            +item
            +item
            +item
            +item
            +item
        
        .last-complaints__subtitle
            .last-complaints__subtitle-item Больше жалоб
    
                    
                    
                    
