
section.main-slide.main-slide_start
    .page-container__wrap
        .main-slide__box
            .main-slide__search
                include ../../catalog/modules/search-block
            
            .main-slide__column
                h1.main-slide__title Хуже.нет – независимая платформа, где потребители и компании могут найти общий язык.
                
                .main-slide__text Пройдите простую регистрацию, опишите свою ситуацию, и представитель компании свяжется с вами для решения проблемы.
                
                .main-slide__row
                    a.main-slide__btn(href="") 
                        span.main-slide__btn-text Добавить жалобу
            .main-slide__picture
                .main-slide__animation-box
                    img.main-slide__animation-box-img(src="i/illustration_main.svg" alt="")
                    .main-slide__animation-box-ins
                        img.main-slide__animation-box-img-hide(src="i/illustration_main_hover.svg" alt="")

        
                    
                
