section.most-complaints
    .page-container__wrap
        h2.most-complaints__title Категории с наибольшим количеством жалоб
        
        ul.most-complaints__list
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_shopping(href="") Интернет-магазин 
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_trade(href="") Розничная торговля
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_internet(href="") Интернет 
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_car(href="") Авто/Транспорт
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_subway(href="") Общественный транспорт
            li.most-complaints__item 
                a.most-complaints__link.most-complaints__link_menu(href="") Все категории
    
                    
                    
                    
