section.recently-companies
    .page-container__wrap
        h2.recently-companies__title Недавно зарегистрированные компании
        
        .recently-companies__box
            .recently-companies__search
                include ../../catalog/modules/search-block
                
            .recently-companies__row
                .recently-companies__column
                    .recently-companies__logo.recently-companies__logo_black
                        img.recently-companies__img(src="i/logo-7.png" alt="")
                .recently-companies__column
                    .recently-companies__logo
                        img.recently-companies__img(src="i/logo-4.png" alt="")
                .recently-companies__column
                    .recently-companies__logo.recently-companies__logo_black
                        img.recently-companies__img(src="i/logo-6.png" alt="")
                
                .recently-companies__column
                    .recently-companies__logo
                        img.recently-companies__img(src="i/logo-3.png" alt="")
                .recently-companies__column
                    .recently-companies__logo.recently-companies__logo_blue
                        img.recently-companies__img(src="i/logo-5.png" alt="")
                .recently-companies__column
                    .recently-companies__logo 
                        img.recently-companies__img(src="i/logo-2.png" alt="") 
                
            .recently-companies__subtitle
                .recently-companies__subtitle-item Все компании
    
    
    
                    
                    
                    
