section.resolved-complaints
    .page-container__wrap
        h2.resolved-complaints__title Эти жалобы уже решены
        
        mixin item
            .resolved-complaints__item
                include comment_resolved
                
        .resolved-complaints__carousel
            +item
            +item
            +item
            +item
            +item
            +item
        
    
    
                    
                    
                    
