.comment
    .comment__header
        .comment__logo(style="background: url(i/kia.png) center no-repeat; background-size: contain;")
        a.comment__subtitle(href="#")
            span.comment__subtitle-selected KIA Motors Красноярск
                span.tooltip.tooltip_verified-g
                    span.tooltip__icon
                    span.tooltip__dropdown
                        span.tooltip__title Сведения об учетной записи
                        span.tooltip__text  Эта учетная запись была проверена администрацией huzhe.net
                        
            | — Персонал компании проявил халатность в обслуживании клиента.
    .comment__line
            
    .comment__row.comment__row_start
        span.comment__ava
        .comment__column
            .comment__name
                a.comment__name-link(href="") Родион Раскольников
                    
                span.tooltip.tooltip_verified-b
                    span.tooltip__icon
                    span.tooltip__dropdown
                        span.tooltip__title Сведения об учетной записи
                        span.tooltip__text Эта учетная запись была проверена администрацией huzhe.net
            
            .comment__descr Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            
            .comment__time-post 8 мин
                            
                    
