.popup__overlay

.popup__box
    .popup__btn.popup__btn_close
        
    .popup__title Подтвердить e-mail
        
    img.popup__icon.popup__icon_email(src="i/icon-email.svg" alt="")
        
    form.popup__form(method='POST' action='')
        .popup__row
            label.popup__label Ваш e-mail адрес
            
            input.popup__input(type="text" placeholder="example123@gmail.com")
            
        .popup__buttons
            button.popup__btn.popup__btn_submit.popup__btn_width(type="submit") Далее
        
        
