.popup__overlay

.popup__box
    .popup__btn.popup__btn_close
        
    .popup__title Подтвердить e-mail
        
    img.popup__icon.popup__icon_email(src="i/icon-email.svg" alt="")
        
    .popup__text На указанный e-mail адрес было отправлено письмо с подтверждением Вашей учетной записи. Пожалуйста, проверьте Вашу электронную почту и следуйте инструкциям в письме.
        
        
